.attractions-container{
    background: url("../images/bg2.jpg");
    width: 100%;
    height: initial;
    /*padding-bottom: 80px;*/
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.heading-attractions{
    font-size: 30px;
    font-family: "Roboto", "Adobe Blank";
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: white;
    margin-bottom: 0;
}
.attractions-line{
    border-top: 1px solid #aaaaaa;
    width: 90%;
}
.content{
    width: 57%;
	margin: 0 auto;
	border-top: 1px solid rgba(226, 226, 226, 0.69);
	border-right: 1px solid rgba(226, 226, 226, 0.22);
	border-bottom: 1px solid rgba(51, 51, 51, 0.26);
	border-left: 1px solid rgba(151, 151, 151, 0.28);
	-webkit-background-origin: border-box;
	-moz-background-origin: border;
	background-origin: border-box;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, .15)), to(rgba(0, 0, 0, .25))), -webkit-gradient(linear, left top, right bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(0.5, rgba(255, 255, 255, .15)), color-stop(0.501, rgba(255, 255, 255, 0)), color-stop(1, rgba(255, 255, 255, 0)));
	background: -moz-linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), -moz-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
	background: linear-gradient(top, rgba(255, 255, 255, .15), rgba(0, 0, 0, .25)), linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
	padding: 2em;
	margin-top: 1em;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
}
.content-grid h1{
	color:#FFF;
    font-family: "Roboto", "Adobe Blank";
	font-size: 1em;
}
.content-grid h2{
	color: #FFF;
    font-family: "Roboto", "Adobe Blank";
	font-size: 1em;
	margin: 0 auto;
}


.attractions-paper{

    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(255, 255, 255, 0.7);
    font-family: Roboto, sans-serif;
    height: 100%;
    width: 100%;
    margin: 20px 0px 20px 0px;
    text-align: center;
    display: block;
    padding-top: 10px;
}

.sponsor-container{
    background: url("../../../static/axis/images/whirlpool.png");
    width: 100%;
    height: initial;
}

.img-responsive{
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.sponsor-line{
    border-top: 1px solid #aaaaaa;
    width: 80%
}


.title-s{
    height: 350px;
}

@media screen and (max-width: 700px) {


  .proshow_spons{
    height: 250px;
  }

  .audio_spons{
    width: 50%;
  }

  .title-s{
      height: 200px;
  }
}

.box{
	width: 100%;
    padding: 10px;
	height:100%;
    border: 2px solid gray;
    color: black;
}

.outer-box{
    padding-top: 2%;
}

#igniting{
    border:2px solid white;
}
.modal-content{
    color: #696969;
}

