@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif !important;
    color: #f2ede3;
    /*background-image: url('../images/whirlpool.png');*/
    background-color: black !important;
    /*font-size: 0.9em !important;*/
    /*font-weight: 300 !important;*/
	overflow-x: hidden;
}

a {
	color: #f0f0f0;
	text-decoration: none !important;
	font-weight: 700;
	letter-spacing: 2px;
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 13px !important;
}

a:hover {
	/*color: #fff;*/
	text-decoration: none !important;
}

.container { height: 100%; }

.bl-main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.bl-main > section {
	position: absolute;
}

/*.bl-main > section:nth-child(2) {*/
	/*!*top: 10%;*!*/
	/*left: 10%;*/
	/*width: 20%;*/
	/*height: 30%;*/
	/*background: #FFFFFF;*/
/*}*/

.bl-main > section:nth-child(3) {
	/*top: 10%;*/
	left: 10%;
	width: 20%;
	height: 30%;
	background: #FFFFFF;
}

.bl-main > section:nth-child(4) {
	/*top: 10%;*/
	left: 40%;
	width: 20%;
	height: 30%;
	background: #FFFFFF;
}

.bl-main > section:nth-child(5) {
	/*top: 10%;*/
	left: 70%;
	width: 20%;
	height: 30%;
	background: #FFFFFF;
}

.bl-main > section:nth-child(6) {
	top: 45%;
	left: 10%;
	width: 20%;
	height: 30%;
	background: #FFFFFF;
}

.bl-main > section:nth-child(7) {
	top: 45%;
	left: 40%;
	width: 20%;
	height: 30%;
	background: #FFFFFF;
}

.bl-main > section:nth-child(8) {
	top: 45%;
	left: 70%;
	width: 20%;
	height: 30%;
	background: #FFFFFF;
}

.bl-box {
	position: relative;
	/*display: none;*/
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 1;
	background-color: #F2F2F2;
	/* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box h2 {
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
	font-size: 1.8em;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

.bl-icon {
	font-family: 'icomoon', serif;
	color: #000000;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}

.bl-icon:before {
	display: block;
	font-size: 2em;
	margin-bottom: 10px;
}

.bl-icon-about:before {
	content: "\e000";
}

.bl-icon-works:before {
	content: "\e001";
}

.bl-icon-blog:before {
	content: "\e002";
}

.bl-icon-contact:before {
	content: "\e003";
}

.bl-main > section .bl-icon-close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	pointer-events: none;
}

.bl-icon-close:before {
	content: "\e005";
}

.bl-content, 
div.bl-panel-items > div > div {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	padding: 0 20px;
	overflow: hidden;
	overflow-y: auto;
}

/* Custom content */

.bl-content p {
	margin: 0 auto;
	padding-bottom: 15px;
	font-size: 1.7em;
	line-height: 1.8;
}

.bl-content h2 {
	font-size: 3em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

.bl-content article {
	padding: 20px 40px 20px 0;
}

.bl-content article h3 {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px 0;
	padding-top: 20px;
	font-size: 1.4em;
}

.bl-content article a {
	color: rgba(0,0,0,0.2);
}

.bl-content > ul {
	list-style: none;
	padding: 0;
	margin: 0;
} 

.bl-content > ul li {
	display: inline-block;
	width: 20%;
	margin: 1%;
}

.bl-content > ul li a {
	display: block;
	padding: 0;
	border: 8px solid rgba(0,0,0,0.1);
}

.bl-content > ul li a img {
	display: block;
	max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items > div {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.bl-panel-items > div > div {
	width: 90%;
	margin: 0 auto;
	opacity: 1;
	bottom: 90px;
	/*top: 90px;*/
	pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
	font-size: 2.4em;
	font-weight: 300;
	margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
	font-size: 1.3em;
}

div.bl-panel-items > div > div img {
	float: left;
	margin: 0 20px 20px 0;
	max-width: 70%;
}

div.bl-panel-items {
	top: 100%;
	z-index: 9999;
}

div.bl-panel-items > div {
	/*background: #3ba5db;*/
	background-image: url("../images/event_backgrounds/crepido.jpg");
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(0);
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-moz-transform: translateY(0);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	transform: translateY(0);
	transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
	-ms-transform: translateY(0);
}

/*div.bl-panel-items nav {*/
	/*position: absolute;*/
	/*z-index: 9999;*/
	/*width: 216px;*/
	/*left: 50%;*/
	/*top: -95% !important;*/
	/*margin-left: -108px;*/
	/*opacity: 0;*/
	/*-webkit-transition: opacity 0.2s ease-in-out 0.5s;*/
	/*-moz-transition: opacity 0.2s ease-in-out 0.5s;*/
	/*transition: opacity 0.2s ease-in-out 0.5s;*/
/*}*/

/*div.bl-panel-items.bl-panel-items-show nav span {*/
	/*//float: left;*/
	/*//margin: -305% 0 0 310%;*/
/*}*/

/*div.bl-panel-items nav span.bl-next-work {*/
	/*font-weight: 700;*/
	/*letter-spacing: 2px;*/
	/*display: block;*/
	/*text-transform: uppercase;*/
	/*line-height: 2em;*/
	/*cursor: pointer;*/
	/*margin-right: 2em;*/
/*}*/

/*div.bl-panel-items.bl-panel-items-show nav {*/
	/*right: 0;*/
    	/*width: 0;*/
    	/*opacity: 1;*/
    	/*margin: auto;*/
	/*margin-left: 37%;*/
	/*!*top: -70px;*!*/
/*}*/




div.bl-panel-items nav {
	position: absolute;
	z-index: 9999;
	/*width: 216px;*/
	left: 98%;
	top: -98% !important;
	margin-left: -108px;
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-in-out 0.5s;
	-moz-transition: opacity 0.2s ease-in-out 0.5s;
	transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
	float: left;
	/*margin: -305% 0 0 310%;*/
}

div.bl-panel-items nav span.bl-next-work {
	font-weight: 700;
	letter-spacing: 2px;
	display: block;
	text-transform: uppercase;
	line-height: 2em;
	cursor: pointer;
	margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
	opacity: 1;
	top: -70px;
}


div.bl-panel-items > div.bl-show-work {
	z-index: 1000;
	opacity: 1;
	-webkit-transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	-moz-transform: translateY(-100%);
	-moz-transition: -moz-transform 0.5s ease-in-out;
	transform: translateY(-100%);
	transition: transform 0.5s ease-in-out;
	-ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-webkit-transform: translateY(-100%) scale(0.5);
	-moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transform: translateY(-100%) scale(0.5);
	transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transform: translateY(-100%) scale(0.5);
	-ms-transform: translateY(-100%) scale(0.5);
	z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main > section {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bl-main > section.bl-expand {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.bl-main > section.bl-expand-top {
	z-index: 100;
}

.bl-main > section:nth-child(3).bl-expand {
	background: #000000 url("../images/asfalt-light.png");
}
.bl-main > section:nth-child(4).bl-expand {
	background: #000000 url("../images/asfalt-light.png");
}
.bl-main > section:nth-child(5).bl-expand {
	background: #000000 url("../images/asfalt-light.png");
}
.bl-main > section:nth-child(6).bl-expand {
	background: #000000 url("../images/asfalt-light.png");
}
.bl-main > section:nth-child(7).bl-expand {
	background: #000000 url("../images/asfalt-light.png");
}
.bl-main > section:nth-child(8).bl-expand {
	background: #000000 url("../images/asfalt-light.png");
}

.bl-main.bl-expand-item > section:not(.bl-expand),
.bl-main.bl-expand-item > section.bl-scale-down {
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);
	opacity: 0;
}

section.bl-expand .bl-box {
	opacity: 0;
	-webkit-transition: opacity 0s linear;
	-moz-transition: opacity 0s linear;
	transition: opacity 0s linear;
}

.bl-box h2 {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

/*.no-touch section:not(.bl-expand) .bl-box:hover h2 {*/
	/*-webkit-transform: translateY(-25px);*/
	/*-moz-transform: translateY(-25px);*/
	/*-ms-transform: translateY(-25px);*/
	/*transform: translateY(-25px);*/
/*}*/

/*.bl-box:hover {*/
	/*box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;*/
/*}*/

.info {
	color: #000000;
	display: none;
}

.bl-box:hover .info {
	display: block;
}

/*.bl-box:hover .image {*/
	/*-webkit-animation: fade 0.5s;*/
	/*opacity: 0;*/
/*}*/
/**/
/*@-webkit-keyframes fade {*/
  /*from { opacity: 1; }*/
  /*to { opacity: 0; }*/
/*}*/
/**/
/*@keyframes fade {*/
  /*from { opacity: 1; }*/
  /*to { opacity: 0; }*/
/*}*/

.bl-content,
.bl-icon-close {
	-webkit-transition: opacity 0.1s linear 0s;
	-moz-transition: opacity 0.1s linear 0s;
	transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
	pointer-events: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s linear 0.5s;
	-moz-transition: opacity 0.3s linear 0.5s;
	transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
	.bl-content,
	.bl-box {
		font-size: 75%;
	}

	.bl-expand .bl-box {
		height: 130px;
	}

	.bl-content > ul li {
		width: 40%;
	}
}

.heading{
	font-size: 50px;
	font-family: "Roboto", "Adobe Blank", serif;
    font-weight: 100;
    font-style: normal;
	color: #000000;
	text-align: center;
	margin-bottom: 0;
}

.line{
	border-bottom: 3px solid rgba(47, 46, 46, 1);
}

.desc-em {
	color: black;
	font-family: Lato, serif;
}

.desc-em > ul{
	list-style-position: inside;
}

.panel-heading {
	font-family: Roboto, serif;
}

@media screen and (max-width: 480px) {
	div.bl-panel-items > div > div {
		width: 80%;
	}
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 250px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Ruri */
.input__field--ruri {
	width: 100%;
	background: transparent;
	padding: 0.5em 0;
	margin-bottom: 2em;
	color: #000000;
}

.input__label--ruri {
	width: 100%;
	position: absolute;
	text-align: left;
	font-size: 1em;
	padding: 10px 0 5px;
	pointer-events: none;
}

.input__label--ruri::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background: #B7C3AC;
	left: 0;
	top: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.input__label-content--ruri {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
}

.input__field--ruri:focus + .input__label--ruri::after,
.input--filled .input__label--ruri::after {
	background: #a3d39c;
	-webkit-transform: scale3d(1, 0.25, 1);
	transform: scale3d(1, 0.25, 1);
}

.input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
.input--filled .input__label--ruri .input__label-content--ruri {
	color: #a3d39c;
	-webkit-transform: translate3d(0, 3em, 0) scale3d(0.9, 0.9, 1);
	transform: translate3d(0, 3em, 0) scale3d(0.9, 0.9, 1);
}

@media screen and (max-width: 480px){
	#create_team_heading {
		margin-top: 25px;
	}
	.btn-success {
		margin-top: 0 !important;
	}
	div.bl-panel-items nav {
		left: 60% !important;
		top: -12% !important;
	}
	div.bl-panel-items.bl-panel-items-show nav span {
			margin: -260% 0 0 90%;
	}
}

@media screen and (min-width: 1400px){
	.image > img {
		width: 180px !important;
		height: 180px !important;
	}
}

.link{
    font-size: 5em !important;
}
.closebtn{
    font-size: 60px !important;
}
@media screen and (max-width: 42em){
    .link--kukuri {
         font-size: 2em !important;
    }
}
@media screen and (min-width: 968px){
	nav a{
		font-size: 11px !important;
	}
}
