/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);*/
/** {*/
  /*-webkit-box-sizing: border-box;*/
          /*box-sizing: border-box;*/
/*}*/

/*body {*/
  /*background-image: -webkit-gradient(linear, left top, right top, from(#034378), to(#2d4e68));*/
  /*background-image: linear-gradient(to right, #034378, #2d4e68);*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*height: 100vh;*/
  /*font-family: "Open Sans", sans-serif;*/
/*}*/

/*a {*/
  /*text-decoration: none;*/
/*}*/

/*h1 {*/
  /*font-family: "Open Sans", sans-serif;*/
  /*font-weight: 300;*/
/*}*/

/*.card {*/
  /*float: left;*/
  /*padding: 0 1.7rem;*/
  /*width: 50%;*/
/*}*/
/*.card .menu-content {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*list-style-type: none;*/
/*}*/
/*.card .menu-content::before, .card .menu-content::after {*/
  /*content: '';*/
  /*display: table;*/
/*}*/
/*.card .menu-content::after {*/
  /*clear: both;*/
/*}*/
/*.card .menu-content li {*/
  /*display: inline-block;*/
/*}*/
/*.card .menu-content a {*/
  /*color: #fff;*/
/*}*/
/*.card .menu-content span {*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 0;*/
  /*font-size: 10px;*/
  /*font-weight: 700;*/
  /*font-family: 'Open Sans';*/
  /*-webkit-transform: translate(-50%, 0);*/
          /*transform: translate(-50%, 0);*/
/*}*/
/*.card .wrapper {*/
  /*background-color: #fff;*/
  /*min-height: 400px;*/
  /*position: relative;*/
  /*overflow: hidden;*/
  /*-webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);*/
          /*box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);*/
/*}*/
/*.card .wrapper:hover .data {*/
  /*-webkit-transform: translateY(0);*/
          /*transform: translateY(0);*/
/*}*/
/*.card .data {*/
  /*position: absolute;*/
  /*bottom: 0;*/
  /*width: 100%;*/
  /*-webkit-transform: translateY(calc(70px + 1em));*/
          /*transform: translateY(calc(70px + 1em));*/
  /*-webkit-transition: -webkit-transform 0.3s;*/
  /*transition: -webkit-transform 0.3s;*/
  /*transition: transform 0.3s;*/
  /*transition: transform 0.3s, -webkit-transform 0.3s;*/
/*}*/
/*.card .data .content {*/
  /*padding: 1em;*/
  /*position: relative;*/
  /*z-index: 1;*/
/*}*/
/*.card .author {*/
  /*font-size: 12px;*/
/*}*/
/*.card .title {*/
  /*margin-top: 10px;*/
/*}*/
/*.card .text {*/
  /*height: 70px;*/
  /*margin: 0;*/
/*}*/
/*.card input[type='checkbox'] {*/
  /*display: none;*/
/*}*/
/*.card input[type='checkbox']:checked + .menu-content {*/
  /*-webkit-transform: translateY(-60px);*/
          /*transform: translateY(-60px);*/
/*}*/

/*.example-1 .wrapper {*/
    /*max-width:400px;*/
    /*max-height: 400px;*/
  /*!*background: url(http://res.cloudinary.com/thedailybeast/image/upload/v1492110403/articles/2016/08/12/whose-gold-medal-is-worth-the-most/160811-glasser-olympic-medal-tease_mvemzf.jpg) center/cover no-repeat;*!*/
/*}*/
/*.example-1 .date {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*background-color: #77d7b9;*/
  /*color: #fff;*/
  /*padding: 0.8em;*/
/*}*/
/*.example-1 .date span {*/
  /*display: block;*/
  /*text-align: center;*/
/*}*/
/*.example-1 .date .day {*/
  /*font-weight: 700;*/
  /*font-size: 24px;*/
  /*text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);*/
/*}*/
/*.example-1 .date .month {*/
  /*text-transform: uppercase;*/
/*}*/
/*.example-1 .date .month,*/
/*.example-1 .date .year {*/
  /*font-size: 12px;*/
/*}*/
/*.example-1 .content {*/
  /*background-color: #fff;*/
  /*-webkit-box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);*/
          /*box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);*/
/*}*/
/*.example-1 .title a {*/
  /*color: gray;*/
/*}*/
/*.example-1 .menu-button {*/
  /*position: absolute;*/
  /*z-index: 999;*/
  /*top: 16px;*/
  /*right: 16px;*/
  /*width: 25px;*/
  /*text-align: center;*/
  /*cursor: pointer;*/
/*}*/
/*.example-1 .menu-button span {*/
  /*width: 5px;*/
  /*height: 5px;*/
  /*background-color: gray;*/
  /*color: gray;*/
  /*position: relative;*/
  /*display: inline-block;*/
  /*border-radius: 50%;*/
/*}*/
/*.example-1 .menu-button span::after, .example-1 .menu-button span::before {*/
  /*content: '';*/
  /*display: block;*/
  /*width: 5px;*/
  /*height: 5px;*/
  /*background-color: currentColor;*/
  /*position: absolute;*/
  /*border-radius: 50%;*/
/*}*/
/*.example-1 .menu-button span::before {*/
  /*left: -10px;*/
/*}*/
/*.example-1 .menu-button span::after {*/
  /*right: -10px;*/
/*}*/
/*.example-1 .menu-content {*/
  /*text-align: center;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/
  /*width: 100%;*/
  /*z-index: -1;*/
  /*-webkit-transition: -webkit-transform 0.3s;*/
  /*transition: -webkit-transform 0.3s;*/
  /*transition: transform 0.3s;*/
  /*transition: transform 0.3s, -webkit-transform 0.3s;*/
  /*-webkit-transform: translateY(0);*/
          /*transform: translateY(0);*/
/*}*/
/*.example-1 .menu-content li {*/
  /*width: 33.333333%;*/
  /*float: left;*/
  /*background-color: #77d7b9;*/
  /*height: 60px;*/
  /*position: relative;*/
/*}*/
/*.example-1 .menu-content a {*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*-webkit-transform: translate(-50%, -50%);*/
          /*transform: translate(-50%, -50%);*/
  /*font-size: 24px;*/
/*}*/
/*.example-1 .menu-content span {*/
  /*top: -10px;*/
/*}*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	/*overflow: hidden;*/
}

div {
	/*background: #000;*/
}

div {
	font-family: 'Barlow', Helvetica, Arial, sans-serif;
	font-weight: 500;
	/*color: #a2a1a8;*/
	/*background-color: #000;*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.hidden {
	position: absolute;
	/*overflow: hidden;*/
	width: 0;
	height: 0;
	pointer-events: none;
}

.message {
	position: relative;
	z-index: 100;
	display: none;
	padding: 1em;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--keyboard {
	display: none;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: grid;
	z-index: -1;
	justify-content: center;
	/*align-items: center;*/
	/*align-content: center;*/
	margin: 0 auto;
	min-height: 100vh;
}


/* Canvas positions */
.content__inner {
	grid-area: 1 / 1 / 1 / 1;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
	/*align-content: center;*/
}
.content__title {
	font-size: 2.5vw;
	font-family: Raleway, Arial, sans-serif;
	font-weight: normal;
	color: #c5c2b8;
	text-align: center;
	margin-top: 10px;
	pointer-events: none;
	margin-bottom: 10px;
}

.content__subtitle {
	/*font-size: 1.25em;*/
	background: #fff;
	color: #fff;
	min-height: 2px;
	line-height: 1;
	margin: 0;
	min-width: 50px;
	letter-spacing: 0.5em;
	text-indent: 0.5em;
	font-weight: bold;
	text-transform: uppercase;
}

@media screen and (max-width: 55em) {
	.content__title {
		font-size: 3.5em;
	}
	.content__subtitle {
		font-size: 0.85em;
	}
}
.scene {
	position: absolute;
}

.scene--left {
	width: 100vmin;
	height: 100vmin;
	transform: translate3d(-50vmin,0,0);
}

.scene--full {
	width: 100%;
	height: 100vh;
}

.scene--up {
	height: 150vmin;
	width: 150vmin;
	top: -50vh;
	left: 50%;
	margin-left: -75vmin;
}

@media screen and (min-width: 55em) {
	.icon--keyboard {
		position: absolute;
		right: 0.55em;
		bottom: -30%;
		display: block;
		width: 54px;
		height: 46px;
		fill: var(--color-link);
	}
	.demos {
		display: flex;
		padding-right: 80px;
		justify-self: end;
	}
	.demo {
		display: block;
		width: 17px;
		height: 17px;
		margin: 0 4px;
		border-radius: 50%;
		background: var(--color-link);
	}
	a.demo--current {
		background: var(--color-link-hover);
	}
	.demo span {
		line-height: 1;
		position: absolute;
		right: 100%;
		display: none;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 55em) {
	.message {
		/* display: block; */
	}
	.content {
		flex-direction: column;
		height: auto;
	}

	.content:not(.content--fixed) {
		margin-bottom: 6em;
	}

}
.cta_readmore {
    color: rgba(255,255,255,1) !important;
    margin: 10px 0;
	font-family: 'Quicksand', sans-serif;

}

.cta_readmore {
    font-family: 'open_sansregular',sans-serif;
    font-size: 14px;
    text-align: center;
    max-width: 230px;
    padding: 10px 25px;
    margin: 25px 0;
    background-color: rgba(204,204,204,0.1);
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    color: #000;
	font-family: 'Quicksand', sans-serif;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}
a {
	text-decoration: none !important;
}
.cta_readmore:hover{
	background-color: #5B5B5B;
}
.workshop{
	color: whitesmoke !important; font-size: 25px; margin-top:20px; text-align: center;
	font-family: 'Quicksand', sans-serif;
}
.kraken{
	max-height: 230px !important;
	border: 1px solid #ccc;
}
.workshop_title{
	top: 50%; left: 42%; position: absolute; z-index: 10;
	color: white;
}

.cont{

	position: absolute;
	margin-top: 10px;
    padding-left: 10%;
}

nav{
	background-color: rgba(0,0,0, 0.9);
}


/*.workshop-mob{*/
	/*display: none;*/
	/*text-align: center;*/
	/*padding-top: 6px;*/
    /*color: rgba(255,255,255,0.8);*/
/*}*/
@media screen and (min-width: 1000px){
	/*.workshop-mob{*/
		/*display: block;*/
	/*}*/
	body{
		overflow: hidden !important;
	}
}
.scene--full{
	/*width: 100vw !important;*/

}
.workshop-mob{
	visibility: hidden;
    padding-left: 13%;
    padding-bottom: 40px;
}
@media screen and (max-width: 768px) {
	.content{
		/*display: none;*/
		position: fixed !important;
		min-width: 100vw;
	}
	.hamburger{
		margin-top: 0;

	}

	/*body{*/
		/*background: #000 url('../images/asfalt-light.png');*/

	/*}*/
	.cont{
		padding-left: 20% !important;
		    margin-top: 40px;
	}
	.content__inner{
		margin-top: 5px;
        display: none;
	}
    .workshop-mob{
        visibility: visible;
        margin-top: 10px;

        /*text-align: center;*/

    }
    .cont{
        margin-top: -5px;

    }
}
.workshop-modal-dialog{
	min-width: 100%;
	min-height: 100vh;
	margin: 0;

    /*background-color: #ED3F44;*/
}
.workshop-modal-content{
	margin-top: 5%;
	min-width: 100%;
	min-height: 100vh;
    border: 0;
    border-radius: 0;
    /*background: url('../images/event_backgrounds/crepido.jpg');*/

}
.cl-effect-20{
    font-size: 11px !important;
}

/*component.css*/


.workshop-modal-body{
    /*padding-left: 25%;*/
    /*padding-right: 25%;*/
    /*font-size: 18px;*/
    /*background: url("../images/1.jpg");*/
}
.modal-header{
    border-bottom: 0 ;
}
.p{
    padding: 10px 0;
    max-width: 700px;
    text-align: justify;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.75;
}
@media screen and (min-width: 1400px){
	.cont{
		padding-left: 0;
		margin-left: 10%;
	}
}
.closebtn {
    position: absolute;
    top: 35px;
    right: 20px;
    font-size: 60px;
    color: #E0E1DF;
}
@media screen and (max-height: 450px) {
  .closebtn {
    font-size: 40px;
    top: 20px;
    right: 20px;
      color: #E0E1DF;
  }
}
.modal{
    overflow-x: hidden !important;
}

.panel-body {
	color: black;
	font-family: Lato, serif;
}

.panel-heading {
	font-family: Roboto, serif;
}

@media screen and (max-width: 480px) {
	div.bl-panel-items > div > div {
		width: 80%;
	}
	/*body{*/
		/*background: #000 url('../images/asfalt-light.png');*/

	/*}*/
	.cont{
		padding-left: 20% !important;
		    margin-top: 40px;
	}
	.content__inner{
		margin-top: 5px;
        display: none;
	}
    .workshop-mob{
        visibility: visible;
        margin-top: 10px;

        /*text-align: center;*/

    }
    .cont{
        margin-top: -5px;

    }
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 250px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Ruri */
.input__field--ruri {
	width: 100%;
	background: transparent;
	padding: 0.5em 0;
	margin-bottom: 2em;
	color: #696969;
}

.input__label--ruri {
	width: 100%;
	position: absolute;
	text-align: left;
	font-size: 1em;
	padding: 10px 0 5px;
	pointer-events: none;
}

.input__label--ruri::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 5px;
	background: #B7C3AC;
	left: 0;
	top: 100%;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	-webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
	transition: transform 0.3s, background-color 0.3s;
}

.input__label-content--ruri {
	padding: 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
}

.input__field--ruri:focus + .input__label--ruri::after,
.input--filled .input__label--ruri::after {
	background: #a3d39c;
	-webkit-transform: scale3d(1, 0.25, 1);
	transform: scale3d(1, 0.25, 1);
}

.input__field--ruri:focus + .input__label--ruri .input__label-content--ruri,
.input--filled .input__label--ruri .input__label-content--ruri {
	color: #a3d39c;
	-webkit-transform: translate3d(0, 3em, 0) scale3d(0.9, 0.9, 1);
	transform: translate3d(0, 3em, 0) scale3d(0.9, 0.9, 1);
}

@media screen and (max-width: 480px){
	#create_team_heading {
		margin-top: 25px;
	}
	.btn-success {
		margin-top: 0 !important;
	}
	div.bl-panel-items nav {
		left: 60% !important;
		top: -12% !important;
	}
}

.link{
    font-size: 5em !important;
}
.closebtn{
    font-size: 60px !important;
	z-index: 100;
}
@media screen and (max-width: 42em){
    .link--kukuri {
         font-size: 2em !important;
    }
}
@media screen and (min-width: 968px){
	nav a{
		font-size: 11px !important;
	}
}
.in{
    padding-left: 0 !important;
}
