{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Bakerstreet | AXIS'18</title>
    <meta name="keywords" content="Axis,bakerstreet Axis,T-shirt Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest T-shirt,Nagpur Techfest T-shirt,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'axis/css/bakerstreet.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">

    <style>

         #bakerstreet
         {   background: url({% static 'axis/images/asfalt-light.png' %});
            position:absolute;top:0;height: 100%;width: 100%;
         }
            #sabsebaharkadiv
            {margin-top:13vh;}
         #question
        {
            text-align: center;font-family: 'Satisfy' , cursive;    background-color: #222;
             border-color: #080808;color: #fff;font-size: 150%;margin-bottom: 0px;background-color: rgba(0,0,0,0);
             border: none;
        }
         #question123
        {
            text-align: center;font-family: 'Satisfy' , cursive;    background-color: #222;
             border-color: #080808;    color: #fff;font-size: 150%;margin-bottom: 0px;background-color: rgba(0,0,0,0);
             border: none;
        }

        #questionimage
        {    height: 100%;  width: 100%; }
        #questionimagediv
        {
            height:65vh;width: 90%;display: block;margin: 0 auto;
        }
        table
        {
            color: #FFFFFF;
            font-family: 'nexa_boldregular', sans-serif;
        }
   .tooltip123
   {color: #FFFFFF}

    .tooltip123 .tooltiptext123 {
    visibility: hidden;
    width: 70%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
   padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 5.5vh;
    left:14vh;
    transition: opacity 0.3s;
}

.tooltip123 .tooltiptext123::after {
      content: "";

    bottom: 5.5vh;
    left:14vh;

}

.tooltip123:hover .tooltiptext123 {
    visibility: visible;
    opacity: 0.9;
    font-size: 2.1vh;
}
        @media screen and (max-width: 800px) {

            #bakerstreet
             {

                 position:absolute;top: 0;
                 height:100%;
                 background: url({% static 'axis/images/asfalt-light.png' %});

             }

            #sabsebaharkadiv
            {margin-top:0vh;}
            #question
            {margin-top: 20%;}
            #questionimagediv
            {
                height:39vh;width: 100%;display: block;margin: 0 auto;
            }
            #mobilesubmit
            {
                margin-top: 10px;
            }

        }


    </style>

{% endblock %}

{% block content %}

<div  id="bakerstreet" >
    <div  id="sabsebaharkadiv" style="padding-left: 4%;padding-right: 4%">
            <div class="row">
                <div class="col-md-8" style="background-color:rgba(0,0,0,0)">

                    <div id="question" class="well" >Question&nbsp;&nbsp;&nbsp;1</div>
                    <div id="questionimagediv"  >
                        <img id="questionimage" src="{% static 'axis/images/trail.jpg' %}" />
                    </div>
                    <div style="padding-top: 2%">
                        <form>
                        <div class="row form-group">
                            <div class="col-sm-offset-2 col-sm-4"><input type="text" class="form-control"  placeholder="Enter Answer"></div>
                            <div class="col-sm-6">
                                <div id="mobilesubmit">
                                <button type="submit" class="btn btn-success" >Submit</button>
                                <span class="tooltip123" style="margin-left: 1%"> <button class="btn btn-info" type="button">Hint</button>
                                    <span class="tooltiptext123">Tooltip textTooltip textTooltip textTooltip textTooooltip textTooooltip textTooooltip textTooooltip textTooooltip textTooooltip textTooooltip textTooooltip textTooooltip textTooltip textTooltip textTooltip textTooltip textTooltip textTooltip textTooltip text</span>
                                </span>
                                    </div>
                            </div>
                        </div>
                        </form>

                    </div>

                </div>
                <div class="col-md-4" style="background-color:rgba(0,0,0,0)">
                    <div id="question123" class="well yooo" >Leaderboard</div>

                    <table class="table" style="background-color: rgba(0,0,0,0.3)">
                      <thead>
                        <tr>
                          <th>Rank</th>
                          <th>Name</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">2</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">3</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">4</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">5</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">6</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">7</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">8</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">9</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                      <tr>
                          <th scope="row">10</th>
                          <td>Saurabh Rathi</td>
                        </tr>
                        <tr>
                          <th scope="row">27</th>
                          <td>You</td>
                        </tr>

                      </tbody>
                    </table>
                </div>
            </div>
    </div>

</div>

{% endblock %}
