{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Freak-O-Matix Rules | AXIS'18</title>
    <meta name="keywords" content="Axis,T-shirt Axis,T-shirt Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest T-shirt,Nagpur Techfest T-shirt,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/bakerstreet.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <style>

         #bakerstreet_rules_page
         {
             background: url({% static 'axis/images/event_backgrounds/freak-o-matix.jpeg' %}) ;
             background-size: cover;
             position:relative;top:0;height: 100vh;

         }
          .table
        {
            color: #FFFFFF;
            font-family: 'nexa_boldregular', sans-serif;
        }
          #question
        {
            text-align: center;font-family: 'Satisfy' , cursive;    background-color: #222;
             border-color: #080808;color: #fff;font-size: 175%;margin-bottom: 0px;background-color: rgba(0,0,0,0);
             border: none;
        }
            #question123
        {
            text-align: center;font-family: 'Satisfy' , cursive;    background-color: #222;
             border-color: #080808;color: #fff;font-size: 175%;background-color: rgba(0,0,0,0);
             border: none;margin-bottom: 0px;
        }
        #nichekibtn
            {display:block;margin:0 auto;width: 200px;margin-top: 0.2%;margin-bottom: 2vh;}

        @media screen and (max-width: 800px) {

            #bakerstreet_rules_page
             {
                overflow-x: hidden;
                 position:absolute;top:0;
                 height:100%;
                 background: url({% static 'axis/images/event_backgrounds/221b-baker-street.jpeg' %});
             }
            #mobile
            {margin-top: 20%;margin-bottom: 10%;}
            #nichekibtn
            {display:block;margin:0 auto;width: 200px;margin-top: 5%;margin-bottom: 2%;}
           .table
           {margin-right: 0px;margin-left: 0px;}


        }

    .table>tbody>tr>th,.table>tbody>tr>td{

    border-top: 0px solid #ddd;

}
    .table
    {margin-bottom: 0px;font-size: 2.1vh;}

    </style>

{% endblock %}

{% block content %}

<div  id="bakerstreet_rules_page" style="">
   <div id="mobile" style="">
   <br><br>
       <h1 style="text-align: center; font-family: Raleway, sans-serif; color: #c5c2b8;margin-bottom: 0px;margin-top: 0px;"><span style="font-size:7vh">Freak-O-Matix Rules</span></h1>
<br><br>
        <div>
            <div class="row" >
                <div class="col-sm-offset-2 col-sm-8" style="color: #FFFFFF">


                    <table class="table" style="background-color: rgba(0,0,0,0.5);">

                      <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td>Proper explanation is required for every question.</td>
                                </tr>
                              <tr>
                                  <th scope="row">2</th>
                                  <td>Direct answers will not be encouraged.</td>
                                </tr>
                              <tr>
                                  <th scope="row">3</th>
                                  <td>Efficient solutions are taken into consideration.</td>
                                </tr>
                              <tr>
                                  <th scope="row">4</th>
                                  <td>The duration of exam is 6 days</td>
                                </tr>
                              <tr>
                                  <th scope="row">5</th>
                                  <td>
                                      <button type="submit" role="link" class="btn btn-success"
                                                        name="change_question">Q 1</button>
                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                      This indicates that you have submitted the answer for this question.
                                  </td>
                                </tr>
                              <tr>
                                  <th scope="row">6</th>
                                  <td>
                                      <button type="submit" role="link" class="btn btn-warning"
                                                        name="change_question">Q 2</button>
                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                      This indicates that you have not attempted this question.
                                  </td>
                                </tr>
                              <tr>
                                  <th scope="row">7</th>
                                  <td>
                                      <button type="submit" role="link" class="btn btn-info"
                                                        name="change_question">Q 3</button>
                                      &nbsp;&nbsp;&nbsp;&nbsp;
                                      This indicates that you are currently on this question.
                                  </td>
                                </tr>

                      </tbody>

                    </table>

{#                    <div id="question123" class="well" >Story Mode</div>#}
{##}
{##}
{#                     <table class="table" style="background-color: rgba(0,0,0,0.5)">#}
{##}
{#                      <tbody>#}
{#                        <tr>#}
{#                          <th scope="row">1</th>#}
{#                          <td>Game consists of around 15-20 questions.</td>#}
{#                        </tr>#}
{#                      <tr>#}
{#                          <th scope="row">2</th>#}
{#                          <td>The questions will be a part of a story whose description will be#}
{#given prior to each question.</td>#}
{#                        </tr>#}
{#                      <tr>#}
{#                          <th scope="row">3</th>#}
{#                          <td>Hints for each question will be provided on fb page as well as on#}
{#the question page - <a href="https://www.facebook.com/221BBakerStreetAXIS" target="_blank">https://www.facebook.com/221BBakerStreetAXIS</a></td>#}
{#                        </tr>#}
{#                      <tr>#}
{#                          <th scope="row">4</th>#}
{#                          <td>Answers for each question should be in lowercase characters#}
{#only, having no space in between in case of answer comprising of#}
{#two or more words.</td>#}
{#                        </tr>#}
{##}
{##}
{##}
{#                      </tbody>#}
{#                    </table>#}
                      </div>

            </div>
                </div>

       <h4 style="text-align: center; font-family: Raleway, sans-serif; color: #c5c2b8;margin-bottom: 2%;margin-top: 1%;"><b>NOTE:</b> In case of any disputes, the decision taken by the AXIS Executive Committee
would be final and binding for all.</h4>

            {% if request.user.is_anonymous %}
                    <button id="nichekibtn" type="button" class="btn btn-success" disabled="disabled">Please Login to Continue!</button>
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
{#                        <button type="submit" class="btn btn-success" name="PLAY">Click here to Play !!</button>#}
                        <button id="nichekibtn"  class="btn btn-success" type="submit" href="{% url 'bakerstreet:home' %}" name="PLAY">Start Contest!</button>
                    </form>
                {% endif %}

   <div class="row"></div>

          <div class="row"></div>

          <div class="row"></div>
   <div class="row"></div>
   <div class="row"></div>
   <div class="row"></div>
   <div class="row"></div>
{#            <a id="nichekibtn"  class="btn btn-success" type="button" href="{% url 'bakerstreet:home' %}" target="_blank">Start Contest!</a>#}
   </div>
</div>

{% endblock %}
