{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Freakomatrix | AXIS'18</title>
    <meta name="keywords" content="Freakomatrix, freako, Matrix,Axis,bakerstreet Axis,T-shirt Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest T-shirt,Nagpur Techfest T-shirt,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <script>
        var countdown = {{ countdown }};
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'axis/css/bakerstreet.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
{#    <script src="{% static 'freakomatix/js/countdown.js' %}"></script>#}

    <style>


#bakerstreet {

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#sabsebaharkadiv {
    margin-top: 13vh;
}

#question {
    text-align: center;
    font-family: 'Satisfy', cursive;
    background-color: #222;
    border-color: #080808;
    color: #fff;
    font-size: 150%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#question123 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    background-color: #222;
    border-color: #080808;
    color: #fff;
    font-size: 150%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#questionimage {
    /*height: 100%;*/
    width: 100%;
}

#questionimagediv {
    /*height: 50vh;*/
    /*width: 80%;*/
    display: block;
    margin: 0 auto;
}

.table {
    color: #FFFFFF;
    font-family: 'nexa_boldregular', sans-serif;
}

.tooltip123 {
    color: #FFFFFF
}

.tooltip123 .tooltiptext123 {
    visibility: hidden;
    width: 70%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 5.5vh;
    left: 14vh;
    transition: opacity 0.3s;
}

.tooltip123 .tooltiptext123::after {
    content: "";

    bottom: 5.5vh;
    left: 14vh;

}

.tooltip123:hover .tooltiptext123 {
    visibility: visible;
    opacity: 0.9;
    font-size: 2.1vh;
}

@media screen and (max-width: 800px) {

    #bakerstreet {

        position: absolute;
        top: 0;
        height: 100%;


    }

    #sabsebaharkadiv {
        margin-top: 0vh;
    }

    #question {
        margin-top: 20%;
    }

    #questionimagediv {
        height: 39vh;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    #mobilesubmit {
        margin-top: 10px;
    }

}

.radio-input{
    font-size: 1.5em;
    font-weight: bold;
    display: inline;
}
    </style>

{% endblock %}

{% block content %}
{#    <h2 style="text-align: center; color: whitesmoke">Freak-O-Matix</h2>#}

<div  id="bakerstreet" >

    <div  id="sabsebaharkadiv" style="padding-left: 4%;padding-right: 4%">
            <div class="row">
                <div class="col-md-2" style="background-color:rgba(0,0,0,0)">
                    <div id="question123" class="well yooo" >Question List</div>
                    <div id="leaderboard" style=" height: 80%; overflow: auto;">
                        <table class="table" style="background-color: rgba(0,0,0,0.3);">
    {#                      <thead>#}
{#                            <tr>#}
{#                              <td>Name</td>#}
{#                              <td>Score</td>#}
{##}
{#                            </tr>#}

                            {% for q in questions %}
                                <tr>
                                    <td style="text-align: center; cursor: pointer">
                                        <form method="post" action="" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input hidden="hidden" name="question_id" value="{{ q.id }}">
{#                                            <a onclick="$(this).closest('form').submit()" style="display:inline-block;width: 100%;">{{ forloop.counter }}</a>#}
                                            {% if q.id in attempted_question_ids %}
                                                <button type="submit" role="link" class="btn btn-success" name="change_question" >Q {{ forloop.counter }}</button>
                                            {% elif q.id == last_question.id %}
                                                <button type="submit" role="link" class="btn btn-primary" name="change_question" >Q {{ forloop.counter }}</button>
                                            {% else %}
                                                <button type="submit" role="link" class="btn btn-warning" name="change_question" >Q {{ forloop.counter }}</button>
                                            {% endif %}
                                        </form>
                                    </td>
{#                                    <td>{{ user.questions_solved }}</td>#}
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
                <div class="col-md-10" style="background-color:rgba(0,0,0,0)">

                    <div id="question" class="well">Freak-O-Matix</div>
                    <div id="" class="well" >{{ last_question.text | safe}}</div>
                    {% if last_question.image %}
                        <div id="questionimagediv"  >
                            <img id="questionimage" src="{{ last_question.image.url }}" />
                        </div>
                    {% endif %}
                    <div style="padding-top: 2%">
                        {% if last_question.id not in attempted_question_ids %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input hidden="hidden" name="question_id" value="{{ last_question.id }}">
                                <div class="row form-group">
                                    <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
                                        <textarea name="answer" placeholder="Write your answer here..." style="min-width: 100%; min-height: 200px" required></textarea>
                                    </div> </div>
                                    <div class="row">
                                    <div class="col-xs-offset-5 col-md-offset-6">
    {#                                   <div id="mobilesubmit">#}
                                        <button type="submit" class="btn btn-success" name="submit_answer" >Submit</button></div>

                                    </div>
                                </form>
                            </div>

                        {% else %}
                            <div style="text-align: center; color: forestgreen; font-size: 1.5em; font-weight: bold">
                                You have successfully submitted the answer of this question.
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>
    </div>

</div>
{#    <script>#}
{#        $(document).ready(function () {#}
{#            function get_leaderboard() {#}
{##}
{#                alert("in setInterval");#}
{#                var row = $('#leaderboard');#}
{#                $.ajax({#}
{#                    url: "/bakerstreet/ajax-leaderboard/",#}
{#                    type: "post",#}
{#                    dataType: 'json' // ** ensure you add this line **#}
{##}
{#                }).success(function (data) {#}
{##}
{#                    var s = ("<table class=\"table\" style=\"background-color: rgba(0,0,0,0.3); text-align: center;\">" +#}
{#                        "<tr style=\"color: black; background-color: white\">" +#}
{#                            "<td>Rank</td>" +#}
{#                            "<td>Name</td>" +#}
{#                            "<td>Score</td>" +#}
{#                        "</tr>");#}
{##}
{#                    var counter = 0;#}
{##}
{#                    jQuery.each(data.leaderboard, function (index, item) {#}
{#                        counter++;#}
{##}
{#                        if(counter != data.leaderboard.length) {#}
{#                            s += ("<tr>" + "<td>" + counter + "</td>" +#}
{#                                "<td>" + data.leaderboard[index].user__f_name + " " + data.leaderboard[index].user__l_name + "</td>" +#}
{#                                "<td>" + data.leaderboard[index].questions_solved + " " +#}
{#                                "</tr>");#}
{#                        }#}
{#                        else{#}
{#                            s += ("<tr style=\"color: black; background-color: white\">" + "<td>" + data.my_rank + "</td>" +#}
{#                                "<td>" + data.leaderboard[index].user__f_name + " " + data.leaderboard[index].user__l_name + "</td>" +#}
{#                                "<td>" + data.leaderboard[index].questions_solved + " " +#}
{#                                "</tr>");#}
{#                        }#}
{#                    });#}
{##}
{#                    s += ("</table>");#}
{#                    row.html(s);#}
{##}
{#                })#}
{##}
{#            }#}
{#            get_leaderboard();#}
{#            setInterval(get_leaderboard, 60000);#}
    {#    setInterval(function(){ alert("Hello"); }, 3000);#}
{#        })#}
{#    </script>#}
{# <script>#}
{#        $(document).ready(function () {#}
{##}
{#            setInterval(function () {#}
{##}
{#                alert("in setInterval");#}
{#                var row = $('#leaderboard');#}
{#                $.ajax({#}
{#                    url: "/bakerstreet/ajax-leaderboard/",#}
{#                    type: "post",#}
{#                    dataType: 'json' // ** ensure you add this line **#}
{##}
{#                }).success(function (data) {#}
{##}
{#                    row.innerHTML("<table class=\"table\" style=\"background-color: rgba(0,0,0,0.3)\">" +#}
{#                        "<tr>" +#}
{#                            "<td>Name</td>" +#}
{#                            "<td>Score</td>" +#}
{#                        "</tr>");#}
{##}
{#                    jQuery.each(data.leaderboard, function (index, item) {#}
{#                        //now you can access properties using dot notation#}
{#                        alert("ahoy!");#}
{#                        alert(data.leaderboard[index].user__f_name);#}
{#                        row.append("<tr>" +#}
{#                                        "<td>" + data.leaderboard[index].user__f_name + " " + data.leaderboard[index].user__l_name + "</td>" +#}
{#                                        "<td>" + data.leaderboard[index].questions_solved + "<" +#}
{#                                    "</tr>");#}
{#                    });#}
{##}
{#                    row.append("</table>")#}
{#                })#}
{##}
{#            }, 10000);#}
    {#    setInterval(function(){ alert("Hello"); }, 3000);#}
{#        })#}
{#    </script>#}

{% endblock %}
