{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>About Us | AXIS'18</title>
    <meta name="keywords" content="Axis,About Axis,About Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
    <h1 style="text-align: center; font-family: Raleway, sans-serif; color: #c5c2b8;">ABOUT US</h1>
    <div class="row">
{#        {% for si in social_initiatives %}#}
            <div class="panel-group" id="accordion" style="opacity: 0.9; padding-right: 10px; padding-left: 10px;">
                              <div class="panel panel-default" style="margin-bottom: 20px;">
                                <div class="panel-heading">
                                  <h4 class="panel-title" style="text-align: right">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#about">
                                        About Us
                                    </a>
                                  </h4>
                                </div>
                                <div id="about" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                      <div class="row">
{#                                          <div class="col-lg-4 col-md-4" style="text-align: center">#}
{#                                              <img src="{{ si.image.url }}" style="max-height: 350px" />#}
{#                                              <div >#}
{#                                                  <h3 align="center">Info</h3>#}
{#                                                  <div style="text-align: center">#}
{#                                                      <div style="color: #0e0e0e;">#}
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Venue :</span> {{  }}#}
{#                                                          </div>#}
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Date :</span> {{ gl.date | date:"d M Y"  }}#}
{#                                                          </div>#}
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Time :</span> {{ gl.time | time:"g : i A"}}#}
{#                                                          </div>#}
{#                                                      </div>#}
{#                                                  </div>#}
{#                                              </div>#}
{#                                          </div>#}
                                            <div class="col-md-offset-2 col-lg-offset-2 col-lg-8 col-md-8" style="margin-top: 0">
                                                <div>
                                                    <h3 style="margin-top: 0">About AXIS</h3>
                                                    <p style="color: #0e0e0e" align="justify">
                                                        Stating back the origin of this legacy to 2001, AXIS emerged with the coalescence of two traditionally held festivals - the IEEE Expressions and Odyssey. With an annual attraction of over 25,000 school and college students from different parts of the country, AXIS has come a long way from its modest beginnings. AXIS has seen some eminent personalities like Dr. Dinesh Keskar (VNIT Alumnus and Senior Vice President, Boeing Commercial Airplanes) guiding and illuminating the festival, boasting a history of having been auspiciously inaugurated by late Dr. A.P.J Abdul Kalam.<br><br>#}
                                                        With a plethora of events encompassing a wide variety of fields like Automation and Robotics, Construction and Design, Software and Electronics, Management, School Events and many more, AXIS attracts some of the brightest and most creative young minds from all over India. Featuring some big names like NDRF and DRDO, AXIS Exhibitions are an excellent source of erudition. Various workshops are also organized every year, under expert guidance, to keep students up to date with latest technology.<br><br>
                                                        Other major attractions for audiences have been the proshows like Laser Show, Tron Dance and performance of international Visual DJ Afishal, which have always been crowd pullers. Acts like Quora meet up and Guest lecture by Amish Tripathi, author of the famed Shiva trilogy has gained praises for the wit and wisdom of these learned guests. AXIS also conducts social initiatives year round aiming to bring the rich technical knowledge of the students and infrastructure at their disposal to benefit the less fortunate. These social initiatives are done with the assistance of organisations like Make A Difference and Prayaas.
                                                    </p>
                                                </div>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
{#        {% endfor %}#}
    </div>
</div>

{#    <div class="content" style="position:absolute;top:0;width:100%;height:100%;">#}
{#        <canvas class="scene scene--full" id="scene"></canvas>#}
{#        <div class="about scrollbar" id="style-1">#}
{#            <h2 style="text-align: center; font-family: 'Quicksand', sans-serif;">About Us</h2>#}
{#            <p class="about-content">Stating back the origin of this legacy to 2001, AXIS emerged with the coalescence of two traditionally held festivals - the IEEE Expressions and Odyssey. With an annual attraction of over 25,000 school and college students from different parts of the country, AXIS has come a long way from its modest beginnings. AXIS has seen some eminent personalities like Dr. Dinesh Keskar (VNIT Alumnus and Senior Vice President, Boeing Commercial Airplanes) guiding and illuminating the festival, boasting a history of having been auspiciously inaugurated by late Dr. A.P.J Abdul Kalam.<br><br>#}
{#            With a plethora of events encompassing a wide variety of fields like Automation and Robotics, Construction and Design, Software and Electronics, Management, School Events and many more, AXIS attracts some of the brightest and most creative young minds from all over India. Featuring some big names like NDRF and DRDO, AXIS Exhibitions are an excellent source of erudition. Various workshops are also organized every year, under expert guidance, to keep students up to date with latest technology.<br><br>#}
{#            Other major attractions for audiences have been the proshows like Laser Show, Tron Dance and performance of international Visual DJ Afishal, which have always been crowd pullers. Acts like Quora meet up and Guest lecture by Amish Tripathi, author of the famed Shiva trilogy has gained praises for the wit and wisdom of these learned guests. AXIS also conducts social initiatives year round aiming to bring the rich technical knowledge of the students and infrastructure at their disposal to benefit the less fortunate. These social initiatives are done with the assistance of organisations like Make A Difference and Prayaas.#}
{#        </div>#}
{#    </div>#}

{#		<script src="{% static 'axis/js/demo.js' %}"></script>#}
{#		<script src="{% static 'axis/js/three.min.js' %}"></script>#}
{#		<script src="{% static 'axis/js/demo6.js' %}"></script>#}

{% endblock %}