{% extends 'axis/base.html' %}
{%  load static %}

{% block title %}
    <title>Attractions | AXIS'18</title>
    <meta name="keywords" content="Axis,Attractions,Techfest,VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="AXIS is the largest technical festival of Central India.">

{% endblock %}

    {% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/attractions.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/sponsors.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
    <script src="{% static 'axis/js/modernizr.custom.js' %}"></script>



{% endblock %}

{% block content %}

    <div class="container attractions-container">
    <div class="row heading-attractions">
        <br />
        <h1>
            ATTRACTIONS
        </h1>
        <hr class="attractions-line"/>

        <div class="col-xs-10 col-xs-offset-1">
            <div class = "attractions-paper ">
                <h2>INAUGURATION</h2>
                <hr class="attractions-line sponsor-grid"/>
                <div class="container title-sponsor-grid" >
                    <div class="row-eq-height">
                        <div class="col-sm-5  title-s " >
                            <img id="igniting" src="{% static 'axis/images/inaug.jpg' %}" class="img-responsive center-block title-spons" style="height: 70%"/>
                        </div>
                    </div>
                    <div class="col-sm-5" style="padding: 8%">
                        <div class="box">
                            <a href="{% url 'axis:inauguration' %}" style="">Know More...</a>
{#                            cursor: default; pointer-events: none;#}
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            <div class = "attractions-paper ">
                <h2>TNS</h2>
                <hr class="attractions-line sponsor-grid"/>
                <div class="container title-sponsor-grid" >
                    <div class="row-eq-height">
                        <div class="col-sm-5  title-s " >
                            <img id="igniting" src="{% static 'axis/images/tns_website.jpg' %}" class="img-responsive center-block title-spons" style="height: 70%"/>
                        </div>
                    </div>
                    <div class="col-sm-5" style="padding: 8%">
                        <div class="box">
                            <a href="{% url 'axis:tns' %}">Know More...</a>

                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>


        <div class="col-xs-10 col-xs-offset-1">
            <div class = "attractions-paper ">
                <h2>IGNITING MINDS</h2>
                <hr class="attractions-line sponsor-grid"/>
                <div class="container title-sponsor-grid" >
                    <div class="row-eq-height">
                        <div class="col-sm-5  title-s " >
                            <img id="igniting" src="../../static/axis/images/igniting_minds.jpg" class="img-responsive center-block title-spons" style="height: 70%"/>
                        </div>
                    </div>
                    <div class="col-sm-5" style="padding: 5%">
                        <div class="box">
                            <a href="{% url 'axis:guestlectures' %}">GUEST LECTURES</a>
                            <hr class="attractions-line"/>
                            <a href="{% url 'axis:talks' %}" style="">TALKS</a>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            <div class = "attractions-paper ">
                <h2>EXHIBITIONS</h2>
                <hr class="attractions-line sponsor-grid"/>
                <div class="container title-sponsor-grid" >
                    <div class="row-eq-height">
                        <div class="col-sm-5  title-s " >
                            <img id="igniting" src="../../static/axis/images/exhibition.jpg" class="img-responsive center-block title-spons" style="height: 70%"/>
                        </div>
                    </div>
                    <div class="col-sm-5" style="padding: 8%">
                        <div class="box">
{#                            <a href="#" style="cursor: default; pointer-events: none;">EXHIBITIONS</a>#}
                            <!-- After release of Exhibitions page use the a tag below-->
                            <a href="{% url 'axis:exhibition' %}">ISRO</a>

                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

        <div class="col-xs-10 col-xs-offset-1">
            <div class = "attractions-paper ">
                <h2>TECHIE NITE</h2>
                <hr class="attractions-line sponsor-grid"/>
                <div class="container title-sponsor-grid" >
                    <div class="row-eq-height">
                        <div class="col-sm-5  title-s " >
                            <img id="igniting" src="../../static/axis/images/TECHIE.jpg" class="img-responsive center-block title-spons" style="height: 70%"/>
                        </div>
                    </div>
                    <div class="col-sm-5" style="padding: 8%">
                        <div class="box">
{#                            <a href="#" style="cursor: default; pointer-events: none;">EXHIBITIONS</a>#}
                            <!-- After release of Exhibitions page use the a tag below-->
                            <a href="{% url 'axis:techie_nite' %}">Know More...</a>

                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>

    </div>

{#    <div class="col-xs-10 col-xs-offset-1">#}
{#        <div class = "attractions-paper ">#}
{#            <h2>INAUGURATION</h2>#}
{#            <hr class="attractions-line sponsor-grid"/>#}
{#            <div class="container title-sponsor-grid" >#}
{#                <div class="row">#}
{#                    <div class="col-sm-5 vcenter title-s" >#}
{#                    <img id="igniting123" src="../../static/axis/images/coming_soon2.png" class="img-responsive center-block title-spons" style="height: 70%"/>#}
{#                    </div>#}
{#                    <div class="col-sm-5 vcenter outer-box" >#}
{#                        <br />#}
{#                        <div class="box" style="font-size: 158%;">#}
{#                            STAY TUNED#}
{#                        </div>#}
{#                    </div>#}
{#                    <br />#}
{#                </div>#}
{#		    </div>#}
{#        </div>#}
{#    </div>#}



{#    <div class="col-xs-10 col-xs-offset-1">#}
{#        <div class = "attractions-paper ">#}
{#            <h2>Exhibitions</h2>#}
{#            <hr class="attractions-line sponsor-grid"/>#}
{#            <div class="container title-sponsor-grid" >#}
{#                <div class="row">#}
{#                    <div class="col-sm-5 vcenter title-s" >#}
{#                    <img id="igniting123" src="../../static/axis/images/coming_soon2.png" class="img-responsive center-block title-spons" style="height: 70%"/>#}
{#                    </div>#}
{#                     <div class="col-sm-5" style="padding: 5%">#}
{#                         <div class="box">#}
{#                             <a href="{% url 'axis:exhibition' %}" style="font-size: 188%;"></a>#}
{#                         </div>#}
{#                    </div>#}
{#                    <br />#}
{#                </div>#}
{#		    </div>#}
{#        </div>#}
{#    </div>#}

{##}
{#        <div class="col-xs-10 col-xs-offset-1">#}
{#        <div class = "attractions-paper ">#}
{#            <h2>Exhibitions</h2>#}
{#            <hr class="attractions-line sponsor-grid"/>#}
{#            <div class="container title-sponsor-grid" >#}
{#                <div class="row-eq-height">#}
{#                    <div class="col-sm-5  title-s " >#}
{##}
{#                                <img id="igniting" src="../../static/axis/images/coming_soon2.png" class="img-responsive center-block title-spons" style="height: 70%"/>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-sm-5" style="padding: 5%">#}
{##}
{#                                    <div class="box">#}
{#                                    <span href="{% url 'axis:exhibition' %}" style="font-size: 188%;">Exhibition</span>#}
{##}
{##}
{#                                    </div>#}
{#                    </div>#}
{#                    <br/>#}
{#                </div>#}
{#		    </div>#}
{#        </div>#}

{#        <div class="col-xs-10 col-xs-offset-1">#}
{#        <div class = "attractions-paper ">#}
{#            <h2>Exhibitions</h2>#}
{#            <hr class="attractions-line sponsor-grid"/>#}
{#            <div class="container title-sponsor-grid" >#}
{#                <div class="row-eq-height">#}
{#                    <div class="col-sm-5  title-s " >#}
{##}
{#                                <img id="igniting" src="../../static/axis/images/igniting_minds.jpg" class="img-responsive center-block title-spons" style="height: 70%"/>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-sm-5" style="padding: 5%">#}
{##}
{#                                    <div class="box">#}
{#                                    <a href="{% url 'axis:exhibition' %}" style="font-size: 188%;">Exhibition</a>#}
{##}
{##}
{#                                    </div>#}
{#                    </div>#}
{#                    <br/>#}
{#                </div>#}
{#		    </div>#}
{#        </div>#}

    </div>

{#    </div>#}
{#    </div>#}


{% endblock %}
