<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="{% static 'axis/images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'axis/images/favicon.png' %}" type="image/x-icon">
    <script data-pace-options='{ "ajax": false }' src="../../static/axis/js/pace.js"></script>
    <link href="../../static/axis/css/loading-bar.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/avgrund/0.1.0/js/avgrund.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
{#    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,700|Vidaloka" rel="stylesheet">#}
{#    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114363979-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114363979-1');
</script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="{% static 'axis/js/custom.js' %}"></script>

{#    Dont change the order in which scripts are included #}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
  <script src="{% static 'axis/js/notifications/lobibox.min.js' %}"></script>
  <script src="{% static 'axis/js/notifications/notifications.min.js' %}"></script>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'axis/css/lobibox.min.css' %}"/>
  <link href="{% static 'axis/css/top_navbar_base.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'axis/css/linkstyles.css' %}" type="text/css" rel="stylesheet">
  <link href="{% static 'axis/css/dropdown.css' %}" type="text/css" rel="stylesheet">

    {% block stylesheetsAndScriptsInHead %}
    {% endblock %}
    {% block title %}
    {% endblock %}


   <script>
       $(document).ready(function() {

            setTimeout(function(){
                $('#loader').hide();
                Pace.stop();
                document.getElementById("body-id").style.overflowY = "scroll";
            }, 0);

            // $('#loader-wrapper').css({visibility: 'hidden'})

        });
       {#function showPage() {#}
       {#    document.getElementById("loader").style.display = "none";#}
       {#    Pace.stop();#}
       {# document.getElementById("body-id").style.overflowY = "scroll";#}
       {# }#}
        function bounced() {
            var element = document.getElementById("bouncing");
            element.classList.remove("bounce");
}
   </script>

    <style>

        .modal-header{
            padding-bottom: 0;
        }
        .modal-body{
            padding-top: 0;
        }
        .bounce {
            -moz-animation: bounce 3s infinite;
            -webkit-animation: bounce 3s infinite;
            animation: bounce 3s infinite;
        }
        @-moz-keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateY(0);
            transform: translateY(0);
          }
          40% {
            -moz-transform: translateY(-20px);
            transform: translateY(-20px);
          }
          60% {
            -moz-transform: translateY(-10px);
            transform: translateY(-10px);
          }
        }
        @-webkit-keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          40% {
            -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
          }
          60% {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
          }
        }
        @keyframes bounce {
          0%, 20%, 50%, 80%, 100% {
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -webkit-transform: translateY(0);
            transform: translateY(0);
          }
          40% {
            -moz-transform: translateY(-30px);
            -ms-transform: translateY(-30px);
            -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
          }
          60% {
            -moz-transform: translateY(-15px);
            -ms-transform: translateY(-15px);
            -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
          }
        }



        #navbardropdown
        {
             margin: 1.2% 1.9%;
            outline: none;
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 400;
            text-shadow: 0 0 1px rgba(255,255,255,0.3);
            font-size: 1.1em;
            position: relative;
            display: inline-block;
            vertical-align: middle;

        }
        #navbardropdown a:hover,#navbardropdown a:focus
        {outline: none;text-decoration: none; color: #FFFFFF;
        }

        #navbardropdown li a:hover,#navbardropdown li a:focus
        {
                color: black;
            letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 0.9em;
        }
        #navbardropdown li a,#navbardropdown li a
        {
                color: white;
            letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 0.9em;
        }

    </style>
</head>
<body  id="body-id" >


{% block particlejsHead  %}
    {% endblock %}
        <script>Pace.start();</script>
       <div id="loader" style="background-color:black;">
          <div class="container">
      <div class="image_preloader row">
          <div class="col-md-offset-4 col-md-4 ">
            <img src="{% static 'axis/images/axis-preloader-final.png' %}">
          </div>
      </div>
      </div></div>


        <span class="hamburger" onclick="openNav()">&#9776;</span>
        <section class="color-1" style="position: relative;">
        <nav class="cl-effect-20">
            <span style="font-size:33px;margin-top: 13px; margin-left: 15px; float: left; cursor:pointer; color: #bfc0c1;" onclick="openNav()">&#9776;</span>
            <a href="{% url 'axis:about' %}"><span data-hover="ABOUT US">ABOUT US</span></a>
            <a href="{% url 'axis:attractions' %}"><span data-hover="ATTRACTIONS">ATTRACTIONS</span></a>
            <a href="{% url 'axis:event_categories' %}"><span data-hover="EVENTS">EVENTS</span></a>
{#            {% if  request.user.is_authenticated %}#}
            <a href="{% url 'axis:social_initiatives' %}"><span data-hover="INITIATIVES">INITIATIVES</span></a>
{#            {% endif %}#}
            <a  href="{% url 'axis:home' %}"><img src="{% static 'axis/images/logo.png' %}" width="50px" height="50px"></a>
            <a href="{% url 'axis:workshops' %}"><span data-hover="WORKSHOPS">WORKSHOPS</span></a>
            <a href="{% url 'axis:team' %}"><span data-hover="CONTACT US">CONTACT US</span></a>
            <a href="{% url 'axis:sponsors' %}"><span data-hover="SPONSORS">SPONSORS</span></a>
{#            {% if not request.user.is_authenticated %}#}
{#            <a href="{% url 'axis:social_initiatives' %}"><span data-hover="INITIATIVES">INITIATIVES</span></a>#}
{#            {% endif %}#}
{#            {% if request.user.is_authenticated %}#}
{#                <a href="#"><span data-hover="DASHBOARD">DASHBOARD</span></a>#}
{#            {% endif %}#}
            {% if not request.user.is_authenticated %}
                <a href="#login" id="id_login"><span data-hover="LOGIN">LOGIN</span></a>
            {% endif %}
{#            {% if request.user.is_authenticated %}#}
{#                <a href="{% url 'axis:logout' %}"><span data-hover="LOGOUT">LOGOUT</span></a>#}
{#            {% endif %}#}
{#            {% if not request.user.is_authenticated %}#}
{#                <a href="#signup" id="id_signup"><span data-hover="REGISTER">REGISTER</span></a>#}
{#            {%  endif %}#}
            {% if request.user.is_authenticated %}

            <li class="nav-item dropdown">
                <a href="#" class="nav-link"><span style="white-space: nowrap" data-hover="{{ request.user.f_name | upper }}">{{ request.user.f_name| upper }}<bold class="caret" ></bold></span></a>
                <div class="submenu">
                    <ul class="submenu-items">
                        <li class="submenu-item"><a href="#myEvents" id="id_myevents" class="submenu-link" style="padding-top:15px;">REGISTRATIONS</a></li>
                        <li class="submenu-item"><a href="#myProfile" id="id_myprofile" class="submenu-link">MY PROFILE</a></li>
                        <li class="submenu-item"><a href="{% url 'axis:logout' %}" class="submenu-link">LOGOUT</a></li>
                    </ul>
                </div>
            </li>

            {%  endif %}
        </nav>
    </section>
    <span class="mob-sidelinks">
        <a href="{% url 'axis:updates' %}" id="rotate">TIMELINE</a>
        <a href="{% url 'axis:tshirt' %}" id="rotate_one">TSHIRT</a>
        {% if not request.user.is_authenticated %}
        {#    <a href="#signup" id="id_signup" class="rotate_one">SIGN UP</a>#}
              <a href="#signup" id="id_signup" class="rotate_two">SIGNUP</a>
        {% endif %}
    </span>
<div id="myNav" class="overlay"  style="font-family: 'Quicksand', sans-serif;">
  <a href="javascript:void(0)" class="closebtn" style="color: #c5c2b8;" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
     <ul style="list-style: none; margin-left: -30px;">
     {% if request.user.is_authenticated %}
    <li><a href="#" data-toggle="collapse" class="link link--kukuri mob-overlay" data-letters="Hi, {{ request.user.f_name | upper }}" data-target="#demo">Hi, {{ request.user.f_name | upper }}<bold class="caret" ></bold></a></li>
        <div id="demo" class="collapse">
            <li><a href="#myProfile" id="id_myprofile2" class="link link--kukuri dropdown-links" data-letters="MY PROFILE">MY PROFILE</a></li>
            <li><a href="#myEvents" id="id_myevents2" class="link link--kukuri dropdown-links" data-letters="MY EVENTS">REGISTRATIONS</a></li>
            <li><a href="{% url 'axis:logout' %}" class="link link--kukuri dropdown-links" data-letters="LOGOUT">LOGOUT</a></li>
        </div>
     {% endif %}
     <li><a href="{% url 'axis:home' %}" class="link link--kukuri" data-letters="HOME">HOME</a></li>
    <li><a href="{% url 'axis:about' %}" class="link link--kukuri" data-letters="ABOUT US">ABOUT US</a></li>
    <li><a href="{% url 'axis:attractions' %}" class="link link--kukuri" data-letters="ATTRACTIONS">ATTRACTIONS</a></li>

    <li><a href="{% url 'axis:event_categories' %}" class="link link--kukuri" data-letters="EVENTS">EVENTS</a></li>
    <li><a href="{% url 'axis:workshops' %}" class="link link--kukuri" data-letters="WORKSHOPS">WORKSHOPS</a></li>
          <li><a href="{% url 'axis:updates' %}" class="link link--kukuri mob-overlay" data-letters="TIMELINE">TIMELINE</a></li>

     <li><a href="{% url 'axis:social_initiatives' %}" class="link link--kukuri" data-letters="INITIATIVES">INITIATIVES</a></li>

     <li><a href="{% url 'axis:sponsors' %}" class="link link--kukuri" data-letters="SPONSORS">SPONSORS</a></li>
      <li><a href="{% url 'axis:tshirt' %}" class="link link--kukuri mob-overlay" data-letters="T-SHIRT">T-SHIRT</a></li>
     <li><a href="{% url 'axis:team' %}" class="link link--kukuri mob-overlay" data-letters="CONTACT US">CONTACT US</a></li>

     {% if not request.user.is_authenticated %}
        <li><a href="#signup" id="id_signup2" class="link link--kukuri mob-overlay" data-letters="REGISTER">REGISTER</a></li>
        <li><a href="#login" id="id_login2" class="link link--kukuri mob-overlay" data-letters="LOGIN">LOGIN</a></li>
     {% endif %}
    </ul>

  </div>
</div>
<script>
function openNav() {
    document.getElementById("myNav").style.height = "100%";
}

function closeNav() {
    document.getElementById("myNav").style.height = "0%";
}
$('.dropdown').on('show.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).slideDown(300);
});

$('.dropdown').on('hide.bs.dropdown', function(e){
  $(this).find('.dropdown-menu').first().stop(true, true).slideUp(200);
});
</script>

      <div class="modal fade" id="login" style="z-index: 10000000">
        <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" id="modal_close" data-dismiss="modal">&times;</a>
          <h3 class="modal-title" style="text-align: center; color: #2F859C;">Log In!</h3>
        </div>
        <div class="modal-body">
                 <div id="cd-login"> <!-- log in form -->
				<form class="cd-form" name="login" id="login_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<p class="fieldset">
						<label class="image-replace" for="email">E-mail</label>
						<input class="full-width has-padding has-border" name="email" type="email" placeholder="E-mail">
						<span class="cd-error-message"><span class="email-message"></span></span>
					</p>

					<p class="fieldset">
						<label class="image-replace" for="password">Password</label>
						<input class="full-width has-padding has-border" type="password" name="password" placeholder="Password">
						<span class="cd-error-message">Error message here!</span>
					</p>

{#					<p class="fieldset">#}
{#						<input type="checkbox" id="remember-me" checked>#}
{#						<label for="remember-me">Remember me</label>#}
{#					</p>#}

					<p class="fieldset">
						<input class="full-width" type="submit" id="login_submit" value="Login" name="Login">
					</p>
{#                    <a href="{% url "social:begin" "google-oauth2" %}">Google+</a>#}
				</form>
                     {#                     <div class="g-signin2" data-onsuccess="onSignIn"></div>#}
                     <a href="#signup" id="id_signup3" style=" color: #242424;position: absolute;bottom: 5px;width: 92%; text-align: center;font-weight: 600; font-family: Calibri, Arial, sans-serif !important;">DON'T HAVE AN ACCOUNT YET? SIGN UP!</a>

{#				<p class="cd-form-bottom-message" style="background: black"><a href="#signup" id="id_signup3"></a></p>#}
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->
        </div>
      </div>
        </div>
      </div>


{# Register#}

      <div class="modal fade" id="signup" style="z-index: 100000000; overflow-y: scroll">
        <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" id="modal_close_signup" data-dismiss="modal">&times;</a>
          <h3 class="modal-title" style="text-align: center; color: #2F859C;">Sign Up!</h3>
        </div>
        <div class="modal-body">
            <div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form" name="signup" id="signup_form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
					<p class="fieldset">
						<label class="image-replace" for="f_name">First Name</label>
						<input class="full-width has-padding has-border" id="f_name" name="f_name" type="text" placeholder="First Name" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

                    <p class="fieldset">
						<label class="image-replace" for="f_name">Last Name</label>
						<input class="full-width has-padding has-border" id="l_name" name="l_name" type="text" placeholder="Last Name" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
{#						<label class="image-replace cd-email" for="email">E-mail</label>#}
						<input class="full-width has-padding has-border" name="email" type="email" placeholder="E-mail" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

                    <p class="fieldset">
{#						<label class="image-replace cd-email" for="clg_name">Institution Name</label>#}
						<input class="full-width has-padding has-border" id="clg_name" name="clg_name" type="text" placeholder="Institution Name" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

                    <p class="fieldset">
{#						<label class="image-replace cd-email" for="email"></label>#}
                        <div class="form-group">
{#                          <label for="sel1" style="color: rgb(51,51,51);">Year</label>#}
                            <label for="sel1"></label>
                          <select class="form-control" id="sel1" name="year" required>
                            <option>Year</option>
                            <option value="1st">1st</option>
                            <option value="2nd">2nd</option>
                            <option value="3rd">3rd</option>
                            <option value="4th">4th</option>
                            <option value="none">None</option>
                          </select>
                        </div>
{#						<input class="full-width has-padding has-border" id="clg_name" name="clg_name" type="text" placeholder="College Name">#}
						<span class="cd-error-message">Error message here!</span>
					</p>

                    <p class="fieldset">
{#						<label class="image-replace cd-email" for="contact_no">Contact Number</label>#}
						<input class="full-width has-padding has-border" id="contact_no" name="contact_no" type="text" pattern="[0-9]{10}" placeholder="Contact Number" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
{#						<label class="image-replace cd-password" for="password">Password</label>#}
						<input class="full-width has-padding has-border" type="password" name="password1"  placeholder="Password" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

                    <p class="fieldset">
{#						<label class="image-replace cd-password" for="confirm">Confirm Password</label>#}
						<input class="full-width has-padding has-border" id="confirm" type="password" name="password2"  placeholder="Confirm Password" required>
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" id="signup_submit" name="Signup" value="Create account">
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->
        </div>
      </div>
        </div>
      </div>

{#my Events#}

<div class="modal fade" id="myEvents" style="z-index: 100000001; padding: auto; !important;">
    <div class="modal-dialog" style="font-family: 'Quicksand', sans-serif; z-index: 1100">
        <div class="modal-content">

{#            Events            #}
            <div class="modal-header">
                <a href="#" class="close" id="modal_close_events" data-dismiss="modal">&times;</a>
                <h3 class="modal-title" style="text-align: center; font-weight: bold">My Events</h3>
            </div>
            <div class="modal-body">
                {% if user_registrations.event  %}
                    <table class="table table-striped" id="tblGrid"  style="font-size: 15px;">
                        <thead id="tblHead">
                            <tr>
                                <th class="text-center" style="width: 25%">Event</th>
                                <th class="text-center" style="width: 25%">Team</th>
                                <th class="text-center">Team Members</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for e in user_registrations.event %}
                                <tr>
                                    <td class="text-center">{{ e.eventName }}</td>
                                    <td class="text-center">{{ e.teamName }}</td>
                                    <td class="text-center">{{ e.teamMembers }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table table-striped" id="tblGrid"  style="font-size: 15px;">
                        <thead id="tblHead">
                          <tr>
                              <th class="text-center" style="width: 25%">You are not registered for any event.</th>
                          </tr>
                        </thead>
                    </table>
                {% endif %}
            </div>

{#            Guest Lectures            #}
            <div class="modal-header">
{#                <a href="#" class="close" id="modal_close_events" data-dismiss="modal">&times;</a>#}
                <h3 class="modal-title" style="text-align: center; font-weight: bold">Guest Lectures</h3>
            </div>
            <div class="modal-body">
                {% if user_registrations.guest_lecture  %}
                    <table class="table table-striped" id="tblGrid"  style="font-size: 15px;">
                        <thead id="tblHead">
                            <tr>
{#                                <th class="text-center" style="width: 25%">Event</th>#}
{#                                <th class="text-center" style="width: 25%">Team</th>#}
                                <th class="text-center">Name of Speaker</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gl in user_registrations.guest_lecture %}
                                <tr>
{#                                    <td class="text-center">{{ e.eventName }}</td>#}
{#                                    <td class="text-center">{{ e.teamName }}</td>#}
                                    <td class="text-center">{{ gl.speaker_name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table table-striped" id="tblGrid"  style="font-size: 15px;">
                        <thead id="tblHead">
                          <tr>
                              <th class="text-center" style="width: 25%">You are not registered for any guest lecture.</th>
                          </tr>
                        </thead>
                    </table>
                {% endif %}
            </div>

{#            Guest Lectures            #}
            <div class="modal-header">
{#                <a href="#" class="close" id="modal_close_events" data-dismiss="modal">&times;</a>#}
                <h3 class="modal-title" style="text-align: center; font-weight: bold">Workshops</h3>
            </div>
            <div class="modal-body">
                {% if user_registrations.workshop  %}
                    <table class="table table-striped" id="tblGrid"  style="font-size: 15px;">
{#                        <thead id="tblHead">#}
{#                            <tr>#}
{#                                <th class="text-center" style="width: 25%">Event</th>#}
{#                                <th class="text-center" style="width: 25%">Team</th>#}
{#                                <th class="text-center">Name of Speaker</th>#}
{#                            </tr>#}
{#                        </thead>#}
                        <tbody>
                            {% for ws in user_registrations.workshop %}
                                <tr>
{#                                    <td class="text-center">{{ e.eventName }}</td>#}
{#                                    <td class="text-center">{{ e.teamName }}</td>#}
                                    <td class="text-center">{{ ws.name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <table class="table table-striped" id="tblGrid"  style="font-size: 15px;">
                        <thead id="tblHead">
                          <tr>
                              <th class="text-center" style="width: 25%">You are not registered for any workshop.</th>
                          </tr>
                        </thead>
                    </table>
                {% endif %}
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<div class="modal fade" id="myProfile" style="z-index: 100000001">
<div class="modal-dialog" style="font-family: 'Quicksand', sans-serif; z-index: 10000000">
      <div class="modal-content">
        <div class="modal-header">
          <a href="#" class="close" id="modal_close_myprofile" data-dismiss="modal">&times;</a>
          <h3 class="modal-title" style="text-align: center; font-weight: bold">My Profile</h3>
        </div>
        <div class="modal-body">
          <table class="table table-striped" id="tblGrid"  style="font-size: 15px;">
{#            <thead id="tblHead">#}
{#              <tr>#}
{#                <th class="text-center" style="width: 25%">Event</th>#}
{#                <th class="text-center" style="width: 25%">Team</th>#}
{#                <th class="text-center">Team Members</th>#}
{#              </tr>#}
{#            </thead>#}
            <tbody>
                <tr>
                    <td class="text-center">AXIS ID</td>
                    <td class="text-center">{{ request.user.axis_id }}</td>
                </tr>
                <tr>
                    <td class="text-center">Name</td>
                    <td class="text-center">{{ request.user.f_name}} {{ request.user.l_name }}</td>
                </tr>
                <tr>
                    <td class="text-center">Email Id.</td>
                    <td class="text-center">{{ request.user.email }}</td>
                </tr>
                <tr>
                    <td class="text-center">Contact Number</td>
                    <td class="text-center">{{ request.user.contact_no }}</td>
                </tr>

            </tbody>
          </table>
		</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

      <div class="modal fade" id="validate_email" style="z-index: 100000001">
        <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" style="text-align: center; color: #2F859C;">Validate email</h3>
        </div>
        <div class="modal-body">
                 <div id="cd-login"> <!-- log in form -->
                     <p class="fieldset">
                         Please validate your email address by clicking on the link sent to your email id.
                     </p>
			</div> <!-- cd-login -->
        </div>
      </div>
        </div>
      </div>


{#      Jquery      #}
{% block notifications %}
{% endblock %}

      <script>
          $(document).ready(function() {

          if(window.location.href.indexOf('#login') != -1) {
            $('#login').modal('show');
          }
        });
          $(document).ready(function() {

          if(window.location.href.indexOf('#myProfile') != -1) {
            $('#myProfile').modal('show');
          }
        });
          $(document).ready(function() {

          if(window.location.href.indexOf('#myEvents') != -1) {
            $('#myEvents').modal('show');
          }
        });
          $(document).ready(function() {
          if(window.location.href.indexOf('#signup') != -1) {
            $('#signup').modal('show');
          }
        });

      </script>
<script>
        $(document).ready(function() {

            {% if messages %}
                {% for message in messages %}

                    {% if message.tags == "warning" %}
                        $('#modal_close')[0].click();
                        $('#modal_close_signup')[0].click();
                    {% else %}
                        Lobibox.notify('{{ message.tags }}', {
                            msg: "{{ message }}",
                            delay: 8000
                        });
                    {% endif %}

                {% endfor %}
            {% endif %}

{#            if("{{ message }}" !== "" && "{{ message_type }}" !== "") {#}
{#                var message = "{{ message }}";#}
{#                var message_type = "{{ message_type }}";#}
{#                var increase_delay = "{{ increase_delay }}";#}
                {#alert({{ increase_delay }});#}
{#                if (increase_delay === "increase_delay")#}
{#                    increase_delay = 8000;#}
{#                else#}
{#                    increase_delay = 2000;#}
                {#alert(increase_delay);#}
{#                if (message_type === "success") {#}
{#                    Lobibox.notify('success', {#}
{#                        msg: "{{ message }}",#}
{#                        delay: increase_delay#}
{#                    });#}
{#                }#}
{#                if (message_type === "error") {#}
{#                    Lobibox.notify('error', {#}
{#                        msg: "{{ message }}",#}
{#                        delay: increase_delay#}
{#                    });#}
{#                }#}
{#                if (message_type === "info") {#}
{#                    Lobibox.notify('info', {#}
{#                        msg: "{{ message }}",#}
{#                        delay: increase_delay#}
{#                    });#}
{#                }#}
{##}
{#            }#}
{#            var remove_hash = "{{ remove_hash }}";#}
{#            if(remove_hash === "remove_hash") {#}
{#                $('#modal_close')[0].click();#}
{#            }#}
{#            if(remove_hash === "remove_hash") {#}
{#                $('#modal_close_signup')[0].click();#}
{#            }#}
{#            var close_modal = "{{ close_modal }}";#}
{#            if(close_modal == "true"){#}
{#                    $('#login').modal('hide');#}
{#            }#}
         });
	</script>
<script>
    $(document).ready(function() {

          $('#id_login').click(function() {
              $('#login').modal('show');
          });
          $('#id_myprofile').click(function() {
              $('#myProfile').modal('show');
          });
            $('#id_myprofile2').click(function() {
              $('#myProfile').modal('show');
          });

          $('#id_login2').click(function() {
              $('#login').modal('show');
          });
          $('#id_login3').click(function() {
              $('#login').modal('show');
          });
          $('#id_myevents').click(function() {
              $('#myEvents').modal('show');
          });
	    $('#id_myevents2').click(function() {
              $('#myEvents').modal('show');
          });
          $('#modal_close_events').click(function() {
              $('#myEvents').modal('hide');
          });
          $('#modal_close').click(function() {
              $('#login').modal('hide');
          });
          $('#id_signup').click(function() {
              $('#signup').modal('show');
          });
	        $('#id_signup2').click(function() {
              $('#signup').modal('show');
          });
        $('#id_signup3').click(function() {
              $('#login').modal('hide');
              $('#signup').modal('show');

          });
          $('#modal_close_signup').click(function() {
              $('#signup').modal('hide');
          });
        $('#modal_close_myprofile').click(function() {
              $('#myProfile').modal('hide');
          });
    });
</script>
      <script>
          $(document).ready(function() {

          if(window.location.href.indexOf('#signup') != -1) {
            $('#signup').modal('show');
          }

        });
      </script>
      <script>
          $(document).ready(function() {

          if(window.location.href.indexOf('#myEvents') != -1) {
            $('#myEvents').modal('show');
          }

        });
      </script>
      <script src="{% static 'axis/js/validation.js' %}"></script>



<script>


[].slice.call(document.querySelectorAll('.dropdown .nav-link')).forEach(function(el){
    el.addEventListener('click', onClick, false);
});

function onClick(e){
    e.preventDefault();
    var el = this.parentNode;
    el.classList.contains('show-submenu') ? hideSubMenu(el) : showSubMenu(el);
}

function showSubMenu(el){
    el.classList.add('show-submenu');
    document.addEventListener('click', function onDocClick(e){
{#        e.preventDefault();#}
        if(el.contains(e.target)){
            return;
        }
        document.removeEventListener('click', onDocClick);
        hideSubMenu(el);
    });
}

function hideSubMenu(el){
    el.classList.remove('show-submenu');
}

</script>

<script>
    $("#signup_form").submit(function()
     {
         if($("#signup_form").valid()) {
             $("#signup_submit", this)
                 .val("Please Wait...")
                 .attr('disabled', 'disabled');
         }
        return true;
      });

    $("#login_form").submit(function()
     {
         if($("#login_form").valid()) {
             $("#login_submit", this)
                 .val("Please Wait...")
                 .attr('disabled', 'disabled');
         }
        return true;
      });
</script>

{% block content %}

{% endblock %}

</body>
</html>
