<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="teamName">Team Name</label>
        <input type="text" id="teamName" name="teamName" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <input type="submit" />
    </form>
</body>
</html>
