<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Email-Validation</title>
    <style>
        p, h2, a{
            text-align: center;
        }
        .main {
            border-radius: 8px;
            min-width: 80%;
        }
        p, a {
            font-size: 14px;
        }
        @media screen and (min-width: 480px){
            .main {
                width: 80%;
            }
        }
    </style>
</head>
<body>
    <div style="background: #e4e4e4; height: auto; margin: 0 auto; padding: 20px;" class="main">
        <h2 style="color: #515151">Verify your email, {{ name }}!</h2>
        <div style="background-color: #ffffff; margin: 20px auto; padding: 20px; font-family: Roboto,serif" class="main">
            <p>
                Please note your AXIS'18 ID: <b>{{ axis_id }}</b>. This ID will be used for all further communication.
            </p>
            <p>Your registration details are:</p>
            <p><b>Email-ID: </b>{{ email }}</p>
            <p><b>Password: </b>{{ password }}</p>
            <p> Please verify your email id by clicking on the link below...</p>
            <div style="text-align: center">
                <a href="{{ link }}">
                    {{ link }}
                </a>
            </div>
            <p style="font-size: 12px">
                Facing any difficulty in login? Contact us at <b>+91-8983973404</b>.
            </p>
        </div>
    </div>
</body>
</html>