{% extends 'axis/base.html' %}
{%  load static %}

{% block title %}
    <title>Events | AXIS'18</title>
{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/event_mobile.css' %}"/>
    <script src="{% static 'axis/js/modernizr.custom.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="container" style="padding: 0; margin: 0;position:absolute;top:0;width:100%;height:100%;">
        <div id="bl-main" class="bl-main">
            {% for event_cat in event_categories %}
                    <section id={{ event_cat.slug }}>
					<div class="bl-box">
						<div class="image" style="padding-top: 20px">
                            {{ event_cat.icon|safe }}
{#                            <i class="fa fa-building-o fa-4x" style="color: white; margin-top: 20px" aria-hidden="true"></i>#}
{#							<img src="{% static 'axis/images/event_cat_icons/'|add:event_cat.slug|add:'.png' %}" style="height: 150px; width: 150px">#}
						</div>
						<h2 style="font-family: 'Roboto', 'Adobe Blank', serif; font-size: 18px; color: white; padding-top: 0">{{ event_cat.name }}</h2>
					</div>
					<div class="bl-content">
						<h2 style="font-family: 'Lato', Calibri, Arial, sans-serif !important;">{{ event_cat.name }}</h2>
						<ul id="bl-work-items">
                            {% for event in events %}
                                {% if event.category.name == event_cat.name %}
                                    <li data-panel="{{ event.slug }}_panel" style="font-size: 16px">
                                        <a href="#"><img src="{% static 'axis/images/event_thumbnails/'|add:event.slug|add:'.jpeg' %}" alt="Image Not Found!!!" /></a>
                                        {{ event.name }}
                                    </li>
                                {% endif %}
                            {% endfor %}

{#							<li data-panel="panel-2"><a href="#"><img src="{% static 'axis/images/2.jpg' %}" /></a></li>#}
{#							<li data-panel="panel-3"><a href="#"><img src="{% static 'axis/images/3.jpg' %}" /></a></li>#}
{#							<li data-panel="panel-4"><a href="#"><img src="{% static 'axis/images/4.jpg' %}" /></a></li>#}
						</ul>
					</div>
					<span class="bl-icon bl-icon-close" style="color: #FFFFFF"></span>
				</section>
                {% endfor %}
{#            <section id="bl-automation-and-robotics-section">#}
{#                <div class="bl-box">#}
{#                    <h2 class="bl-icon bl-icon-about">Construction and Design</h2>#}
{#                </div>#}
{#                <div class="bl-content">#}
{#                    <h2>Construction and Design</h2>#}
{#                    <ul id="bl-automation-and-robotics-items">#}
{#                        <li data-panel="panel-1"><a href="#">#}
{#                            <div class="image-container"><img src="{% static 'axis/images/1.jpg' %}"#}
{#                                                              class="event-thumbnail"/>#}
{#                            </div>#}
{#                        </a></li>#}
{#                        <li data-panel="panel-2"><a href="#">#}
{#                            <div class="image-container"><img src="{% static 'axis/images/2.jpg' %}"#}
{#                                                              class="event-thumbnail"/>                            </div>#}
{#                        </a></li>#}
{#                        <li data-panel="panel-3"><a href="#">#}
{#                            <div class="image-container"><img src="{% static 'axis/images/3.jpg' %}"#}
{#                                                              class="event-thumbnail"/>#}
{#                            </div>#}
{#                        </a></li>#}
{#                        <li data-panel="panel-4"><a href="#">#}
{#                            <div class="image-container"><img src="{% static 'axis/images/4.jpg' %}"#}
{#                                                              class="event-thumbnail"/>#}
{#                            </div>#}
{#                        </a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <span class="bl-icon bl-icon-close"></span>#}
{#            </section>#}
{#            <section id="bl-constrcution-and-design-section">#}
{#                <div class="bl-box">#}
{#                    <h2 class="bl-icon bl-icon-works">Construction and Design</h2>#}
{#                </div>#}
{#                <div class="bl-content">#}
{#                    <h2>My Works</h2>#}
{#                    <p>Mung bean maize dandelion sea lettuce catsear bunya nuts ricebean tatsoi caulie horseradish pea.</p>#}
{#                    <ul id="bl-construction-and-design-items">#}
{#                        <li data-panel="panel-1"><a href="#"><img src="{% static 'axis/images/1.jpg' %}"/></a></li>#}
{#                        <li data-panel="panel-2"><a href="#"><img src="{% static 'axis/images/2.jpg' %}"/></a></li>#}
{#                        <li data-panel="panel-3"><a href="#"><img src="{% static 'axis/images/3.jpg' %}"/></a></li>#}
{#                        <li data-panel="panel-4"><a href="#"><img src="{% static 'axis/images/4.jpg' %}"/></a></li>#}
{#                    </ul>#}
{#                    <p>Illustrations by <a href="http://dribbble.com/isaac317/click">Isaac Montemayor</a></p>#}
{#                </div>#}
{#                <span class="bl-icon bl-icon-close"></span>#}
{#            </section>#}
{#            <section>#}
{#                <div class="bl-box">#}
{#                    <h2 class="bl-icon bl-icon-blog">AXIS-IGNITING MINDS</h2>#}
{#                </div>#}
{#                <div class="bl-content">#}
{#                    <h2>My Musings</h2>#}
{#                    <article>#}
{#                        <h3>Being a Freelance Designer</h3>#}
{#                        <p>Stumptown helvetica cardigan, odd future seitan tattooed flannel. Kale chips direct trade cray#}
{#                            beard. 8-bit etsy butcher post-ironic blog lo-fi mcsweeney's, sustainable pickled umami#}
{#                            flexitarian DIY ethical plaid trust fund. Wolf cred organic, terry richardson aesthetic four#}
{#                            loko occupy vegan chillwave readymade deep... <a href="#">Read more</a></p>#}
{#                    </article>#}
{#                    <article>#}
{#                        <h3>Working with Photoshop</h3>#}
{#                        <p>Cosby sweater odd future gluten-free actually dreamcatcher. Fixie cray vice sriracha disrupt,#}
{#                            lo-fi pitchfork mcsweeney's swag YOLO meh chambray etsy. Keytar sriracha fanny pack church-key#}
{#                            hashtag vice blog. 3 wolf moon VHS helvetica, raw denim deep v shoreditch seitan twee... <a#}
{#                                    href="#">Read more</a></p>#}
{#                    </article>#}
{#                    <article>#}
{#                        <h3>Making use of Icon Fonts</h3>#}
{#                        <p>Locavore irony gastropub chillwave, butcher meggings flexitarian pinterest master cleanse godard.#}
{#                            Intelligentsia pop-up neutra, williamsburg gastropub godard pinterest swag deep v umami lomo.#}
{#                            Butcher next level 90's wolf bushwick, narwhal photo booth YOLO kale chips whatever small batch.#}
{#                            Meh viral ethical hella cardigan portland, street art mlkshk meggings mixtape kale chips cliche#}
{#                            messenger bag pitchfork... <a href="#">Read more</a></p>#}
{#                    </article>#}
{#                    <article>#}
{#                        <h3>Being a Freelance Designer</h3>#}
{#                        <p>Stumptown helvetica cardigan, odd future seitan tattooed flannel. Kale chips direct trade cray#}
{#                            beard. 8-bit etsy butcher post-ironic blog lo-fi mcsweeney's, sustainable pickled umami#}
{#                            flexitarian DIY ethical plaid trust fund. Wolf cred organic, terry richardson aesthetic four#}
{#                            loko occupy vegan chillwave readymade deep... <a href="#">Read more</a></p>#}
{#                    </article>#}
{#                    <article>#}
{#                        <h3>Working with Photoshop</h3>#}
{#                        <p>Cosby sweater odd future gluten-free actually dreamcatcher. Fixie cray vice sriracha disrupt,#}
{#                            lo-fi pitchfork mcsweeney's swag YOLO meh chambray etsy. Keytar sriracha fanny pack church-key#}
{#                            hashtag vice blog. 3 wolf moon VHS helvetica, raw denim deep v shoreditch seitan twee... <a#}
{#                                    href="#">Read more</a></p>#}
{#                    </article>#}
{#                    <article>#}
{#                        <h3>Making use of Icon Fonts</h3>#}
{#                        <p>Locavore irony gastropub chillwave, butcher meggings flexitarian pinterest master cleanse godard.#}
{#                            Intelligentsia pop-up neutra, williamsburg gastropub godard pinterest swag deep v umami lomo.#}
{#                            Butcher next level 90's wolf bushwick, narwhal photo booth YOLO kale chips whatever small batch.#}
{#                            Meh viral ethical hella cardigan portland, street art mlkshk meggings mixtape kale chips cliche#}
{#                            messenger bag pitchfork... <a href="#">Read more</a></p>#}
{#                    </article>#}
{#                </div>#}
{#                <span class="bl-icon bl-icon-close"></span>#}
{#            </section>#}
{#            <section>#}
{#                <div class="bl-box">#}
{#                    <h2>Management and Others</h2>#}
{#                </div>#}
{#                <div class="bl-content">#}
{#                    <h2>Get in touch</h2>#}
{#                    <p>Pinterest semiotics single-origin coffee craft beer thundercats irony, tumblr bushwick intelligentsia#}
{#                        pickled. Narwhal mustache godard master cleanse street art, occupy ugh selfies put a bird on it cray#}
{#                        salvia four loko gluten-free shoreditch. Occupy american apparel freegan cliche. Mustache trust fund#}
{#                        8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic#}
{#                        flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar#}
{#                        fap bushwick bespoke.</p>#}
{#                </div>#}
{#                <span class="bl-icon bl-icon-close"></span>#}
{#            </section>#}
{#            <section>#}
{#                <div class="bl-box">#}
{#                    <h2 class="bl-icon bl-icon-about">School Events</h2>#}
{#                </div>#}
{#            </section>#}
{#            <section>#}
{#                <div class="bl-box">#}
{#                    <h2 class="bl-icon bl-icon-about">software and electronics</h2>#}
{#                </div>#}
{#            </section>#}
            <!-- Panel items for the works -->
				<div class="bl-panel-items" id="bl-panel-work-items">
                    {% for event in events %}
                        <div data-panel="{{ event.slug }}_panel" style="background-image: url('{% static 'axis/images/event_backgrounds/'|add:event.slug|add:'.jpeg' %}')">
						<div>
							<h3>{{ event.name }}</h3>
                            <div class="panel-group" id="{{ event.slug }}_acc">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#{{ event.slug }}_acc" href="#{{ event.slug }}_acc_desc">
                                    Description</a>
                                  </h4>
                                </div>
                                <div id="{{ event.slug }}_acc_desc" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                      <img src="{% static 'axis/images/event_thumbnails/'|add:event.slug|add:'.jpeg' %}" />
                                      <div class="desc-em">
                                          {{ event.description | safe }}
                                          <br />
                                          <br />
                                          <b>Event Managers:</b>
                                          <br />
                                          {{ event.event_managers | safe }}
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#{{ event.slug }}_acc" href="#{{ event.slug }}_acc_rules">
                                    Rules</a>
                                  </h4>
                                </div>
                                <div id="{{ event.slug }}_acc_rules" class="panel-collapse collapse desc-em">
                                  <div class="panel-body">{{ event.rules | safe }}</div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#{{ event.slug }}_acc" href="#{{ event.slug }}_acc_probstmt">
                                    Problem Statement</a>
                                  </h4>
                                </div>
                                <div id="{{ event.slug }}_acc_probstmt" class="panel-collapse collapse desc-em">
                                  <div class="panel-body">{{ event.prob_stmt | safe }}</div>
                                </div>
                              </div>
{#                              <div class="panel panel-default">#}
{#                                <div class="panel-heading">#}
{#                                  <h4 class="panel-title">#}
{#                                    <a data-toggle="collapse" data-parent="#{{ event.slug }}_acc" href="#{{ event.slug }}_acc_reg">#}
{#                                    Register</a>#}
{#                                  </h4>#}
{#                                </div>#}
{#                                <div id="{{ event.slug }}_acc_reg" class="panel-collapse collapse desc-em">#}
{#                                  <div class="panel-body">#}
{#                                      To be updated soon...#}
{#                                      Note: Code below to be used for registration#}
{#                                      ------------------------#}
{#                                      <section class="content bgcolor-4">#}
{#                                        <h3 style="font-family: Lato,serif; font-size: 25px; font-weight: bold; color: #444">Join Team</h3>#}
{#                                          <form method="post" enctype="multipart/form-data">#}
{#                                            <span class="input input--ruri">#}
{#                                                <input class="input__field input__field--ruri" type="text" id="input-26">#}
{#                                                <label class="input__label input__label--ruri" for="input-26">#}
{#                                                    <span class="input__label-content input__label-content--ruri">Team Name</span>#}
{#                                                </label>#}
{#                                            </span>#}
{#                                            <span class="input input--ruri">#}
{#                                                <input class="input__field input__field--ruri" type="text" id="input-27">#}
{#                                                <label class="input__label input__label--ruri" for="input-27">#}
{#                                                    <span class="input__label-content input__label-content--ruri">Team Password</span>#}
{#                                                </label>#}
{#                                            </span>#}
{#                                              <button type="button" class="btn btn-success" style="margin-top:21px; border-radius: 0">Join Team</button>#}
{#                                          </form>#}
{#                                          <h3 style="font-family: Lato,serif; font-size: 25px; font-weight: bold; color: #444" id="create_team_heading">Create Team</h3>#}
{#                                          <form method="post" enctype="multipart/form-data">#}
{#                                            <span class="input input--ruri">#}
{#                                                <input class="input__field input__field--ruri" type="text" id="input-26">#}
{#                                                <label class="input__label input__label--ruri" for="input-26">#}
{#                                                    <span class="input__label-content input__label-content--ruri">Team Name</span>#}
{#                                                </label>#}
{#                                            </span>#}
{#                                            <span class="input input--ruri">#}
{#                                                <input class="input__field input__field--ruri" type="text" id="input-27">#}
{#                                                <label class="input__label input__label--ruri" for="input-27">#}
{#                                                    <span class="input__label-content input__label-content--ruri">Team Password</span>#}
{#                                                </label>#}
{#                                            </span>#}
{#                                              <button type="button" class="btn btn-success" style="margin-top:21px; border-radius: 0">Create Team</button>#}
{#                                          </form>#}
{#                                    </section>#}
{#                                      ------------------------#}
{#                                  </div>#}
{#                                </div>#}
{#                              </div>#}
                            </div>
						</div>
					</div>
                    {% endfor %}

					<nav>
{#						<span class="bl-next-work">&gt; Next Event</span>#}
						<span class="bl-icon bl-icon-close" style="color: white"></span>
					</nav>
				</div>
{#            <div class="bl-panel-items" id="bl-panel-construction-and-design-items">#}
{#                <div data-panel="panel-1">#}
{#                    <div>#}
{#                        <img src="{% static 'axis/images/1.jpg' %}"/>#}
{#                        <h3>AQUA SKYLARK</h3>#}
{#                        <p>Iphone artisan direct trade ethical Austin. Fixie bespoke banh mi ugh, deep v vinyl hashtag.#}
{#                            Tumblr gentrify keffiyeh pop-up iphone twee biodiesel. Occupy american apparel freegan cliche.#}
{#                            Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray,#}
{#                            banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe.#}
{#                            Sustainable cardigan keytar fap bushwick bespoke.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div data-panel="panel-2">#}
{#                    <div>#}
{#                        <img src="{% static 'axis/images/2.jpg' %}"/>#}
{#                        <h3>CREPIDO</h3>#}
{#                        <p>Squid vinyl scenester literally pug, hashtag tofu try-hard typewriter polaroid craft beer mlkshk#}
{#                            cardigan photo booth PBR. Chillwave 90's gentrify american apparel carles disrupt. Pinterest#}
{#                            semiotics single-origin coffee craft beer thundercats irony, tumblr bushwick intelligentsia#}
{#                            pickled. Narwhal mustache godard master cleanse street art, occupy ugh selfies put a bird on it#}
{#                            cray salvia four loko gluten-free shoreditch.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div data-panel="panel-3">#}
{#                    <div>#}
{#                        <img src="{% static 'axis/images/3.jpg' %}"/>#}
{#                        <h3>DEVISE</h3>#}
{#                        <p>Ethical cray wayfarers leggings vice, seitan banksy small batch ethnic master cleanse. Pug#}
{#                            chillwave etsy, scenester meh occupy blue bottle tousled blog tonx pinterest selvage mixtape#}
{#                            swag cosby sweater. Synth tousled direct trade, hella Austin craft beer ugh chambray.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div data-panel="panel-4">#}
{#                    <div>#}
{#                        <img src="{% static 'axis/images/4.jpg' %}"/>#}
{#                        <h3>LASER LITT</h3>#}
{#                        <p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO. Wes#}
{#                            anderson lomo 90's food truck 3 wolf moon, twee jean shorts. Iphone small batch twee wolf yr#}
{#                            before they sold out. Brooklyn echo park cred, portland pug selvage flannel seitan tousled#}
{#                            mcsweeney's.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div data-panel="panel-5">#}
{#                    <div>#}
{#                        <img src="{% static 'axis/images/4.jpg' %}"/>#}
{#                        <h3>PARADEIGMA</h3>#}
{#                        <p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO. Wes#}
{#                            anderson lomo 90's food truck 3 wolf moon, twee jean shorts. Iphone small batch twee wolf yr#}
{#                            before they sold out. Brooklyn echo park cred, portland pug selvage flannel seitan tousled#}
{#                            mcsweeney's.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <div data-panel="panel-6">#}
{#                    <div>#}
{#                        <img src="{% static 'axis/images/4.jpg' %}"/>#}
{#                        <h3>TURBO FLUX</h3>#}
{#                        <p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO. Wes#}
{#                            anderson lomo 90's food truck 3 wolf moon, twee jean shorts. Iphone small batch twee wolf yr#}
{#                            before they sold out. Brooklyn echo park cred, portland pug selvage flannel seitan tousled#}
{#                            mcsweeney's.</p>#}
{#                    </div>#}
{#                </div>#}
{#                <nav>#}
{#                    <span class="bl-next-work">&gt; Next Project</span>#}
{#                    <span class="bl-icon bl-icon-close"></span>#}
{#                </nav>#}
{#            </div>#}
        </div>
{#        <script src="{% static 'axis/js/boxlayoutar.js' %}"></script>#}
{#        <script src="{% static 'axis/js/boxlayoutcd.js' %}"></script>#}
    <script src="{% static 'axis/js/boxlayout.js' %}"></script>
        <script>
            $(function () {
                {#Boxlayoutar.init();#}
                {#Boxlayoutcd.init();#}
                Boxlayout.init();
            });
        </script>
    </div>
{% endblock %}