<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>
{% include 'axis/base.html' %}
    {% for cat in events_cat %}
        <a href="{% url 'axis:events' cat.slug %}">{{ cat.name }}</a>
{#        <a href="{% url 'axis:event_categories' cat.slug %}">{{ cat.name }}</a>#}
    {% endfor %}
</body>
</html>
