<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <label for="team_name">Team Name : </label>
        <input type="text" name="team_name" id="team_name" required/><br>
        <label for="member_email">Email Id of Member1 : </label>
        <input type="email" name="member_email1" value="{{ request.user.email }}" id="member_email" disabled/><br>
        {% for i in range %}
            <label for="member_email">Email Id of Member {{ i }} : </label>
            <input type="email" name="member_email{{ i }}" id="member_email" /><br>
        {% endfor %}

        <input type="submit" value="Register">


    </form>
</body>
</html>
