{% extends 'axis/base.html' %}
{%  load static %}

{% block title %}
    <title>Events | AXIS'18</title>
    <meta name="keywords" content="Axis,Axis Events,Events Axis,Events Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="AXIS is the largest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
<meta charset="UTF-8" />
        <script>
            if(screen.width > 768)
                document.write(
                    "                <link rel=\"stylesheet\" type=\"text/css\" href=\"{% static 'axis/css/event_desktop.css' %}\" />\n" +
                    "                <link href=\"https://fonts.googleapis.com/css?family=Roboto:300\" rel=\"stylesheet\">"
                );
            else
                document.write("<link rel=\"stylesheet\" type=\"text/css\" href=\"{% static 'axis/css/event_mobile.css' %}\"/>");
        </script>
		<script src="{% static 'axis/js/modernizr.custom.js' %}"></script>
{% endblock %}

{% block content %}
    <div id="event_cat" style="top: 0; width: 100%; height: 100%;">
			<div id="bl-main" class="bl-main">
            <script>
                if(screen.width > 768)
                    document.write("\n" +
                        "<div class=\"heading\">\n" +
                        "<p style=\"margin-bottom: 20px; color: whitesmoke;\">EVENTS</p>\n" +
                        "</div>");
            </script>
                {% for event_cat in event_categories %}
                    <section id={{ event_cat.slug }}>
                        <div class="bl-box">
                            <div class="image">
                                <script>
                                    if(screen.width > 768)
                                        document.write("<img src=\"{% static 'axis/images/event_cat_icons/'|add:event_cat.slug|add:'.png' %}\" style=\"height: 130px; width: 130px\">");
                                    else
                                        document.write("{{ event_cat.icon|safe }}");
                                </script>
                            </div>
                            <script>
                                    if(screen.width > 768)
                                        document.write("<h2 style=\"font-family: 'Roboto', 'Adobe Blank', serif; color: #000000; font-size: 20px; margin-top: -30px;\">{{ event_cat.name }}</h2>");
                                    else
                                        document.write("<h2 style=\"font-family: 'Roboto', 'Adobe Blank', serif; font-size: 18px; color: white; padding-top: 0\">{{ event_cat.name }}</h2>");
                                </script>
                        </div>
                        <div class="bl-content">
                            <h2 style="font-family: 'Lato', Calibri, Arial, sans-serif !important;">{{ event_cat.name }}</h2>
                            <ul id="bl-work-items">
                                {% for event in events %}
                                    {% if event.category.name == event_cat.name %}
                                        <li data-panel="{{ event.slug }}_panel"><a href="#"><img src="{% static 'axis/images/event_thumbnails/'|add:event.slug|add:'.jpeg' %}" alt="Image Not Found!!!" /></a>{{ event.name }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
					    <span class="bl-icon bl-icon-close" style="color: #FFFFFF"></span>
				    </section>
                {% endfor %}

				<!-- Panel items for the works -->
				<div class="bl-panel-items" id="bl-panel-work-items">
                    {% for event in events %}
                        <div data-panel="{{ event.slug }}_panel" style="background-image: url('{% static 'axis/images/event_backgrounds/'|add:event.slug|add:'.jpeg' %}'); background-repeat: no-repeat; background-position: center; background-size: cover;">
						<div>
							<h3>{{ event.name }}</h3>
                            <div class="panel-group" id="{{ event.slug }}_acc" style="opacity: 0.85">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#{{ event.slug }}_acc" href="#{{ event.slug }}_acc_desc">
                                    Description</a>
                                  </h4>
                                </div>
                                <div id="{{ event.slug }}_acc_desc" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                      <img src="{% static 'axis/images/event_thumbnails/'|add:event.slug|add:'.jpeg' %}" />
                                      <div class="desc-em">
                                          {{ event.description | safe }}
                                          <br />
                                          <br />
                                          <b>Event Managers:</b>
                                          <br />
                                          {{ event.event_managers | safe }}
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#{{ event.slug }}_acc" href="#{{ event.slug }}_acc_rules">
                                    Rules</a>
                                  </h4>
                                </div>
                                <div id="{{ event.slug }}_acc_rules" class="panel-collapse collapse desc-em">
                                  <div class="panel-body">{{ event.rules | safe }}</div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#{{ event.slug }}_acc" href="#{{ event.slug }}_acc_probstmt">
                                    Problem Statement</a>
                                  </h4>
                                </div>
                                <div id="{{ event.slug }}_acc_probstmt" class="panel-collapse collapse desc-em">
                                  <div class="panel-body">{{ event.prob_stmt | safe }}</div>
                                </div>
                              </div>
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#{{ event.slug }}_acc" href="#{{ event.slug }}_acc_reg">
                                    Register</a>
                                  </h4>
                                </div>
                                <div id="{{ event.slug }}_acc_reg" class="panel-collapse collapse desc-em">
                                  <div class="panel-body">
                                      {% if event.last_date_reg.date >= today.date%}
                                          {% if event.last_date_reg.date == today.date and event.last_date_reg.time < today.time%}
                                              <div style="display: block; text-align: center; margin-top: 20px">
                                                <div class="alert alert-danger" role="alert" style="display: inline-block">
                                                  <strong>Registration closed for this event !!</strong>
                                                </div>
                                              </div>
                                          {% else %}
                                              {% if request.user.is_authenticated %}

                                                  {% if event.id not in user_registrations.event_id_list %}
                                                      {% if event.max_team_mem == 1 %}
                                                        <section class="content bgcolor-4">
                                                              <form method="post" enctype="multipart/form-data">
                                                                  {% csrf_token %}
                                                                  <input type="hidden" name="teamName" value="{{ request.user.axis_id | add:event.name }}">
                                                                  <input type="hidden" name="password" value="{{ request.user.axis_id }}">
                                                                  <input type="hidden" name="eventId" value="{{ event.id }}">
                                                                  <button type="submit" class="btn btn-success" style="margin-top:21px; border-radius: 0"; name="Register">Register</button>
                                                              </form>
                                                        </section>
                                                      {% else %}
                                                        <section class="content bgcolor-4">
                                                            <h5 style="color: red;"><b>NOTE:</b> Only ONE of the team members need to create a team. Others can simply join that team.</h5>
                                                            <h3 style="font-family: Lato,serif; font-size: 25px; font-weight: bold; color: #444">Join Team</h3>
                                                              <form method="post" enctype="multipart/form-data">
                                                                  {% csrf_token %}
                                                                  <input type="hidden" name="eventId" value="{{ event.id }}">
                                                                <span class="input input--ruri">
                                                                    <input class="input__field input__field--ruri" type="text" name="teamName" placeholder="Team Name" style="color: #0e0e0e">
                                                                    <label class="input__label input__label--ruri" for="input-26">
                                                                        <span class="input__label-content input__label-content--ruri">&nbsp</span>
                                                                    </label>
                                                                </span>
                                                                <span class="input input--ruri">
                                                                    <input class="input__field input__field--ruri" type="password" name="password" placeholder="Team Password" style="color: #0e0e0e">
                                                                    <label class="input__label input__label--ruri" for="input-27">
                                                                        <span class="input__label-content input__label-content--ruri">&nbsp</span>
                                                                    </label>
                                                                </span>
                                                                  <button type="submit" class="btn btn-success" style="margin-top:21px; border-radius: 0" name="JoinTeam">Join Team</button>
                                                              </form>
                                                              <h3 style="font-family: Lato,serif; font-size: 25px; font-weight: bold; color: #444" id="create_team_heading">Create Team</h3>
                                                              <form method="post" enctype="multipart/form-data">
                                                                  {% csrf_token %}
                                                                  <input type="hidden" name="eventId" value="{{ event.id }}">
                                                                <span class="input input--ruri">
                                                                    <input class="input__field input__field--ruri" type="text" name="teamName" placeholder="Team Name" minlength="5" required style="color: #0e0e0e">
                                                                    <label class="input__label input__label--ruri" for="input-26">
                                                                        <span class="input__label-content input__label-content--ruri">&nbsp</span>
                                                                    </label>
                                                                </span>
                                                                <span class="input input--ruri">
                                                                    <input class="input__field input__field--ruri" type="password" name="password" placeholder="Team Password" minlength="5" required style="color: #0e0e0e">
                                                                    <label class="input__label input__label--ruri" for="input-27">
                                                                        <span class="input__label-content input__label-content--ruri">&nbsp</span>
                                                                    </label>
                                                                </span>
                                                                  <button type="submit" class="btn btn-success" style="margin-top:21px; border-radius: 0" name="CreateTeam">Create Team</button>
                                                              </form>
                                                        </section>
                                                      {% endif %}
                                                  {% else %}
                                                      <div style="display: block; text-align: center; margin-top: 20px">
                                                        <div class="alert alert-info" role="alert" style="display: inline-block">
                                                          <strong>You are already registered for this event !!</strong>
                                                        </div>
                                                    </div>
                                                  {% endif %}
                                              {% else %}
                                                  <div style="display: block; text-align: center; margin-top: 20px">
                                                    <div class="alert alert-info" role="alert" style="display: inline-block">
                                                      <strong>Please login first, to register !!</strong>
                                                    </div>
                                                  </div>
                                              {% endif %}
                                          {% endif %}
                                      {% else %}
                                          <div style="display: block; text-align: center; margin-top: 20px">
                                            <div class="alert alert-danger" role="alert" style="display: inline-block">
                                              <strong>Registration closed for this event !!</strong>
                                            </div>
                                          </div>
                                      {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
						</div>
					</div>
                    {% endfor %}

					<nav>
{#						<span class="bl-next-work">&gt; Next Event</span>#}
						<span class="bl-icon bl-icon-close" style="color: white"></span>
					</nav>
				</div>
			</div>
		</div>
    <!-- /container -->
		<script>
        if(screen.width > 768) {
            var mouseX = 0,
                mouseY = 0,
                windowHalfX = window.innerWidth / 2,
                windowHalfY = window.innerHeight / 2,
                SEPARATION = 200,
                AMOUNTX = 10,
                AMOUNTY = 10,
                camera,
                scene,
                renderer;

            init();
            animate();

            function init() {

                var container,
                    separation = 100,
                    amountX = 50,
                    amountY = 50,
                    particle;

                // {#        container = document.createElement( 'div' );#}
                container = document.getElementById('event_cat');
                // {#        document.body.appendChild( container );#}

                scene = new THREE.Scene();

                renderer = new THREE.CanvasRenderer({alpha: true}); // gradient; this can be swapped for WebGLRenderer
                renderer.setSize(window.innerWidth, window.innerHeight);
                container.appendChild(renderer.domElement);

                camera = new THREE.PerspectiveCamera(
                    75,
                    window.innerWidth / window.innerHeight,
                    1,
                    10000
                );
                camera.position.z = 100;

                // particles
                var PI2 = Math.PI * 2;
                var material = new THREE.SpriteCanvasMaterial({
                    color: 0xffffff,
                    program: function (context) {
                        context.beginPath();
                        context.arc(0, 0, 0.5, 0, PI2, true);
                        context.fill();
                    }
                });

                var geometry = new THREE.Geometry();

                for (var i = 0; i < 100; i++) {
                    particle = new THREE.Sprite(material);
                    particle.position.x = Math.random() * 2 - 1;
                    particle.position.y = Math.random() * 2 - 1;
                    particle.position.z = Math.random() * 2 - 1;
                    particle.position.normalize();
                    particle.position.multiplyScalar(Math.random() * 10 + 450);
                    particle.scale.x = particle.scale.y = 10;
                    scene.add(particle);
                    geometry.vertices.push(particle.position);
                }

                // lines
                var line = new THREE.Line(geometry, new THREE.LineBasicMaterial({color: 0xffffff, opacity: 0.5}));
                scene.add(line);

                // mousey
                document.addEventListener('mousemove', onDocumentMouseMove, false);
                document.addEventListener('touchstart', onDocumentTouchStart, false);
                document.addEventListener('touchmove', onDocumentTouchMove, false);

                window.addEventListener('resize', onWindowResize, false);

            } // end init();

            function onWindowResize() {

                windowHalfX = window.innerWidth / 2;
                windowHalfY = window.innerHeight / 2;

                camera.aspect = window.innerWidth / window.innerHeight;
                camera.updateProjectionMatrix();

                renderer.setSize(window.innerWidth, window.innerHeight);

            }

            function onDocumentMouseMove(event) {

                mouseX = event.clientX - windowHalfX;
                mouseY = event.clientY - windowHalfY;

            }

            function onDocumentTouchStart(event) {

                if (event.touches.length > 1) {

                    event.preventDefault();

                    mouseX = event.touches[0].pageX - windowHalfX;
                    mouseY = event.touches[0].pageY - windowHalfY;

                }
            }

            function onDocumentTouchMove(event) {

                if (event.touches.length == 1) {

                    event.preventDefault();

                    mouseX = event.touches[0].pageX - windowHalfX;
                    mouseY = event.touches[0].pageY - windowHalfY;

                }
            }

            function animate() {

                requestAnimationFrame(animate);
                render();

            }

            function render() {

                camera.position.x += ( mouseX - camera.position.x ) * .05;
                camera.position.y += ( -mouseY + 200 - camera.position.y ) * .05;
                camera.lookAt(scene.position);

                renderer.render(scene, camera);

            }
        }
    </script>
		<script src="{% static 'axis/js/boxlayout.js' %}"></script>
		<script>
			$(function() {
				Boxlayout.init();
			});
		</script>
{% endblock %}
