{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#    {% for event in events %}#}
{#        <a href="{% url 'axis:event' cat_slug event.slug %}">{{ event.name }}</a>#}
{#        <a href="{% url 'axis:events' cat_slug event.slug %}">{{ event.name }}</a>#}
{#    {% endfor %}#}
{#</body>#}
{#</html>#}
