<!DOCTYPE html>
<html lang="en">
<head>
    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <script>
        // console.log(id_token);
{#        var xhr = new XMLHttpRequest();#}
{#        xhr.open('POST', 'http://localhost:8000/event_categories/');#}
{#        xhr.withCredentials = false;#}
{#        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');#}
{#        xhr.onload = function() {#}
{##}
{#        };#}
{#        w = xhr.send('width=' + screen.width);#}
{#        console.log(w);#}
{#        window.location = "{% url 'axis:event_categories' %}" + "?width=" + screen.width.toString();#}
{#        alert('kaha tak aaya');#}
        $(document).ready(
            function () {
{#                alert('haaha');#}
                var a = document.getElementById('width');
                a.value = screen.width;
{#                alert(a.value);#}
                $('#sub').trigger('click');
            }
        )
    </script>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>
            <input type="number" name="width" id="width" style="display: none" />
            <input type="submit" id="sub" style="display: none" />
        </label>
    </form>
</body>
</html>