{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Guest Lectures | AXIS'18</title>
    <meta name="keywords" content="Axis,Guest lectures Axis,Guest lectures Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <style>
        .row{
            margin-top: 20px;
        }

        .row > .col-lg-4, .col-md-4{
            padding-left: 4%;
            padding-right: 4%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/event_desktop.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1 style="text-align: center; font-family: Raleway, sans-serif; color: #c5c2b8;">LECTURES</h1>
    <div class="row">
        {% for gl in guest_lectures %}
            <div class="panel-group" id="accordion" style="opacity: 0.9; padding-right: 10px; padding-left: 10px;">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title" style="text-align: right">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        {{ gl.speaker_name }}
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                      <div class="row">
                                          <div class="col-lg-4 col-md-4" style="text-align: center">
                                              <img src="{{ gl.speaker_image.url }}" style="max-height: 350px" />
                                              <div >
                                                  <h3 align="center">Info</h3>
                                                  <div style="text-align: center">
                                                      <div style="color: #0e0e0e;">
                                                          <div>
                                                              <span style="font-weight: bold">Venue :</span> {{ gl.venue }}
                                                          </div>
                                                          <div>
                                                              <span style="font-weight: bold">Date :</span> {{ gl.date | date:"d M Y"  }}
                                                          </div>
                                                          <div>
                                                              <span style="font-weight: bold">Time :</span> {{ gl.time | time:"g : i A"}}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                            <div class="col-lg-8 col-md-8" style="margin-top: 0">
                                                <div>
                                                    <h3 style="margin-top: 0">{{ gl.speaker_name }}</h3>
                                                    <p style="color: #0e0e0e" align="justify">
                                                        {{ gl.about_speaker | safe }}
                                                    </p>
                                                </div>
{#                                                <div>#}
{#                                                    <h3 style="margin-top: 0">About Webinar</h3>#}
{#                                                    <p style="color: #0e0e0e"  align="justify">#}
{#                                                        {{ gl.about_lecture | safe }}#}
{#                                                    </p>#}
{#                                                </div>#}
                                            </div>
                                    </div>
                                    {% if request.user.is_authenticated %}
                                        {% if gl.isvalid %}
                                            <form method="post" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <span class="input input--ruri" style="display: block; max-width: 10000px">
                                                    <input type="text" hidden="hidden" name="lectureid" value="{{ gl.id }}">
                                                    <input class="input__field input__field--ruri" type="text" style="text-align: center; color: #0e0e0e" name="question"
                                                           placeholder="Enter question to ask during lecture.">
                                                    <label class="input__label input__label--ruri" for="input-26">
                                                        <span class="input__label-content input__label-content--ruri" style="visibility: hidden">
                                                            If you want to ask a question you can enter it here.
                                                        </span>
                                                    </label>
                                                </span>
                                                <div class="col-md-2 col-lg-2 col-md-offset-5 col-lg-offset-5" align="center">
                                                    {% if gl.id not in lec_registered_for %}
                                                        <button type="submit" class="btn btn-success" style="margin-top:21px; border-radius: 0">Register</button>
                                                    {% else %}
                                                        <button type="submit" class="btn btn-success" style="margin-top:21px; border-radius: 0">Submit Question</button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        {% else %}
                                            <div style="display: block; text-align: center; margin-top: 20px">
                                                <div class="alert alert-danger" role="alert" style="display: inline-block">
                                                  <strong>Registrations Are Closed !!!</strong>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %}
                                        <div style="display: block; text-align: center; margin-top: 20px">
                                            <div class="alert alert-danger" role="alert" style="display: inline-block">
                                              <strong>Please Login first to Register !!!</strong>
                                            </div>
                                        </div>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
