{% extends 'axis/base.html' %}
{%  load static %}
{% block title %}
    <title>AXIS'18 | VNIT</title>
    <meta name="keywords" content="Axis,Techfest,VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">
{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" media="screen" href="{% static 'axis/js/particle-js/demo/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'axis/css/social_bar.css' %}">
    <link rel="stylesheet" href="{% static 'axis/css/home.css' %}">
<style>

.sponsors
{
    height: 50%; !important;
    width:50%;
}

.sponsors_mobile
{
    width:75%;

}
.sponsors_text
{
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: -3.57%;
    font-size: 167%;
    margin-bottom: 15px;

}
.sponsors_text_mobile
{
    font-weight: bolder;
    color: white;
    text-align: center;
    {#margin-top: 20px;#}
    {#font-size: 128%;#}
}
.cee_desktop
{
    margin-top: 5%;
    display: block;
    margin-right: 0px;
    margin-left: auto;
}
.cee_mobile
{
    margin-top: 13%;
    display: block;
    margin-right: 0px;
    margin-left: auto;
}
</style>
{% endblock %}



{% block particlejsHead %}
    <div id="particles-js" style="position:absolute;top:0;width:100%;height:100%;"></div>
   {% endblock %}

{% block content %}



{##}
{#    <div class="axis-big" style="position: absolute; max-width: 80%; top: 15vh; left: 10%;opacity: 0.9">#}
{#        <button  onclick="location.href = '{% url 'bakerstreet:home' %}';"  class="btn btn-primary btn-lg" style="display: block;margin: 0 auto">BakerStreet is Live !!! Click To Play</button>#}

    <div class="axis-big" style="position: absolute; max-width: 80%; top: 20%; left: 10%;opacity: 0.9">
{#        <button  onclick="location.href = '{% url 'bakerstreet:rules' %}';"  class="btn btn-primary btn-lg" style="display: block;margin: 0 auto">BakerStreet is Live !!! Click To Play</button>#}

        <img src="{% static 'axis/images/Composite3.0_white_website.png' %}">
        <div class="sponsors_text">UNDER THE PATRONAGE OF</div>

        <div class="row">

            <div class="col-sm-4 ">
                <a href="http://www.ceeindia.org/" target="_blank" ><img class="sponsors cee_desktop" src="{% static 'axis/images/homepage/CEE LOGO.png' %}" ></a>
            </div>
            <div class="col-sm-4 ">
                <a href="http://www.makeinindia.com/home" target="_blank" ><img class="sponsors" src="{% static 'axis/images/homepage/Make-In-IndiaLogo650.png' %}" style="display: block;margin: 0 auto;"></a>
            </div>
            <div class="col-sm-4 ">
                <a href="http://www.inclusiveindia.in/"  target="_blank" ><img class="sponsors" src="{% static 'axis/images/homepage/inclusive-india-logo.png' %}" style="display: block;margin-left:0px"></a>
            </div>
        </div>
    </div>


{#    <div class="axis-big-mobile" style="position: absolute;top:3%;">#}
{#            <a  href="{% url 'bakerstreet:home' %}" role="button" class="btn btn-primary btn-sm" style="display: block;margin: 0 auto; width: 60%">BakerStreet is Live! Click to Play !</a>#}

    <div class="axis-big-mobile" style="position: absolute;top:7%;">
{#        <a  href="{% url 'bakerstreet:rules' %}" role="button" class="btn btn-primary btn-sm" style="display: block;margin: 0 auto; width: 60%">BakerStreet is Live! Click to Play !</a>#}

        <img src="{% static 'axis/images/Composite3.1_white_mobile.png' %}" style="display: block;margin: 0 auto;max-width: 60%;">
{#        <div class="row" style="">#}
{#            <div class="col-xs-4"><img class="sponsors_mobile" src="{% static 'axis/images/homepage/CEE_logo.gif' %}"></div>#}
{#            <div class="col-xs-4"><img class="sponsors_mobile" src="{% static 'axis/images/homepage/mii logo photo.jpg' %}" ></div>#}
{#            <div class="col-xs-4"><img class="sponsors_mobile" src="{% static 'axis/images/homepage/incl.png' %}"></div>#}
{#        </div>#}
        <div class="sponsors_text_mobile">UNDER THE PATRONAGE OF</div>
        <div style="margin-left: 0px;margin-right: 0px;margin-top: 0%;" class="row">
            <div class="col-xs-12">

                <a href="http://www.makeinindia.com/home" target="_blank"> <img  src="{% static 'axis/images/homepage/Make-In-IndiaLogo650.png' %}" style="display: block;margin: 0 auto;width:32%;"> </a>
            </div>
        </div>
        <div style=";margin-left: 0px;margin-right: 0px;" class="row">
            <div class="col-xs-6">
                   <a href="http://www.ceeindia.org/" target="_blank"> <img class="sponsors_mobile cee_mobile" src="{% static 'axis/images/homepage/CEE LOGO.png' %}"> </a>
            </div>
            <div class="col-xs-6">
                <a href="http://www.inclusiveindia.in/" target="_blank"><img class="sponsors_mobile" src="{% static 'axis/images/homepage/inclusive-india-logo.png' %}" style="margin-left:0px; " ></a>
            </div>
        </div>
    </div>

{#    <div class="fb-like" data-href="https://www.facebook.com/axisvnit/" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>#}
{#<a href="https://twitter.com/axisvnit?ref_src=twsrc%5Etfw" class="twitter-follow-button" style="bottom: 10px; right: 10px !important; position: absolute; !important; " data-show-count="false">Follow @axisvnit</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>#}
{#<a href="https://twitter.com/axisvnit?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @axisvnit</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>#}
{#<script src="https://apis.google.com/js/platform.js"></script>#}
{#<div class="g-ytsubscribe" data-channel="AXISVNIT" data-layout="default" data-count="default"></div>#}
{#<a href="https://in.linkedin.com/company/axis-vnit-nagpur"><img class="linkedin" src="{% static 'axis/images/linkedin.png' %}" width="110" height="25px"></a>#}

    <!-- Social sidebar -->
  <div class="social_bar">
      <ul class="social_list">
            <li class="social-icon"><a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwiMvevYxPfJAhVLjo4KHSrmC3sQFggcMAA&url=https%3A%2F%2Fwww.facebook.com%2Faxisvnit&usg=AFQjCNFacwmdODHTP-wwZc7QQC4ym-55Bw" target="_blank"><img class="icons" src=".{% static 'axis/images/facebook1.png' %}" height="40" width="40"/></a></li>
            <li class="social-icon"><a href="https://twitter.com/axisvnit" target="_blank"><img class="icons" src="{% static 'axis/images/twitter1.png' %}" height="40" width="40" /></a></li>
            <li class="social-icon"><a href="https://www.google.co.in/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjI15zSxffJAhWUvo4KHQ5SCVEQFggcMAA&url=https%3A%2F%2Fwww.youtube.com%2Fuser%2FAXISVNIT&usg=AFQjCNGCKipDZEER-ilh63EIyr2UOCWpyQ" target="_blank"><img class="icons" src="{% static 'axis/images/youtube1.png' %}" height="40" width="40" /></a></li>
            <li class="social-icon"><a href="https://www.instagram.com/axis_vnit/" target="_blank"><img class="icons" src="{% static 'axis/images/instagram1.png' %}" height="40" width="40" /></a></li>
            <li class="social-icon"><a href="https://www.linkedin.com/company/axis-vnit-nagpur" target="_blank"><img class="icons" src="{% static 'axis/images/linkedin1.png' %}" height="40" width="40" /></a></li>
      </ul>
  </div>
    {% if current_updates %}
        <div style=" background-color: rgba(0, 0, 0, 0.5); bottom: 0; position: absolute; width: 100%; vertical-align: middle">
{#            <div  style="margin-top: auto; margin-bottom: auto">#}
                <marquee scrollamount="12">
            {#        <div class="ticker">#}
                        {% for update in current_updates %}
            {#                <div class="ticker__item">#}
                                <a href="{{ update.link }}" style="color: white; font-size: 20px; margin-left: 12px; margin-right: 12px;">{{ update.update }}</a>
            {#                </div>#}
                        {% endfor %}
            {#        </div>#}
                </marquee>
{#            <div>#}
        </div>
    {% endif %}

    <script src="{% static 'axis/js/particle-js/particles.js' %}"></script>
    <script src="{% static 'axis/js/particle-js/demo/js/app.js' %}"></script>
    <script src="{% static 'axis/js/particle-js/popup.js' %}"></script>

{% endblock %}

{% block notifications %}
{% endblock %}
