{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Initiatives | AXIS'18</title>
{% endblock %}

{% block stylesheetsAndScriptsInHead %}
{#        <link rel="stylesheet" type="text/css" href="{% static 'axis/css/component.css' %}">#}
        <link rel="stylesheet" type="text/css" href="{% static 'axis/css/initiatives.css' %}">

{% endblock %}

{% block content %}


    <div class="container cont">
        <h2 class="workshop-mob">INITIATIVES</h2>

{#        <hr style="height: 2px; background-color: whitesmoke; max-width: 30px; border: 0; margin-left: 48%">#}
        <div class="row">
            {% for initiatives in social_initiatives %}
            <div class="col-md-3 col-sm-6 col-xs-12 ">
                <img class="kraken" src="{{ initiatives.image.url }}">
                <a href="#" data-toggle="modal" data-target="#{{ initiatives.id }}"><div class="cta_readmore">{{ initiatives.name }}</div></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="content">
			<canvas class="scene scene--full"  id="scene" style="z-index: -1"></canvas>
            <div class="content__inner">
					<h2 class="content__title">WORKSHOPS</h2>
					<div class="content__subtitle"></div>
            </div>
    </div>

    <!-- Modal -->
    {% for initiatives in initiati %}
        <div class="modal fade" id="{{ initiatives.id }}" role="dialog" style="padding-left: 0 !important;">
    <div class="modal-dialog workshop-modal-dialog">

      <!-- Modal content-->
      <div class="modal-content workshop-modal-content" style="background: url('{{ initiatives.background_image.url }}')">
        <div class="modal-header">
          <a href="javascript:void(0)" class=" closebtn" data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body workshop-modal-body">
            <div class="container">
							<h3 style="color: whitesmoke">{{ initiatives.name }}</h3>
                            <div class="panel-group" id="accordion" style="opacity: 0.9">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title" style="text-align: right">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        Description
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                      <div class="row">
                                          <div class="col-lg-4 col-md-4" style="text-align: center">
                                              <img src="{{ initiatives.image.url }}" />
                                          </div>
                                            <div class="col-lg-8 col-md-8" style="margin-top: 0">
                                                <div>
                                                    <p style="color: #0e0e0e" align="justify">
                                                        {{ initiatives.description }}
                                                    </p>
                                                </div>
                                            </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-2 col-lg-2 col-md-offset-5 col-lg-offset-5" align="center">
                                                <button type="button" class="btn btn-success" style="margin-top:21px; border-radius: 0">Register</button>
                                            </div>
                                        </div>
                                  </div>
                                </div>
                              </div>
                            </div>
            </div>
        </div>
  </div>
    </div>
    </div>
    {% endfor %}
		<script src="{% static 'axis/js/demo.js' %}"></script>
		<script src="{% static 'axis/js/three.min.js' %}"></script>
		<script src="{% static 'axis/js/perlin.js' %}"></script>
		<script src="{% static 'axis/js/TweenMax.min.js' %}"></script>
		<script src="{% static 'axis/js/demo5.js' %}"></script>

{% endblock %}
