<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
        <label for="pw">Password</label>
        <input type="password" id="pw" name="password" />
        <input type="submit" value="Log In" />
    </form>
</body>
</html>
