{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>404 | AXIS'18</title>
{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link href="{% static 'axis/css/not_found.css' %}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block content %}
    <div class="error-page-wrap">
		<article class="error-page">
			<hgroup>
				<h1 style="margin-top: 0">404</h1>
				<h2 style="color: white">oops! page not found</h2>
			</hgroup>
		</article>
	</div>
{% endblock %}
