{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
<table>
    <tr>
        <th>Event</th>
        <th>Team Members</th>
        <th>Team Name</th>
        <th></th>
        <th></th>
    </tr>
    {% for r in req %}
     <tr>
     <td>{{ r.team_id.event.name }}</td>
     <td>
     <ul>
         {% for u in r.team_id.users.all %}
             <li style="display: block">{{ u.first_name }} {{ u.last_name }}</li>
         {% endfor %}
     </ul>
     </td>
     <td>{{ r.team_id.team_name }}</td>
     <td><a href="{% url 'axis:accept_request' r.team_id.pk %}"><button>Accept</button></a></td>
     <td><a href="{% url 'axis:reject_request' r.pk %}"><button>Reject</button></a></td>
     </tr>
    {% endfor %}
</table>
{#</body>#}
{#</html>#}
