<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="" enctype="multipart/form-data">
    {% csrf_token %}

        <p><label for="id_name">Name:</label> <input id="id_name" maxlength="50" name="name" type="text" required /></p>\n
        <p><label for="id_email">Email address:</label> <input id="id_email" maxlength="255" name="email" type="email" required /></p>\n
        <p><label for="id_contact_no">Contact No.:</label> <input id="id_contact_no" maxlength="50" name="contact_no" type="text" required /></p>\n
        <p><label for="id_clg_name">College Name:</label> <input id="id_clg_name" maxlength="50" name="clg_name" type="text" required /></p>\n
        <p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password" required /></p>\n
        <p><label for="id_password2">Confirm Password:</label> <input id="id_password2" name="password2" type="password" required /></p>
        <input type="submit" value="Submit">
    </form>
{#    <form method="post" action="" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{##}
{#    <p><label for="id_first_name">First name:</label> <input id="id_first_name" maxlength="50" name="first_name" type="text" required /></p>\n#}
{#        <p><label for="id_last_name">Last name:</label> <input id="id_last_name" maxlength="50" name="last_name" type="text" required /></p>\n#}
{#        <p><label for="id_email">Email address:</label> <input id="id_email" maxlength="255" name="email" type="email" required /></p>\n<p><label for="id_contact_no">Contact no:</label> <input id="id_contact_no" name="contact_no" type="number" required /></p>\n#}
{#    <p><label for="id_clg_id">Clg id:</label> <input id="id_clg_id" name="clg_id" type="number" required /></p>\n<p><label for="id_clg_name">Clg name:</label> <input id="id_clg_name" maxlength="200" name="clg_name" type="text" required /></p>\n#}
{#        <p><label for="id_city">City:</label> <input id="id_city" maxlength="30" name="city" type="text" required /></p>\n#}
{#        <p><label for="id_state">State:</label> <input id="id_state" maxlength="30" name="state" type="text" required /></p>\n#}
{#        <p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password" required /></p>\n#}
{#        <p><label for="id_password2">Password confirmation:</label> <input id="id_password2" name="password2" type="password" required /></p>#}
{#    <input type="submit" value="Submit">#}
{#    </form>#}
</body>
</html>