{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Initiatives | AXIS'18</title>
    <meta name="keywords" content="Axis,Initiatives,Initiatives Axis,Initiatives Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <style>
        .row{
            margin-top: 20px;
        }

        .row > .col-lg-4, .col-md-4{
            padding-left: 4%;
            padding-right: 4%;
        }
    </style>
{% endblock %}

{% block content %}

<div class="container">
    <h1 style="text-align: center; font-family: Raleway, sans-serif; color: #c5c2b8;">INITIATIVES</h1>
    <div class="row">
{#        {% for si in social_initiatives %}#}
            <div class="panel-group" id="accordion" style="opacity: 0.9; padding-right: 10px; padding-left: 10px;">
                            {% for si in social_initiatives %}
                              <div class="panel panel-default" style="margin-bottom: 20px;">
                                <div class="panel-heading">
                                  <h4 class="panel-title" style="text-align: right">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ si.name|cut:' ' }}">
                                        {{ si.name }}
                                    </a>
                                  </h4>
                                </div>
                                <div id="#{{ si.name|cut:' ' }}" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                      <div class="row">
                                          <div class="col-lg-4 col-md-4" style="text-align: center">
                                              <img src="{{ si.image.url }}" style="max-height: 350px" />
{#                                              <div >#}
{#                                                  <h3 align="center">Info</h3>#}
{#                                                  <div style="text-align: center">#}
{#                                                      <div style="color: #0e0e0e;">#}
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Venue :</span> {{  }}#}
{#                                                          </div>#}
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Date :</span> {{ gl.date | date:"d M Y"  }}#}
{#                                                          </div>#}
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Time :</span> {{ gl.time | time:"g : i A"}}#}
{#                                                          </div>#}
{#                                                      </div>#}
{#                                                  </div>#}
{#                                              </div>#}
                                          </div>
                                            <div class="col-lg-8 col-md-8" style="margin-top: 0">
                                                <div>
                                                    <h3 style="margin-top: 0">{{ si.name }}</h3>
                                                    <p style="color: #0e0e0e" align="justify">
                                                        {{ si.description | safe }}
                                                    </p>
                                                </div>
                                            </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            {% endfor %}
                            </div>
{#        {% endfor %}#}
    </div>
</div>

{% endblock %}
