{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>AXIS'18 | SPONSORS</title>#}
{#</head>#}
{#<body>#}
{#    hello!#}
{#</body>#}
{#</html>#}

{% extends 'axis/base.html' %}
{%  load static %}

{% block title %}
    <title>Sponsors | AXIS'18</title>
    <meta name="keywords" content="Axis,Axis Sponsors,VNIT nagpur techfest sponsors,Techfest sponsors,VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
<meta charset="UTF-8" />

{#<link rel="stylesheet" type="text/css" href="{% static 'axis/css/event_desktop.css' %}" />#}
<link rel="stylesheet" type="text/css" href="{% static 'axis/css/sponsors.css' %}" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
<script src="{% static 'axis/js/modernizr.custom.js' %}"></script>
<style>a{color: black;}

</style>
{% endblock %}

{% block content %}
    <div class="container sponsor-container">
    <div class="row heading-sponsors">
        <br />
        <h1>
            SPONSORS AXIS'18
        </h1>
        <hr class="sponsor-line"/>

    <div class="col-xs-10 col-xs-offset-1 sponsor-grid" >
        <div class = "paper row">
            <h3>ASSOCIATE TITLE SPONSOR AXIS'18</h3>
            <hr class="sponsor-line"/>
            <div class="col-md-12 vcenter">

                <a href="http://www.jio.com" target="_blank"><img src="{% static 'axis/images/sponsors18/jio-red.jpg' %}" class="img-responsive center-block" width="40%">
            </a></div>
{#            <div class="col-md-6 vcenter">#}
{#                <img src="../../static/axis/images/sponsors/toi.jpg" class="img-responsive center-block" width="70%">#}
{#            </div>#}
        </div>
    </div>
     <div class="col-xs-10 col-xs-offset-1 sponsor-grid">
        <div class = "paper row">
            <h3>POWERED BY</h3>
            <hr class="sponsor-line"/>
            <div class="col-md-12 vcenter">
                <a href="http://www.nbccindia.com" target="_blank"><img src="{% static 'axis/images/sponsors18/nbcc-logo.jpg' %}" class="img-responsive center-block" width="30%">
            </a></div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 sponsor-grid">
        <div class = "paper row">
            <h3>BROUGHT TO YOU BY</h3>
            <hr class="sponsor-line"/>
            <div class="col-md-12 vcenter">
                            <a href="http://www.ntpc.co.in" target="_blank"><img src="{% static 'axis/images/sponsors18/NTPC_Logo.svg.png' %}" class="img-responsive center-block" width="30%">
                </a></div>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 sponsor-grid">
        <div class = "paper row">
            <h3>IGNITED BY</h3>
            <hr class="sponsor-line"/>
            <div class="col-md-12 vcenter">
                                <a href="http://moil.nic.in" target="_blank"><img src="{% static 'axis/images/sponsors18/moil-limited.jpg' %}" class="img-responsive center-block" width="30%">
            </a></div>
        </div>
    </div>



    <div class="col-xs-10 col-xs-offset-1 sponsor-grid container">
        <div class = "paper row">
			<a href="http://www.dpjaingroup.com" target="_blank"><div class="col-lg-4 vcenter"><h4>AquaSkylark Sponsor</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/D.P.Jain_.jpg' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://www.iocl.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Junior Scientist Sponsor</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/Indian Oil Logo 1024x768.jpg' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://www.triveniturbines.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Robowars Sponsor</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/Triveni Turbines logo - Jul 2010.png' %}" class="img-responsive center-block" width="70%"><br/></div></a>
        </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 sponsor-grid container">
        <div class = "paper row">
			<a href="http://www.sadiqmetcalfe.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Kartavya Sponsor</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/Sadiq.png' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://www.gmmco.in" target="_blank"><div class="col-lg-4 vcenter"><h4>Crepido Sponsor</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/gmmco.png' %}" class="img-responsive center-block" width="70%" style="margin-top: 20%;"><br/></div></a>
			<a href="http://www.jnport.gov.in" target="_blank"><div class="col-lg-4 vcenter"><h4>Aquahunt Sponsor</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/JNPT.png' %}" class="img-responsive center-block" width="70%"><br/></div></a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 sponsor-grid">
        <div class ="paper row">
            <h3>Online Media Partner</h3>
            <hr class="sponsor-line"/>
			<a href="http://ohcampus.com/v2" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/OhCampus.jpg' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://festpav.com" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/festPav Logo_HD.png' %}" class="img-responsive center-block" width="70%" style="margin-top: 20%;"><br/></div></a>
			<a href="http://www.facebook.com/nagpursclub" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/Nagpur_s Club.png' %}" class="img-responsive center-block" width="70%"><br/></div></a>
        </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 sponsor-grid">
        <div class ="paper row">
            <h3>Food Partner</h3>
            <hr class="sponsor-line"/>
			<a href="http://tibbsfrankie.com" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/Tibbs Frankie.png' %}" class="img-responsive center-block" width="70%" style="margin-top: 20%;"><br/></div></a>
                <a href="http://www.thebelgianwaffle.co" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/Belgian Waffle.jpg' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://www.facebook.com/thetornadosindia/" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/tornados-dharampeth-nagpur-fast-food-home-delivery-x4ypgp.jpg' %}" class="img-responsive center-block" width="70%"><br/></div></a>
        </div>
    </div>


    <div class="col-xs-10 col-xs-offset-1 sponsor-grid container">
        <div class = "paper row">
			<a href="http://joshtalks.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Conference Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/josh-logo-square.png' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://www.bluedart.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Express Delivery Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/dhl.png' %}" class="img-responsive center-block" width="70%" style="margin-top: 20%;"><br/></div></a>
			<a href="http://www.bharatpetroleum.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Clean Energy Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/BPCL Logo English.jpg' %}" class="img-responsive center-block" width="50%"><br/></div></a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 sponsor-grid container">
        <div class = "paper row">
			<a href="http://www.airindia.in" target="_blank"><div class="col-lg-4 vcenter"><h4>Travel Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/air india.jpg' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://www.marvelfitness.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Official Fitness  Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/marvel - 2.png' %}" class="img-responsive center-block" width="70%" style="margin-top: 20%;"><br/></div></a>
			<a href="http://www.hindustanpetroleum.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Sustainable Development Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/Hindustan_Petroleum_Logo.svg.png' %}" class="img-responsive center-block" width="50%"><br/></div></a>
        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 sponsor-grid container">
        <div class = "paper row">
			<a href="http://vruniversearcade.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Virtual Reality Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/univrse.png' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://www.coca-colacompany.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Mechatryst & Proshow Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/Coca-Cola.png' %}" class="img-responsive center-block" width="70%" style="margin-top: 20%;"><br/></div></a>
			<a href="http://www.gabrielindia.com" target="_blank"><div class="col-lg-4 vcenter"><h4>Innovation and Technology Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/gabriel.png' %}" class="img-responsive center-block" width="70%" style="margin-top: 20%;"><br/></div></a>
        </div>
    </div>
      <div class="col-xs-10 col-xs-offset-1 sponsor-grid container">
        <div class = "paper row">
			<a href="http://www.radiocity.in" target="_blank"><div class="col-lg-6 vcenter"><h4>Radio Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/RAG RAG MEIN_NAGPUR CITY_LOGO-01.jpg' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://microland.com" target="_blank"><div class="col-lg-6 vcenter"><h4>Technology Partner</h4><hr class="sponsor-line"/><img src="{% static 'axis/images/sponsors18/microland.JPG' %}" class="img-responsive center-block" width="70%" ><br/></div></a>
        </div>
    </div>

    <div class="col-xs-10 col-xs-offset-1 sponsor-grid container">
        <div class = "paper row">
			<a href="http://www.dvassociates.co.in" target="_blank"><div class="col-lg-6 vcenter"><img src="{% static 'axis/images/sponsors18/DV ASSOCIATES.jpg' %}" class="img-responsive center-block" width="70%" ><br/></div></a>
            <a href="http://www.cartridgeworld.in" target="_blank"><div class="col-lg-6 vcenter"><img src="{% static 'axis/images/sponsors18/cartridge.jpg' %}" class="img-responsive center-block" width="40%"><br/></div></a>

        </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1 sponsor-grid container" style="margin-bottom: 10%;">
        <div class = "paper row">

            <a href="http://business.google.com/website/jaydev-automobiles" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/jaydev.JPG' %}" class="img-responsive center-block" width="70%"><br/></div></a>
            <a href="http://optbb.in" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/optical.JPG' %}" class="img-responsive center-block" width="70%"><br/></div></a>
			<a href="http://www.fashiononline.in" target="_blank"><div class="col-lg-4 vcenter"><img src="{% static 'axis/images/sponsors18/fashionline-logo.jpg' %}" class="img-responsive center-block" width="70%" style="margin-top: 10%"><br/></div></a>

        </div>
    </div>



    </div>
    </div>
{% endblock %}