{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Team Axis | AXIS'18</title>
    <meta name="keywords" content="Axis,Team Axis,Axis Team,NIT Nagpur TechFest Team,Contact Us,Contact Us Axis,Techfest,VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="AXIS is the largest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
		<link rel="stylesheet" type="text/css" href="{% static 'axis/css/aboutcss/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'axis/css/aboutcss/demo4.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Barlow:400,500,700" rel="stylesheet">
{#    <script src="js/demo.js"></script>#}
{#		<script src="js/three.min.js"></script>#}
{#		<script src="js/perlin.js"></script>#}
{#		<script src="js/TweenMax.min.js"></script>#}
{#		<script src="js/aboutjs/demo4.js"></script>#}
		<script>


			$(document).ready(function(){
			    $("#navone").click(function(){

					$("#core").fadeIn("slow");$("#publicity").fadeOut("slow");$("#web").fadeOut("slow");$("#treasurer").fadeOut("slow");$("#prof").fadeOut("slow");
					$("#navone").css("color", "white");$("#navtwo").css("color", "#9c9898");$("#navthree").css({"color": "#9c9898"});$("#navfour").css({"color": "#9c9898"});$("#navfive").css({"color": "#9c9898"});
                    $("#navhr").css("margin-left", "0%");
				});
			});
			$(document).ready(function(){
				$("#navtwo").click(function(){

					$("#core").fadeOut("slow");$("#publicity").fadeIn("slow");$("#web").fadeOut("slow");$("#treasurer").fadeOut("slow");$("#prof").fadeOut("slow");
					$("#navone").css("color", "#9c9898");$("#navtwo").css("color", "white");$("#navthree").css("color", "#9c9898");$("#navfour").css({"color": "#9c9898"});$("#navfive").css({"color": "#9c9898"});
                    $("#navhr").css("margin-left", "40%");
				});

			});
			$(document).ready(function(){

				$("#navthree").click(function(){

					$("#core").fadeOut("slow");$("#publicity").fadeOut("slow");$("#treasurer").fadeIn("slow");$("#web").fadeOut("slow");$("#prof").fadeOut("slow");
					$("#navone").css("color", "#9c9898");$("#navtwo").css("color", "#9c9898");$("#navthree").css("color", "white");$("#navfour").css({"color": "#9c9898"});$("#navfive").css({"color": "#9c9898"});
                    $("#navhr").css("margin-left", "20%");
				});
            });
			$(document).ready(function(){

				$("#navfour").click(function(){

					$("#core").fadeOut("slow");$("#publicity").fadeOut("slow");$("#treasurer").fadeOut("slow");$("#web").fadeIn("slow");$("#prof").fadeOut("slow");
					$("#navone").css("color", "#9c9898");$("#navtwo").css("color", "#9c9898");$("#navthree").css("color", "#9c9898");$("#navfour").css({"color": "white"});$("#navfive").css({"color": "#9c9898"});
                    $("#navhr").css("margin-left", "60%");
				});
            });
			$(document).ready(function(){

				$("#navfive").click(function(){

					$("#core").fadeOut("slow");$("#publicity").fadeOut("slow");$("#web").fadeOut("slow");$("#treasurer").fadeOut("slow");$("#prof").fadeIn("slow");
					$("#navone").css("color", "#9c9898");$("#navtwo").css("color", "#9c9898");$("#navthree").css("color", "#9c9898");$("#navfour").css({"color": "#9c9898"});$("#navfive").css({"color": "white"});
                    $("#navhr").css("margin-left", "80%");
				});
            });


		</script>
		<style>

/*sliding underline nav menu start*/

.containerfornav {
  width: 75%;
  margin: 0 auto;

}

#navforteampage ul li {
  display: inline;
  text-align: center;
}

#navforteampage a {
  display: inline-block;
  width: 20%;
  padding: .75rem 0;
  margin: 0;
  text-decoration: none;
    font-family: 'nexa_boldregular', sans-serif;
  /*color: #333;*/
}


#navforteampage .two:active ~ hr {
  margin-left: 20%;
}

#navforteampage .two:hover ~ hr {
  margin-left: 20%;
}

#navforteampage .three:hover ~ hr {
  margin-left: 40%;
}

#navforteampage .four:hover ~ hr {
  margin-left: 60%;
}

#navforteampage .five:hover ~ hr {
  margin-left: 80%;
}

#navforteampage hr {
  height: .25rem;
  width: 20%;
  margin: 0;
  background: tomato;
  border: none;
  transition: .3s ease-in-out;
}

/*sliding underline nav menu end*/

/*image hover effect start*/


.overlay_goright {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: Beige;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.container_goright
{position:relative;width:132px;display:block; margin: 0 auto;}
.container_goleft
{position:relative;width:132px;display:block; margin: 0 auto;}


.container_goright:hover .overlay_goright {
  width:272px;
}



.overlay_goleft {
  position: absolute;
  bottom: 0;
  /*left: 100%;*/
  right: 100%;
  background-color: Beige;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;

}

.container_goleft:hover .overlay_goleft {
 width:272px;
	right: 100%;
}

/*image hover effect end*/

/*for social media icons start*/
.icon-link {
	margin-top: 7px;
	width: 25px;
	height: 25px;
	background-color: #666;
	line-height: 25px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	outline: none;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.icon-link.fill.facebook {
  background-color: #3b5998;
}
.icon-link.fill.facebook:hover {
  background-color: #fff;
}
.icon-link.fill.facebook:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.linkedin123 {
  background-color: #007bb6;
}
.icon-link.fill.linkedin123:hover {
  background-color: #fff;
}
.icon-link.fill.linkedin123:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.fill.twitter {
  background-color: #00aced;
}
.icon-link.fill.twitter:hover {
  background-color: #fff;
}
.icon-link.fill.twitter:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link.brand {
  background-color: #fff;
}
.icon-link.brand .fa {
  color: #006fc2;
}
.icon-link.round {
  border-radius: 50%;
}
.icon-link.round-corner {
  border-radius: 5px;
}
.icon-link:hover {
  -webkit-transition: background-color 150ms ease-in-out;
  transition: background-color 150ms ease-in-out;
  height: 21px;
  line-height: 21px;
  width: 21px;
  background-color: #fff;
}
.icon-link:hover.facebook {
  border: 2px solid #3b5998;
}
.icon-link:hover.linkedin123 {
  border: 2px solid #007bb6;
}
.icon-link:hover.twitter {
  border: 2px solid #00aced;
}
.icon-link:hover .fa {
  line-height: 21px;
}
.icon-link:hover .fa-facebook {
  color: #3b5998;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-linkedin {
  color: #007bb6;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link:hover .fa-twitter {
  color: #00aced;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.icon-link .fa {
  color: #fff;
  line-height: 25px;
  font-size: 15px;
}

/*for social media icons end*/

.container_goright img,.container_goleft img,.ekblock img
{
    border: 6px solid white;
}


#mobileview
{
	display:none;
}

.ekblock img
{
    display:block;margin: 0 auto;
}
@media screen and (max-width: 800px) {

    #scene {
        position: fixed;
    }

    #core, #map, #navforteampage {
        display: none;
    }

    #mobileview {
        display: block;  !important;
    }

    hr {
        width: 50%;
    }

    .ekblock img {
        width: 50%;
        height: 50%;
    }
	.overlay-content ul
	{
		font-size: smaller;
	}

}

.bl-content {
    color: #696969;
}

.nav-item {
    font-size: 11px;
}
        </style>


{% endblock %}

{% block content %}





<div class="demo-4" style="overflow: hidden;">
		<main>
<div class="row">&nbsp;</div>
				<div id="navforteampage" class="row containerfornav">

					<ul style="padding-left: 0px;">
					<li class="one"><a id="navone" href="#" style="color:white;margin: 0 auto;" href="#" class="dude">Core Coordinators</a></li><!--
				 --><li class="two"><a id="navthree" href="#" style="color:#b3a9a9" href="#">Treasurer</a></li><!--
				 --><li class="three"><a id="navtwo" href="#" style="color:#b3a9a9" href="#">Publicity In-Charge</a></li><!--
				 --><li class="four"><a id="navfour" href="#" style="color:#b3a9a9" href="#">Developers</a></li><!--
				 --><li class="five"><a id="navfive" href="#" style="color:#b3a9a9" href="#">Professors In-Charge</a></li>
					<!--<li class="five"><a id="navfive" href="#" style="color:#b3a9a9" >Prof In-Charge</a></li>-->
					<hr id="navhr"/>
				  </ul>
				</div>

				<canvas class="scene scene--full" id="scene"></canvas>

				<!--the above one is that ball-->
				<div id="core" class="container">
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">
							<div class="container_goright ">
							  <img  src="{% static 'axis/images/teamimg/ash.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Ashlesha Anandikar</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ashlesha.anandikar@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7588741622</span>
									<div style="white-space: nowrap;" >

										<a class="icon-link round facebook fill" href="https://www.facebook.com/ashlesha.anandikar"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href=" https://www.linkedin.com/in/ashlesha-anandikar-a02255136"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>

								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">
							<div class="container_goleft">
								<img  src="{% static 'axis/images/teamimg/kub.jpg' %}">
								<div class="overlay_goleft">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Eshant Kubde</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;eshant.kubde@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8446305371</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/eshant.kubde"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href=" https://www.linkedin.com/in/eshant-kubde"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							    </div>
							</div>
						</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
					</div>

					<div class="row">&nbsp;</div>

					<!--<div class="arrow-left" style="margin-left: auto;"></div><div class="arrow-right"></div>-->
					<div class="row">
						<div class="col-md-2 col-xs-12">
							<div class="container_goright ">
							  <img  src="{% static 'axis/images/teamimg/charde.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Harshal Charde</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;harshal.charde@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8983973404</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/harshal.charde.16" ><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/harshal-charde" ><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-4 col-xs-12">
							<!--<span class="text-muted">Publicity</span>-->
							<div class="content__inner">
								<!--<span class="text-muted">Publicity</span>-->
								<h3 class="content__title" style="font-size: 40px">Core-Coordinators</h3>
								<!--<h1 class="content__title">Coordinators</h1>-->
							</div>
						</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">
							<div class="container_goleft">
								<img  src="{% static 'axis/images/teamimg/mudde.jpg' %}">
								<div class="overlay_goleft">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Prasad Mudde</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;prasad.mudde@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 9422021422</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/prsd97"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/prasadmudde"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							    </div>
							</div>
						</div>
					</div>

					<div class="row">&nbsp;</div>
					<!--<div class="row">&nbsp;</div>-->
					<!--<div class="row">&nbsp;</div>-->
					<!--<div class="row">&nbsp;</div>-->

					<div class="row">
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">
							<div class="container_goright ">
							  <img  src="{% static 'axis/images/teamimg/joshi.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="margin-left: 24px;font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Ritvik Joshi</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ritvik.joshi@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 9823215450</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/ritvikjoshi1103" ><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/ritvik-joshi"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">
							<div class="container_goleft">
								<img  src="{% static 'axis/images/teamimg/siva.jpeg' %}">
								<div class="overlay_goleft">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Siva Kumar Lakkoju</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;sivakumar.lakkoju@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7382964696</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/sivak0028"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/siva-kumar-lakkoju-307365135"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							    </div>
							</div>
						</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-4 col-xs-12">
							<div class="container_goright " style="display:block; margin: 0 auto;">
							  <img  src="{% static 'axis/images/teamimg/sumedh.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sumedh Tawade</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;sumedh.tawade@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7038919266</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/the.devvill"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href=" https://www.linkedin.com/in/sumedh-tawade-b9b253136"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
							<!--<img src="img/taylor_swift_red.jpg" style="display:block; margin: 0 auto;">-->
						</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
						<div class="col-md-2 col-xs-12">&nbsp;</div>
					</div>
                    <div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>

				</div>

				<div id="publicity" class="container" style="display:none;">
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>


					<div class="row">&nbsp;</div>

					<!--<div class="arrow-left" style="margin-left: auto;"></div><div class="arrow-right"></div>-->
					<div class="row">
						<div class="col-md-2">
							<div class="container_goright ">
							  <img  src="{% static 'axis/images/teamimg/amar.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Amar Poosarla</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;amar.poosarla@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7028399800</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill"  href="https://www.facebook.com/amarsaikiran"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/amar-poosarla"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-4">
							<!--<span class="text-muted">Publicity</span>-->
							<div class="content__inner">
								<!--<span class="text-muted">Publicity</span>-->
								<h3 class="content__title" style="font-size: 30px">Publicity In-Charge</h3>
								<!--<h1 class="content__title">Coordinators</h1>-->
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goleft">
								<img  src="{% static 'axis/images/teamimg/jain.jpg' %}">
								<div class="overlay_goleft">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Ashwarya Jain</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ashwarya.jain@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 9828458618</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/ashwarya.jain.77"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/ashwarya-jain-335256136"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							    </div>
							</div>
						</div>
					</div>

					<div class="row">&nbsp;</div>
					<!--<div class="row">&nbsp;</div>-->
					<!--<div class="row">&nbsp;</div>-->
					<!--<div class="row">&nbsp;</div>-->

					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goright ">
							  <img  src="{% static 'axis/images/teamimg/mirza.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mirza Ahmed</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ahmed.mirza@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8551992973</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/ahmedmirza0037"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/ahmedmirza37"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goleft">
								<img  src="{% static 'axis/images/teamimg/prachi.jpg' %}">
								<div class="overlay_goleft">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Prachi Dewangan</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;prachi.dewangan@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7697755244</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/prachi.dewangan.9"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/prachi-dewangan-0769a111a/"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							    </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-4">
							<div class="container_goright " style="display:block; margin: 0 auto;">
							  <img  src="{% static 'axis/images/teamimg/rug.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Rugved Gharote</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;rugved.gharote@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7756988911</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/rugved.gharote"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/rugved-gharote-747166136"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
							<!--<img src="img/taylor_swift_red.jpg" style="display:block; margin: 0 auto;">-->
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
                    <div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>
				</div>

				<div id="web" class="container" style="display:none;">
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>


					<div class="row">&nbsp;</div>

					<!--<div class="arrow-left" style="margin-left: auto;"></div><div class="arrow-right"></div>-->
					<div class="row">
						<div class="col-md-2">
							<div class="container_goright ">
							  <img  src="{% static 'axis/images/teamimg/abhishek.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Abhishek Gautam</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;gautam.abhisihek46@gmail.com</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8392988541</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/abhishek.gautam.5492216"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/abhishek-gautam-4495b412a/"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-4">
							<!--<span class="text-muted">Publicity</span>-->
							<div class="content__inner">
								<!--<span class="text-muted">Publicity</span>-->
								<h3 class="content__title">Web & App Developers</h3>
								<!--<h1 class="content__title">Coordinators</h1>-->
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goleft">
								<img  src="{% static 'axis/images/teamimg/atharva.jpg' %}">
								<div class="overlay_goleft">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Atharva Parwatkar</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;atharva.parwatkar@gmail.com</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91-9405908448</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/atharva.parwatkar"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/atharva-parwatkar-691256146/"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							    </div>
							</div>
						</div>
					</div>

					<div class="row">&nbsp;</div>
					<!--<div class="row">&nbsp;</div>-->
					<!--<div class="row">&nbsp;</div>-->
					<!--<div class="row">&nbsp;</div>-->

					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goright ">
							  <img  src="{% static 'axis/images/teamimg/rathi.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Saurabh Rathi</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;saurabhrathi1234@gmail.com</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91-8793042721</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/saurabh.rathi.94617"><i class="fa fa-facebook"></i></a>
										<a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/saurabh-rathi-4186a4145/"><i class="fa fa-linkedin"></i></a>

									</div>
								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goleft">
								<img  src="{% static 'axis/images/teamimg/sharvil.png' %}">
								<div class="overlay_goleft">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sharvil Nagarkar</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;sharvilnagarkar@gmail.com</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 9172323140</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/sharvil.nagarkar" ><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/sharvil-nagarkar-81a096146/"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							    </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-4">
							<div class="container_goright " style="display:block; margin: 0 auto;">
							  <img  src="{% static 'axis/images/teamimg/raut.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Kartik Raut</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;kartikraut2497@gmail.com</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91-8408011312</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/kartik.raut1"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/kartik-raut-5b3a34109/"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
							<!--<img src="img/taylor_swift_red.jpg" style="display:block; margin: 0 auto;">-->
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
                    <div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>
				</div>

				<div id="prof" class="container" style="display:none;">
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>

					<!--<div class="arrow-left" style="margin-left: auto;"></div><div class="arrow-right"></div>-->
					<div class="row">

                        <div class="col-md-2">
							<div class="container_goright">
								<img  src="{% static 'axis/images/teamimg/bhat.jpg' %}" height="132px;" width="132px;">
								<div class="overlay_goright">
                                    <div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

                                        <p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr. S.S. Bhat</p>
                                        <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Associate Professor</p>
                                        <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Electrical Engg.</p>&nbsp;

                                    </div>
							    </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-4">
							<!--<span class="text-muted">Publicity</span>-->
							<div class="content__inner">
								<!--<span class="text-muted">Publicity</span>-->
								<h3 class="content__title" style="font-size: 28px">Professors In-Charge</h3>
								<!--<h1 class="content__title">Coordinators</h1>-->
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goleft">
								<img  src="{% static 'axis/images/teamimg/vilas.png' %}" height="132px;" width="132px;">
								<div class="overlay_goleft">
                                    <div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

                                        <p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr. Vilas R. Kalamkar</p>
                                        <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Professor</p>
                                        <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Mechanical Engg.</p>
                                    </div>
							    </div>
							</div>
						</div>
					</div>

					<div class="row">&nbsp;</div>
					<!--<div class="row">&nbsp;</div>-->
					<!--<div class="row">&nbsp;</div>-->
					<!--<div class="row">&nbsp;</div>-->

					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goright ">
							  <img  src="{% static 'axis/images/teamimg/sachin.jpg' %}" height="132px;" width="132px;">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">
									<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr. Sachin A. Mandavgane</p>
                                    <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Associate Professor</p>
                                    <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Chemical Engg.</p>&nbsp;

								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">
							<div class="container_goleft ">
							  <img  src="{% static 'axis/images/teamimg/galisir.jpg' %}" width="132px;" height="140px;">
							  <div class="overlay_goleft">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr G. Hemachandra</p>
                                    <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Associate Professor</p>
                                    <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Applied Physics</p>


								</div>
							  </div>
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
					<div class="row">&nbsp;</div>

					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-4">
							<div class="container_goright " style="display:block; margin: 0 auto;">
							  <img  src="{% static 'axis/images/teamimg/M.Devakar.jpg' %}" height="132px;" width="132px;">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

                                    <p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr. M. Devakar</p>
                                    <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Assistant Professor</p>
                                    <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Mathematics</p>&nbsp;

								</div>
							  </div>
							</div>
							<!--<img src="img/taylor_swift_red.jpg" style="display:block; margin: 0 auto;">-->
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
                    <div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>
				</div>

				<div id="treasurer"  class="container" style="display:none;">
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-4">
							<!--<span class="text-muted">Publicity</span>-->
							<div class="content__inner">
								<!--<span class="text-muted">Publicity</span>-->
								<h3 class="content__title">Treasurer</h3>
								<!--<h1 class="content__title">Coordinators</h1>-->
							</div>
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-4">
							<div class="container_goright " >
							  <img  src="{% static 'axis/images/teamimg/dhawal.jpg' %}">
							  <div class="overlay_goright">
								<div class="well" style="font-family: 'nexa_boldregular', sans-serif;position: absolute;text-align: center;border:none">

									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dhawal Renge</p>
									<p style="white-space: nowrap;margin-bottom: 2px;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;dhawal.renge@axisvnit.org</p>
									<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8087711063</span>
									<div style="white-space: nowrap;">
										<a class="icon-link round facebook fill" href="https://www.facebook.com/dhawal.renge"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/dhawal-renge-81324a136"><i class="fa fa-linkedin"></i></a>&nbsp;
									</div>
								</div>
							  </div>
							</div>
							<!--<img src="img/taylor_swift_red.jpg" style="display:block; margin: 0 auto;">-->
						</div>
						<div class="col-md-2">&nbsp;</div>
						<div class="col-md-2">&nbsp;</div>
					</div>
                    <div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
					<div class="row">&nbsp;</div>
				</div>
<div style="position:relative;margin-top: 30px;">
<iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.699998719702!2d79.04924771468404!3d21.12452338594659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c077313358b7%3A0x9fe36ee85826a870!2sAXIS+Office!5e0!3m2!1sen!2sin!4v1483012589911" width="100%" height="400px;" style="margin-bottom: 0;"  frameborder="0" allowfullscreen></iframe>
 <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM4Zy7hqK0QSTN86j4mBTVc9P6X0_bNoA&sensor=false"></script> -->
</div>

		</main>

		<!--<img  src="img/taylor_swift_red.jpg">-->

		<div class="container" id="mobileview">

			<div class="row">&nbsp;</div>
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="content__inner" >
								<!--<span class="text-muted">Publicity</span>-->
								<h1 class="content__title" style="font-size: 8vw;">Core-Coordinators</h1>
								<!--<h1 class="content__title">Coordinators</h1>-->
					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>

				<div class="row">&nbsp;</div>
			<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">
				<div class="row">
					<div class="col-xs-12 col-sm-12">

								  <img  src="{% static 'axis/images/teamimg/ash.jpg' %}">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Ashlesha Anandikar</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ashlesha.anandikar@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7588741622</span>
										<div style="white-space: nowrap;">

											<a class="icon-link round facebook fill" href="https://www.facebook.com/ashlesha.anandikar"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href=" https://www.linkedin.com/in/ashlesha-anandikar-a02255136"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
				<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">

					<div class="col-xs-12 col-sm-12">

								 <img  src="{% static 'axis/images/teamimg/kub.jpg' %}">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Eshant Kubde</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;eshant.kubde@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8446305371</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/eshant.kubde"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/eshant-kubde"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">

					<div class="col-xs-12 col-sm-12">

								 <img  src="{% static 'axis/images/teamimg/charde.jpg' %}">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Harshal Charde</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;harshal.charde@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8983973404</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/harshal.charde.16"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/harshal-charde"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/mudde.jpg' %}">
                    </div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Prasad Mudde</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;prasad.mudde@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 9422021422</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/prsd97"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/prasadmudde"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

								  <img  src="{% static 'axis/images/teamimg/joshi.jpg' %}">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Ritvik Joshi</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ritvik.joshi@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 9823215450</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/ritvikjoshi1103" ><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href=" https://www.linkedin.com/in/ritvik-joshi"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

								  <img  src="{% static 'axis/images/teamimg/siva.jpeg' %}">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Siva Kumar Lakkoju</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;sivakumar.lakkoju@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7382964696</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/sivak0028"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/siva-kumar-lakkoju-307365135"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

								  <img  src="{% static 'axis/images/teamimg/sumedh.jpg' %}">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sumedh Tawade</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;sumedh.tawade@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7038919266</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/the.devvill"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/sumedh-tawade-b9b253136"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
<div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
            		<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="content__inner" >
								<!--<span class="text-muted">Publicity</span>-->
								<h1 class="content__title" style="font-size: 8vw;">Treasurer</h1>
								<!--<h1 class="content__title">Coordinators</h1>-->
					</div>
				</div>
			</div>
{#			<div class="row">&nbsp;</div>#}


				<div class="row">&nbsp;</div>
            <div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/dhawal.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dhawal Renge</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;dhawal.renge@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8087711063</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/dhawal.renge"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/dhawal-renge-81324a136"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>

			<div class="row">&nbsp;</div>
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="content__inner" >
								<!--<span class="text-muted">Publicity</span>-->
								<h1 class="content__title" style="font-size: 8vw;">Publicity In-Charge</h1>
								<!--<h1 class="content__title">Coordinators</h1>-->
					</div>
				</div>
			</div>


				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

								  <img  src="{% static 'axis/images/teamimg/amar.jpg' %}">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Amar Poosarla</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;amar.poosarla@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7028399800</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill"  href="https://www.facebook.com/amarsaikiran"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/amar-poosarla"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

								  <img  src="{% static 'axis/images/teamimg/jain.jpg' %}">
					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Ashwarya Jain</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ashwarya.jain@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 9828458618</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/ashwarya.jain.77"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/ashwarya-jain-335256136"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/mirza.jpg' %}">	</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Mirza Ahmed</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;ahmed.mirza@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8551992973</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/ahmedmirza0037"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/ahmedmirza37"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/prachi.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Prachi Dewangan</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;prachi.dewangan@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7697755244</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/prachi.dewangan.9"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/prachi-dewangan-0769a111a/"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/rug.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Rugved Gharote</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;rugved.gharote@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 7756988911</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/rugved.gharote"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/rugved-gharote-747166136"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<div class="row">&nbsp;</div>
			<div class="row">&nbsp;</div>




			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="content__inner" >
								<!--<span class="text-muted">Publicity</span>-->
								<h1 class="content__title" style="font-size: 8vw;">Web & App Developers</h1>
								<!--<h1 class="content__title">Coordinators</h1>-->
					</div>
				</div>
			</div><div class="row">&nbsp;</div>



				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/sharvil.png' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Sharvil Nagarkar</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;sharvil.nagarkar@axisvnit.org</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 9172323140</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/sharvil.nagarkar" ><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/sharvil-nagarkar-81a096146/"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/atharva.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Atharva Parwatkar</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;atharva.parwatkar@gmail.com</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91-9405908448</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/atharva.parwatkar"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/atharva-parwatkar-691256146/"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/rathi.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Saurabh Rathi</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;saurabhrathi1234@gmail.com</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91-8793042721</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/saurabh.rathi.94617"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/saurabh-rathi-4186a4145/"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/abhishek.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Abhishek Gautam</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;gautam.abhishek46@gmail.com</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91 8392988541</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/abhishek.gautam.5492216"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/abhishek-gautam-4495b412a/"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>
			<hr/>
				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/raut.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Kartik Raut</p>
										<p style="white-space: nowrap;"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;kartikraut2497@gmail.com</p>
										<span style="white-space: nowrap;"><span class="glyphicon glyphicon-phone"></span>&nbsp;&nbsp;+91-8408011312</span>
										<div style="white-space: nowrap;">
											<a class="icon-link round facebook fill" href="https://www.facebook.com/kartik.raut1"><i class="fa fa-facebook"></i></a>&nbsp;
                                         <a class="icon-link round linkedin123 fill" href="https://www.linkedin.com/in/kartik-raut-5b3a34109/"><i class="fa fa-linkedin"></i></a>&nbsp;
										</div>
									</div>

					</div>
				</div>
			</div>

			<div class="row">&nbsp;</div>
			<div class="row">&nbsp;</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div class="content__inner" >
								<!--<span class="text-muted">Publicity</span>-->
								<h1 class="content__title" style="font-size: 8vw;">Professors In-Charge</h1>
								<!--<h1 class="content__title">Coordinators</h1>-->
					</div>
				</div>
			</div><div class="row">&nbsp;</div>


				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/bhat.jpg' %}">					</div>
				</div>



				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

							          <p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr. S.S. Bhat</p>
                                        <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Associate Professor</p>
                                        <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Electrical Engg.</p>&nbsp;
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/vilas.png' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">
        <p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr. Vilas R. Kalamkar</p>
                                        <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Professor</p>
                                        <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Mechanical Engg.</p>
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/sachin.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

		<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr. Sachin A. Mandavgane</p>
                                    <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Associate Professor</p>
                                    <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Chemical Engg.</p>&nbsp;
									</div>

					</div>
				</div>
			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/galisir.jpg' %}">					</div>
				</div>
				<div class="row">&nbsp;</div>


				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">

								<p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr G. Hemachandra</p>
                                    <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Associate Professor</p>
                                    <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Applied Physics</p>
									</div>

					</div>
				</div>


			</div>
			<hr/>

				<div class="row">&nbsp;</div>
						<div class="ekblock" style="background-color: rgba(0,0,0,1);color: white;padding-top: 20px;padding-bottom: 20px;">

				<div class="row">
					<div class="col-xs-12 col-sm-12">

<img  src="{% static 'axis/images/teamimg/M.Devakar.jpg' %}">	</div>
				</div>
				<div class="row">&nbsp;</div>
				<div class="row">
					<div class="col-xs-12 col-sm-12">

									<div  style="font-family: 'nexa_boldregular', sans-serif;text-align: center;background-color: rgba(0,0,0,0.2);color: white;">



                                    <p style="white-space: nowrap;"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Dr. M. Devakar</p>
                                    <p style="white-space: nowrap;"><span class="glyphicon glyphicon-education"></span>&nbsp;&nbsp;Assistant Professor</p>
                                    <p style="white-space: nowrap;">&nbsp;&nbsp;Department of Mathematics</p>&nbsp;


									</div>
					</div>
				</div>
			</div>
            <div class="row">&nbsp;</div>
            <div class="row">&nbsp;</div>
<div class="container">
<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.699998719702!2d79.04924771468404!3d21.12452338594659!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c077313358b7%3A0x9fe36ee85826a870!2sAXIS+Office!5e0!3m2!1sen!2sin!4v1483012589911" width="100%" height="30%" style="z-index: 69;position: absolute;margin-left:-30px;"  frameborder="0" allowfullscreen></iframe>
 <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM4Zy7hqK0QSTN86j4mBTVc9P6X0_bNoA&sensor=false"></script> -->
</div>


		</div>





		<script src="{% static 'axis/js/aboutjs/demo.js' %}"></script>
		<script src="{% static 'axis/js/aboutjs/three.min.js' %}"></script>
		<script src="{% static 'axis/js/aboutjs/perlin.js' %}"></script>
		<script src="{% static 'axis/js/aboutjs/TweenMax.min.js' %}"></script>
		<script src="{% static 'axis/js/aboutjs/demo4.js' %}"></script>

	<!--all 5 scripts are required-->

	</div>

{% endblock %}