{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Techie Nite | AXIS'18</title>
     <meta name="keywords" content="Axis,Exhibitions Axis,Axis Exhibitions,NIT Nagpur TechFest Exhibitions,Contact Us,Exhibitions Axis vnit,Techfest,VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <style>
        .row{
            margin-top: 20px;
        }

        .row > .col-lg-4, .col-md-4{
            padding-left: 4%;
            padding-right: 4%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/component.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        {% for ex in tech %}
            <div class="panel-group" id="accordion" style="opacity: 0.9; padding-right: 10px; padding-left: 10px;">
                              <div class="panel panel-default">

                                <div class="panel-heading">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                      <h4 class="panel-title" style="text-align: right">
                                            {{ ex.name }}
                                      </h4>
                                    </a>
                                </div>

                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                      <div class="row">
                                          <div class="col-lg-4 col-md-4" style="text-align: center">
                                              <img src="{{ ex.image.url }}" style="max-height: 350px" />
                                              <div >
                                                  <h3 align="center">Info</h3>
                                                  <div style="text-align: center">
                                                      <div style="color: #0e0e0e;">
                                                          <div>
                                                              <span style="font-weight: bold">Venue :</span> {{ ex.venue }}
                                                          </div>
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Date :</span> {{ ex.date | date:"d M Y"  }}#}
{#                                                          </div>#}
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Time :</span> {{ ex.time | time:"g : i A"}}#}
{#                                                          </div>#}
                                                          <div>
                                                              <span style="font-weight: bold">Date :</span> {{ ex.date|date:"M d, Y" }}
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                            <div class="col-lg-8 col-md-8" style="margin-top: 0">
                                                <div>
{#                                                    <h3 style="margin-top: 0">Description</h3>#}
                                                    <p style="color: #0e0e0e" align="justify">
                                                        {{ ex.desc | safe }}
                                                    </p>
                                                </div>
                                                <a class="btn btn-success" target="_blank" href="https://bit.ly/2o3xfVR" >Download the official AXIS app to register</a>
                                            </div>
                                      </div>
                                    </div>
                                </div>
                              </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
