{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>TNS | AXIS'18</title>
    <meta name="keywords" content="Axis,Inauguration Axis,Inauguration Vnit,Inauguration Vnit Nagpur, Inauguration vnit techfest,Techfest,VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="AXIS is the largest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <style>
        .row{
            margin-top: 20px;
        }

        .row > .col-lg-4, .col-md-4{
            padding-left: 4%;
            padding-right: 4%;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/event_desktop.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1 style="text-align: center; font-family: Raleway, sans-serif; color: #c5c2b8;">TNS</h1>


    <div class="row" >
        {% for tns in Summits %}
            <div class="panel-group" id="accordion" style="opacity: 0.9; padding-right: 10px; padding-left: 10px;margin-bottom:2% ">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title" style="text-align: right">
                                    <a data-toggle="collapse" data-parent="#accordion" href="">
                                         {{ tns.speaker_name }}
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapse2" class="panel-collapse ">
                                    <div class="panel-body">
                                      <div class="row">
                                          <div class="col-lg-4 col-md-4" style="text-align: center">

                                              <img src="{{ tns.image.url }}" style="max-height: 350px" />

                                              <div>
                                                  <h3 align="center">Info</h3>
                                                  <div style="text-align: center">
                                                      <div style="color: #0e0e0e;">
                                                          <div>
                                                              <span style="font-weight: bold">Venue :</span>
                                                             {{ tns.venue }}
                                                          </div>
                                                          <div>
                                                              <span style="font-weight: bold">Date :</span>
                                                              {{ tns.date | date:"d M Y"  }}
                                                          </div>
{#                                                          <div>#}
{#                                                              <span style="font-weight: bold">Time :</span>#}
{#                                                              {{ tns.time | time:"g : i A"}}#}
{#                                                          </div>#}
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                            <div class="col-lg-8 col-md-8" style="margin-top: 0">
                                                <div>
                                                    <h3 style="margin-top: 0">
                                                        {{ tns.speaker_name }}
                                                    </h3>
                                                    <p style="color: #0e0e0e" align="justify">
                                                        {{ tns.desc| safe }}
                                                    </p>

                                                </div>

                                            </div>
                                    </div>
{#                                   {% if request.user.is_authenticated %}#}
{##}
{#                                       {% if tns.id in summits_registered_for %}#}
{#                                               <div style="display: block; text-align: center; margin-top: 20px">#}
{#                                                    <div class="alert alert-info" role="alert" style="display: inline-block">#}
{#                                                     <span style="color: #31708f;">You are registered for this event!!!</span>#}
{##}
{#                                                    </div>#}
{#                                                </div>#}
{#                                       {% else %}#}
{#                                            <form method="post" enctype="multipart/form-data">#}
{#                                                {% csrf_token %}#}
    {#                                            <span class="input input--ruri" style="display: block; max-width: 10000px">#}
{#                                                    <input type="text" hidden="hidden" name="tnsid" value="{{ tns.id }}">#}
    {#                                                <input class="input__field input__field--ruri" type="text" style="text-align: center; color: #0e0e0e" name="question"#}
    {#                                                       placeholder="Enter question to ask during lecture.">#}
    {#                                                <label class="input__label input__label--ruri" for="input-26">#}
    {#                                                    <span class="input__label-content input__label-content--ruri" style="visibility: hidden">#}
    {#                                                        If you want to ask a question you can enter it here.#}
    {#                                                    </span>#}
    {#                                                </label>#}
    {#                                            </span>#}
{#                                                <div class="col-md-2 col-lg-2 col-md-offset-5 col-lg-offset-5" align="center">#}
    {#                                                {% if gl.id not in lec_registered_for %}#}
{#                                                        <button type="submit" class="btn btn-success" style="margin-top:21px; border-radius: 0">Register</button>#}
    {#                                                {% else %}#}
    {#                                                    <button type="submit" class="btn btn-success" style="margin-top:21px; border-radius: 0">Submit Question</button>#}
    {#                                                {% endif %}#}
{#                                                </div>#}
{#                                              </form>#}
{#                                       {% endif %}#}
{#                                    {% else %}#}
{#                                        <div style="display: block; text-align: center; margin-top: 20px">#}
{#                                            <div class="alert alert-danger" role="alert" style="display: inline-block">#}
{#                                              <strong>Please Login to Register !!!</strong>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    {% endif %}#}
                                  </div>
                                </div>
                              </div>
                            </div>
        {% endfor %}
    </div>
       {% if not is_closed %}
            {% if request.user.is_authenticated %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if is_registered %}
                        <div style="display: block; text-align: center;">
                            <div class="alert alert-info" role="alert" style="display: inline-block">
                             <span style="color: #31708f;">Successfully registered!</span>

                            </div>
                        </div>
{#                        <span class="input input--ruri" style="display: block; max-width: 10000px">#}
        {#                    <input type="text" hidden="hidden" name="inauguration" value="inauguration">#}
{#                            <input class="input__field input__field--ruri" type="text" style="text-align: center; color: #fff" name="question"#}
{#                                   placeholder="Enter any question which you wish to ask during Inauguration.">#}
{#                            <label class="input__label input__label--ruri" for="input-26">#}
{#                                <span class="input__label-content input__label-content--ruri" style="visibility: hidden">#}
{#                                    If you want to ask a question you can enter it here.#}
{#                                </span>#}
{#                            </label>#}
{#                        </span>#}
{#                        <div class="col-md-2 col-lg-2 col-md-offset-5 col-lg-offset-5" align="center">#}
{#                            <button type="submit" name="submit_question" class="btn btn-success" style="margin-top:21px; border-radius: 0">Submit Question</button>#}
{#                        </div>#}
                    {% else %}

                    <div class="col-md-2 col-lg-2 col-md-offset-5 col-lg-offset-5" align="center" style="margin-bottom: 2%;margin-top: 0px;">
                        <button type="submit" name="register" class="btn btn-success" style="border-radius: 0">Register</button>
                    </div>
                  </form>
                {% endif %}
            {% else %}
                <div style="display: block; text-align: center;">
                    <div class="alert alert-danger" role="alert" style="display: inline-block">
                      <strong>Please Login to Register!</strong>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div style="display: block; text-align: center; margin-top: 1%;">
                <div class="alert alert-danger" role="alert" style="display: inline-block">
                  <strong>Registrations Closed!</strong>
                </div>
            </div>
        {% endif %}
</div>

{% endblock %}
