{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>T-shirt | AXIS'18</title>
    <meta name="keywords" content="Axis,T-shirt Axis,T-shirt Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest T-shirt,Nagpur Techfest T-shirt,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <style>

         #tshirt_page
         {

             position:absolute;top:0;
             background: url({% static 'axis/images/asfalt-light.png' %});

         }
        .tshirtimg
        {display:block;margin:0 auto;width:80%}

        @media screen and (max-width: 800px) {

            #tshirt_page
             {

                 position:absolute;top:0;
                 height:100%;
                 background: url({% static 'axis/images/asfalt-light.png' %});

             }
            .tshirtimg
            {
                display:block;margin:0 auto;
                width: 97%;
                margin-top: 21%;
            }


        }


    </style>

{% endblock %}

{% block content %}

<div  id="tshirt_page" style="overflow: hidden;">
   <div  style="margin-top: 8%;">

            <h1 style="text-align: center; font-family: Raleway, sans-serif; color: #c5c2b8;">AXIS T-shirt</h1>

            <div class="tshirtimg"><img src="{% static 'axis/images/tshirt.jpg' %}"/></div>


            <a style="display:block;margin:0 auto;margin-top: 2%;margin-bottom: 2%;width: 200px;" class="btn btn-success" type="button" href="http://bit.ly/2G14vEK" target="_blank">Click Here To Buy !!!</a>

   </div>
</div>

{% endblock %}
