{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Timeline | AXIS'18</title>
    <meta name="keywords" content="Axis,Timeline,Timeline Techfest,Timeline vnit,Timeline Axis Vnit,Timeline Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="AXIS is the largest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
        <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
{% endblock %}

{% block content %}

<div class="container">

			<div class="main">
				<ul class="cbp_tmtimeline">
                    {% for obj in time_line_objects %}
                        <li>
                            <time class="cbp_tmtime" datetime="2013-04-10 18:30"><span></span> <span>{{ obj.date |date:"d M Y" }}</span></time>
                            <div class="cbp_tmicon cbp_tmicon-mail"></div>
                            <div class="cbp_tmlabel">
                                <h2>{{ obj.title }}</h2>
                                <p>{{ obj.description | safe}}</p>
                            </div>
                        </li>
                    {% endfor %}
				</ul>
			</div>
		</div>

{% endblock %}
