{% extends 'axis/base.html' %}

{%  load static %}
{%  load static %}

{% block title %}
    <title>Workshops | AXIS'18</title>
    <meta name="keywords" content="Axis,Workshops,Workshops Techfest,Workshops vnit,Workshops Axis Vnit,Techfest,VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="AXIS is the largest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
{#        <link rel="stylesheet" type="text/css" href="{% static 'axis/css/component.css' %}">#}
        <link rel="stylesheet" type="text/css" href="{% static 'axis/css/workshops.css' %}">

{% endblock %}

{% block content %}

    <div class="container cont">
        <h2 class="workshop-mob" style="color: #a2a1a8">WORKSHOPS</h2>

{#        <hr style="height: 2px; background-color: whitesmoke; max-width: 30px; border: 0; margin-left: 48%">#}
        <div class="row">
            {% for ws in workshops %}
            <div class="col-md-3 col-sm-6 col-xs-12 ">
                <img class="kraken" src="{{ ws.image.url }}">
                <a href="#" data-toggle="modal" data-target="#{{ ws.name | cut:" " }}"><div class="cta_readmore">{{ ws.name }}</div></a>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="content">
			<canvas class="scene scene--full"  id="scene" style="z-index: -1"></canvas>
            <div class="content__inner">
					<h2 class="content__title">WORKSHOPS</h2>
					<div class="content__subtitle"></div>
            </div>
    </div>

    <!-- Modal -->
    {% for ws in workshops %}
        {% if ws.name != 'Coming Soon' %}
            <div class="modal fade" id="{{ ws.name | cut:" " }}" role="dialog" style="padding-left: 0 !important;">
    <div class="modal-dialog workshop-modal-dialog">

      <!-- Modal content-->
      <div class="modal-content workshop-modal-content" style="background: url('{{ ws.background_image.url | safe }}')">
        <div class="modal-header">
          <a href="javascript:void(0)" class=" closebtn" data-dismiss="modal">&times;</a>
        </div>
        <div class="modal-body workshop-modal-body" style="top: 35px;">
            <div class="container">
							<h3 style="color: whitesmoke">{{ ws.name }}</h3>
                            <div class="panel-group" id="accordion" style="opacity: 0.9">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4 class="panel-title" style="text-align: right">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        Description
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapse1" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                      <div class="row">
                                          <div class="col-lg-4 col-md-4" style="text-align: center">
                                              <img src="{{ ws.image.url }}" />
                                          </div>
                                            <div class="col-lg-8 col-md-8" style="margin-top: 0">
                                                <div>
                                                    <p style="color: #0e0e0e" align="justify">
                                                        {{ ws.description | safe }}
                                                    </p>
                                                </div>
                                            </div>
                                      </div>
{#                                        <div class="row">#}
{#                                            <div class="col-md-2 col-lg-2 col-md-offset-5 col-lg-offset-5" align="center">#}
{#                                                <button type="button" class="btn btn-success" style="margin-top:21px; border-radius: 0">Register</button>#}
{#                                            </div>#}
{#                                        </div>#}
                                    <div class="row">
                                        {% if not ws.registrations_closed %}
                                            {% if request.user.is_authenticated %}
                                                {% if ws.id not in workshop_registered_for %}
                                                    <form method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
                                                        <span class="input input--ruri" style="display: block; max-width: 10000px">
                                                            <input type="text" hidden="hidden" name="workshop_id" value="{{ ws.id }}">
                                                            <input class="input__field input__field--ruri" type="text" style="text-align: center; color: #0e0e0e" name="vnit_id"
                                                                   placeholder="Enter VNIT id if you are form VNIT (ex 18458)">
                                                            <label class="input__label input__label--ruri" for="input-26">
                                                                <span class="input__label-content input__label-content--ruri" style="visibility: hidden">
                                                                    Enter VNIT id if you are form VNIT (ex 18458)
                                                                </span>
                                                            </label>
                                                        </span>
                                                        <div class="col-md-2 col-lg-2 col-md-offset-5 col-lg-offset-5" align="center">
                                                            <button type="submit" class="btn btn-success" style="margin-top:21px; border-radius: 0">Register</button>
                                                        </div>
                                                    </form>
                                                {% else %}
                                                    <div align="center">
                                                        <a type="submit" href="{{ ws.payment_link }}" target="_blank" class="btn btn-success" style="margin-top:21px; border-radius: 0">Pay for workshop (Ignore if already done)</a>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div style="display: block; text-align: center; margin-top: 20px">
                                                    <div class="alert alert-danger" role="alert" style="display: inline-block">
                                                      <strong>Please Login to Register !!!</strong>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div style="display: block; text-align: center; margin-top: 20px">
                                                <div class="alert alert-danger" role="alert" style="display: inline-block">
                                                  <strong>Registration Closed !!!</strong>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
            </div>
        </div>
  </div>
    </div>
    </div>
        {% endif %}
    {% endfor %}
		<script src="{% static 'axis/js/demo.js' %}"></script>
		<script src="{% static 'axis/js/three.min.js' %}"></script>
		<script src="{% static 'axis/js/perlin.js' %}"></script>
		<script src="{% static 'axis/js/TweenMax.min.js' %}"></script>
		<script src="{% static 'axis/js/demo5.js' %}"></script>

{% endblock %}
