{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Exam Rules | AXIS'18</title>
    <meta name="keywords" content="221B Bakerstreet London, 221B, Bakerstreet Rules, Axis, Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
		<link rel="stylesheet" type="text/css" href="{% static 'bakerstreet/css/rules.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Rules</h2>
                <p>Rules will be here</p>

                {% if request.user.is_anonymous %}
                    <button type="button" disabled="disabled">Please Login to Play !!</button>
                {% else %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button type="submit" name="PLAY">Click here to Play !!</button>
                    </form>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock %}