{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Time's Over! | AXIS'18</title>
    <meta name="keywords" content="Axis,T-shirt Axis,T-shirt Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest T-shirt,Nagpur Techfest T-shirt,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/bakerstreet.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <style>

         #bakerstreet_rules_page
         {
             background: url({% static 'axis/images/event_backgrounds/221b-baker-street.jpeg'%}) ;
             position:relative;top:0;height: 100%;width: 100%;

         }


        @media screen and (max-width: 800px) {

            #bakerstreet_rules_page
             {
                overflow-x: hidden;
                 position:absolute;top:0;
                 height:100%;
                 background: url({% static 'axis/images/event_backgrounds/221b-baker-street.jpeg' %});
             }
            #mobile
            {margin-top: 20%;margin-bottom: 10%;}


        }



    </style>

{% endblock %}

{% block content %}

<div  id="bakerstreet_rules_page" style="">
   <div id="" style="width: 100%;height: 100%;">
&nbsp;
        <div class="container" style="margin-top: 5%">

            <div class="jumbotron" style="background-color: rgba(0,0,0,0.5);color: white">
                <h1>Test Over!</h1>
                {% if test %}
                    <p>Don't worry another test is going to be held on {{ test.start }} IST</p>
                {% else %}
                    <p>All tests of Turboflux have been completed.</p>
                {% endif %}
             </div>
            <div id="leaderboard">

            </div>

        </div>

       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>


<div class="row">&nbsp;</div>

   </div>
</div>

{% endblock %}
