
#bakerstreet {

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#sabsebaharkadiv {
    margin-top: 13vh;
}

#question {
    text-align: center;
    font-family: 'Satisfy', cursive;
    background-color: #222;
    border-color: #080808;
    color: #fff;
    font-size: 150%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#question123 {
    text-align: center;
    font-family: 'Satisfy', cursive;
    background-color: #222;
    border-color: #080808;
    color: #fff;
    font-size: 150%;
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

#questionimage {
    /*height: 100%;*/
    width: 100%;
}

#questionimagediv {
    /*height: 50vh;*/
    /*width: 80%;*/
    display: block;
    margin: 0 auto;
}

.table {
    color: #FFFFFF;
    font-family: 'nexa_boldregular', sans-serif;
}

.tooltip123 {
    color: #FFFFFF
}

.tooltip123 .tooltiptext123 {
    visibility: hidden;
    width: 70%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 5.5vh;
    left: 14vh;
    transition: opacity 0.3s;
}

.tooltip123 .tooltiptext123::after {
    content: "";

    bottom: 5.5vh;
    left: 14vh;

}

.tooltip123:hover .tooltiptext123 {
    visibility: visible;
    opacity: 0.9;
    font-size: 2.1vh;
}

@media screen and (max-width: 800px) {

    #bakerstreet {

        position: absolute;
        top: 0;
        height: 100%;


    }

    #sabsebaharkadiv {
        margin-top: 0vh;
    }

    #question {
        margin-top: 20%;
    }

    #questionimagediv {
        height: 39vh;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    #mobilesubmit {
        margin-top: 10px;
    }

}

.radio-input{
    font-size: 1.5em;
    font-weight: bold;
    display: inline;
}