{% extends 'axis/base.html' %}

{% load static %}

{% block title %}
    <title>Exam | AXIS'18</title>
    <meta name="keywords"
          content="Axis,electroblitz Axis,T-shirt Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest T-shirt,Nagpur Techfest T-shirt,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <script>
        // set this variable in seconds for countdown
        var countdown = {{ countdown }};
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/bakerstreet.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'electroblitz/css/home.css' %}">
    <script src="{% static 'electroblitz/js/countdown.js' %}"></script>
{% endblock %}

{% block content %}

    <div id="bakerstreet">
        <div id="sabsebaharkadiv" style="padding-left: 4%;padding-right: 4%">
            <div class="row">
                <div class="col-md-2" style="background-color:rgba(0,0,0,0)">
                    <div id="question123" class="well yooo">Question List</div>
                    <div id="leaderboard" style=" height: 80%; overflow: auto;">
                        <table class="table" style="background-color: rgba(0,0,0,0.3);">
                            {#                      <thead>#}
                            {#                            <tr>#}
                            {#                              <td>Name</td>#}
                            {#                              <td>Score</td>#}
                            {##}
                            {#                            </tr>#}

                            {% for q in questions %}
                                <tr>
                                    <td style="text-align: center; cursor: pointer">
                                        <form method="post" action="" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <input hidden="hidden" name="question_id" value="{{ q.id }}">
                                            {#                                            <a onclick="$(this).closest('form').submit()" style="display:inline-block;width: 100%;">{{ forloop.counter }}</a>#}
                                            {% if q.id == last_question.id %}
                                                <button type="submit" role="link" class="btn btn-info"
                                                        name="change_question">Q {{ forloop.counter }}</button>
                                            {% elif q.id in attempted_question_ids %}
                                                <button type="submit" role="link" class="btn btn-success"
                                                        name="change_question">Q {{ forloop.counter }}</button>
                                            {% else %}
                                                <button type="submit" role="link" class="btn btn-warning"
                                                        name="change_question">Q {{ forloop.counter }}</button>
                                            {% endif %}
                                        </form>
                                    </td>
                                    {#                                    <td>{{ user.questions_solved }}</td>#}
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
                <div class="col-md-10" style="background-color:rgba(0,0,0,0)">

                    <div id="question" class="well">Time Left : - - -</div>
                    <div id="" class="well">{{ last_question.text | safe}}</div>
                    {% if last_question.image %}
                        <div id="questionimagediv">
                            <img id="questionimage" src="{{ last_question.image.url }}"/>
                        </div>
                    {% endif %}
                    <div style="padding-top: 2%">
                        {% if last_question.id not in attempted_question_ids %}
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input hidden="hidden" name="question_id" value="{{ last_question.id }}">
                                <div class="row form-group center">
                                    <div class="row center">
                                        <div class="col-sm-offset-2 col-sm-8" style="color: whitesmoke; text-align: center">
                                            <div class="row" style="margin-top: 20px"   >
                                                <div class="col-xs-6">
                                                    <input type="radio" name="answer" value="A" checked>
                                                    <div class="radio-input">&nbsp;&nbsp;A</div>
                                                    <br>
                                                </div>
                                                <div class="col-xs-6">
                                                    <input type="radio" name="answer" value="B" checked>
                                                    <div class="radio-input">&nbsp;&nbsp;B</div>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 20px">
                                                <div class="col-xs-6">
                                                    <input type="radio" name="answer" value="C" checked>
                                                    <div class="radio-input">&nbsp;&nbsp;C</div>
                                                    <br>
                                                </div>
                                                <div class="col-xs-6">
                                                    <input type="radio" name="answer" value="D" checked>
                                                    <div class="radio-input">&nbsp;&nbsp;D</div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="text-align: center; margin-top: 20px">
                                        {#                                    <div id="mobilesubmit">#}
                                        <button type="submit" class="btn btn-success" name="submit_answer">Submit</button>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <div style="text-align: center; color: forestgreen; font-size: 1.5em; font-weight: bold">
                                You have successfully submitted the answer of this question.
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>

    </div>
{% endblock %}
