{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Bakerstreet | AXIS'18</title>
    <meta name="keywords" content="Axis,bakerstreet Axis,T-shirt Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest T-shirt,Nagpur Techfest T-shirt,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="AXIS is the largest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
     <link rel="stylesheet" type="text/css" href="{% static 'axis/css/bakerstreet.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">

    <style>

         #bakerstreet
         {   background: url({% static 'axis/images/asfalt-light.png' %});
            position:absolute;top:0;height: 100%;width: 100%;
         }
            #sabsebaharkadiv
            {margin-top:13vh;}
         #question
        {
            text-align: center;font-family: 'Satisfy' , cursive;    background-color: #222;
             border-color: #080808;color: #fff;font-size: 150%;margin-bottom: 0px;background-color: rgba(0,0,0,0);
             border: none;
        }
         #question123
        {
            text-align: center;font-family: 'Satisfy' , cursive;    background-color: #222;
             border-color: #080808;    color: #fff;font-size: 150%;margin-bottom: 0px;background-color: rgba(0,0,0,0);
             border: none;
        }

        #questionimage
        {    height: 100%;  width: 100%; }
        #questionimagediv
        {
            height:65vh;width: 90%;display: block;margin: 0 auto;
        }
        .table
        {
            color: #FFFFFF;
            font-family: 'nexa_boldregular', sans-serif;
        }
   .tooltip123
   {color: #FFFFFF}

    .tooltip123 .tooltiptext123 {
    visibility: hidden;
    width: 70%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
   padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 5.5vh;
    left:14vh;
    transition: opacity 0.3s;
}

.tooltip123 .tooltiptext123::after {
      content: "";

    bottom: 5.5vh;
    left:14vh;

}

.image{
    height:65vh !important;width: 100% !important;
}

.tooltip123:hover .tooltiptext123 {
    visibility: visible;
    opacity: 0.9;
    font-size: 2.1vh;
}
        @media screen and (max-width: 800px) {

            #bakerstreet
             {

                 position:absolute;top: 0;
                 height:100%;
                 background: url({% static 'axis/images/asfalt-light.png' %});

             }

            #sabsebaharkadiv
            {margin-top:0vh;}
            #question
            {margin-top: 20%;}
            #questionimagediv
            {
                height:39vh;width: 100%;display: block;margin: 0 auto;
            }
            #mobilesubmit
            {
                margin-top: 10px;
            }
            .image{
                height:39vh !important;width: 100% !important;
            }
        }


    </style>

{% endblock %}

{% block content %}

<div  id="bakerstreet" >
    <div  id="sabsebaharkadiv" style="padding-left: 4%;padding-right: 4%">
            <div class="row">
                <div class="col-md-8" style="background-color:rgba(0,0,0,0)">

                    <div id="question" class="well" >Question&nbsp;&nbsp;&nbsp;{{ question.level }}</div>
                    <div id="questionimagediv"  >
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                          </ol>

                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div class="item active">
                              <img class="image" src="{{ question.image1.url }}" alt="Image 1" >
                            </div>

                            <div class="item">
                              <img class="image" src="{{ question.image2.url }}" alt="Image 2">
                            </div>

                            <div class="item">
                              <img class="image" src="{{ question.image3.url }}" alt="Image 3">
                            </div>
                          </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                    <div style="padding-top: 2%">
{#               <form method="post" enctype="multipart/form-data">#}
{#    {% csrf_token %}#}
{#        <input type="text" name="answer" id="answer" placeholder="Your Answer..." required>#}
{#        <input type="submit" name="submit_answer">#}
{#    </form>#}
{#    <p>Hints : {{ question.hint }}</p>         #}
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row form-group">
                                <div class="col-sm-offset-2 col-sm-4"><input type="text" class="form-control"  name="answer" id="answer" placeholder="Your Answer..." required></div>
                                <div class="col-sm-6">
                                    <div id="mobilesubmit">
                                    <button type="submit" class="btn btn-success" name="submit_answer" >Submit</button>
                                    <span class="tooltip123" style="margin-left: 1%"> <button class="btn btn-info" type="button">Hint</button>
                                            <ol class="tooltiptext123">
                                                {% for hint in hints %}
                                                        <li>{{ hint.hint }}</li>
                                                {% endfor %}
                                            </ol>
                                    </span>
                                        </div>
                                </div>
                            </div>
{#                        <p style="color: whitesmoke; position: absolute">Note: Answers for each question should be in lowercase characters only, having no space in between in case of answer comprising of two or more words.</p>#}
                        </form>
                    </div>

                </div>
                <div class="col-md-4" style="background-color:rgba(0,0,0,0)">
                    <div id="question123" class="well yooo" >Leaderboard</div>
                    <div id="leaderboard">
                        <table class="table" style="background-color: rgba(0,0,0,0.3)">
    {#                      <thead>#}
                            <tr>
                              <td>Name</td>
                              <td>Score</td>

                            </tr>

                            {% for user in leaderboard %}
                                <tr>
                                    <td>{{ user.user__axis_id }}</td>
                                    <td>{{ user.questions_solved }}</td>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
    </div>

</div>
    <script>
        $(document).ready(function () {
            function get_leaderboard() {

{#                alert("in setInterval");#}
                var row = $('#leaderboard');
                $.ajax({
                    url: "/bakerstreet/ajax-leaderboard/",
                    type: "post",
                    dataType: 'json' // ** ensure you add this line **

                }).success(function (data) {

                    var s = ("<table class=\"table\" style=\"background-color: rgba(0,0,0,0.3); text-align: center;\">" +
                        "<tr style=\"color: black; background-color: white\">" +
                            "<td>Rank</td>" +
                            "<td>Axis ID</td>" +
                            "<td>Score</td>" +
                        "</tr>");

                    var counter = 0;

                    jQuery.each(data.leaderboard, function (index, item) {
                        counter++;

                        if(counter != data.leaderboard.length) {
                            s += ("<tr>" + "<td>" + counter + "</td>" +
                                "<td>" + data.leaderboard[index].user__axis_id + " " + "</td>" +
                                "<td>" + data.leaderboard[index].questions_solved + " " +
                                "</tr>");
                        }
                        else{
                            s += ("<tr style=\"color: black; background-color: white\">" + "<td>" + data.my_rank + "</td>" +
                                "<td>" + data.leaderboard[index].user__axis_id + " " + "</td>" +
                                "<td>" + data.leaderboard[index].questions_solved + " " +
                                "</tr>");
                        }
                    });

                    s += ("</table>");
                    row.html(s);

                })

            }
            get_leaderboard();
            setInterval(get_leaderboard, 60000);
    {#    setInterval(function(){ alert("Hello"); }, 3000);#}
        })
    </script>
{# <script>#}
{#        $(document).ready(function () {#}
{##}
{#            setInterval(function () {#}
{##}
{#                alert("in setInterval");#}
{#                var row = $('#leaderboard');#}
{#                $.ajax({#}
{#                    url: "/bakerstreet/ajax-leaderboard/",#}
{#                    type: "post",#}
{#                    dataType: 'json' // ** ensure you add this line **#}
{##}
{#                }).success(function (data) {#}
{##}
{#                    row.innerHTML("<table class=\"table\" style=\"background-color: rgba(0,0,0,0.3)\">" +#}
{#                        "<tr>" +#}
{#                            "<td>Name</td>" +#}
{#                            "<td>Score</td>" +#}
{#                        "</tr>");#}
{##}
{#                    jQuery.each(data.leaderboard, function (index, item) {#}
{#                        //now you can access properties using dot notation#}
{#                        alert("ahoy!");#}
{#                        alert(data.leaderboard[index].user__f_name);#}
{#                        row.append("<tr>" +#}
{#                                        "<td>" + data.leaderboard[index].user__f_name + " " + data.leaderboard[index].user__l_name + "</td>" +#}
{#                                        "<td>" + data.leaderboard[index].questions_solved + "<" +#}
{#                                    "</tr>");#}
{#                    });#}
{##}
{#                    row.append("</table>")#}
{#                })#}
{##}
{#            }, 10000);#}
    {#    setInterval(function(){ alert("Hello"); }, 3000);#}
{#        })#}
{#    </script>#}

{% endblock %}


{#$(document).ready(function () {#}
{#        var row = ;#}
{#        $.ajax({#}
{#            type: "POST",#}
{#            url: "test4.aspx/GetDetails",#}
{#            data: "{}",#}
{#            contentType: "application/json; charset=utf-8",#}
{#            dataType: "json",#}
{#            success: function (msg) {#}
{#                $.each(msg.d, function (index, obj) {#}
{#                    row += "<tr><td>" + obj.productcode + "</td><td>" + obj.productname + "</td><td>" + obj.costprice + "</td></tr>";#}
{##}
{#                });#}
{##}
{#                $("#tbDetails tbody").append(row);#}
{#            }#}
{#        });#}
{#    });#}