{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Bakerstreet | AXIS'18</title>
    <meta name="keywords" content="221B Bakerstreet London, 221B, Bakerstreet, Axis, Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest,Nagpur Techfest,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
		<link rel="stylesheet" type="text/css" href="{% static 'bakerstreet/css/home.css' %}" />
{% endblock %}

{% block content %}
    <div class="container">
    <img src="{{ question.image.url }}" width="700px" height="300px">

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <input type="text" name="answer" id="answer" placeholder="Your Answer..." required>
        <input type="submit" name="submit_answer">
    </form>
    <p>Hints : {{ question.hint }}</p>

{#    <ul>#}~
{#    {% for user in leaderboard %}#}
{##}
{#        <li>{{ user.user__f_name }} : {{ user.questions_solved }}</li>#}
{##}
{#    {% endfor %}#}
{#    </ul>#}

    <h2>Leaderboard</h2>
    <div id="leaderboard">
        <table>
            <tr>
                <td>Name</td>
                <td>Score</td>
            </tr>
            {% for user in leaderboard %}
                <tr>
                    <td>{{ user.user__f_name }} {{ user.user__l_name }}</td>
                    <td>{{ user.questions_solved }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
</div>
    <script>
        $(document).ready(function () {
            function get_leaderboard() {

{#                alert("in setInterval");#}
                var row = $('#leaderboard');
                $.ajax({
                    url: "/bakerstreet/ajax-leaderboard/",
                    type: "post",
                    dataType: 'json' // ** ensure you add this line **

                }).success(function (data) {

                    row.html("<table><tr><td>Name</td><td>Score</td></tr>");

                    jQuery.each(data.leaderboard, function (index, item) {
                        //now you can access properties using dot notation
{#                        alert("ahoy!");#}
{#                        alert(data.leaderboard[index].user__f_name);#}
                        row.append("<tr><td>" + data.leaderboard[index].user__f_name + " " + data.leaderboard[index].user__l_name + "</td><td>" + data.leaderboard[index].questions_solved + "</td></tr>");
                    });

                    row.append("</table>")
                })

            }
            get_leaderboard();
            setInterval(get_leaderboard, 10000);
    {#    setInterval(function(){ alert("Hello"); }, 3000);#}
        })
    </script>

{% endblock %}


{#$(document).ready(function () {#}
{#        var row = ;#}
{#        $.ajax({#}
{#            type: "POST",#}
{#            url: "test4.aspx/GetDetails",#}
{#            data: "{}",#}
{#            contentType: "application/json; charset=utf-8",#}
{#            dataType: "json",#}
{#            success: function (msg) {#}
{#                $.each(msg.d, function (index, obj) {#}
{#                    row += "<tr><td>" + obj.productcode + "</td><td>" + obj.productname + "</td><td>" + obj.costprice + "</td></tr>";#}
{##}
{#                });#}
{##}
{#                $("#tbDetails tbody").append(row);#}
{#            }#}
{#        });#}
{#    });#}