{% extends 'axis/base.html' %}

{%  load static %}

{% block title %}
    <title>Thank_You | AXIS'18</title>
    <meta name="keywords" content="Axis,T-shirt Axis,T-shirt Techfest VNIT, VNIT Techfest,NIT Nagpur Techfest T-shirt,Nagpur Techfest T-shirt,Central India Techfest,Central India Biggest Techfest,etc">
    <meta name="description" content="Axis is the biggest technical festival of Central India.">

{% endblock %}

{% block stylesheetsAndScriptsInHead %}
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/updates.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'axis/css/bakerstreet.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">
    <style>

         #bakerstreet_rules_page
         {
             background: url({% static 'axis/images/event_backgrounds/221b-baker-street.jpeg'%}) ;
             position:relative;top:0;height: 100%;width: 100%;

         }


        @media screen and (max-width: 800px) {

            #bakerstreet_rules_page
             {
                overflow-x: hidden;
                 position:absolute;top:0;
                 height:100%;
                 background: url({% static 'axis/images/event_backgrounds/221b-baker-street.jpeg' %});
             }
            #mobile
            {margin-top: 20%;margin-bottom: 10%;}


        }



    </style>

{% endblock %}

{% block content %}

<div  id="bakerstreet_rules_page" style="">
   <div id="" style="width: 100%;height: 100%;">
&nbsp;
        <div class="container" style="margin-top: 5%">

            <div class="jumbotron" style="background-color: rgba(0,0,0,0.5);color: white">
                <h1>Congratulations !!!</h1>
                <p>You have successfully completed the test! Thank You for participating!</p>
             </div>
            <div id="leaderboard">

                    </div>

        </div>

       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div>
       <div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>



<div class="row">&nbsp;</div>

   </div>
</div>
    <script>
        $(document).ready(function () {
            function get_leaderboard() {

{#                alert("in setInterval");#}
                var row = $('#leaderboard');
                $.ajax({
                    url: "/bakerstreet/ajax-leaderboard/",
                    type: "post",
                    dataType: 'json' // ** ensure you add this line **

                }).success(function (data) {

                    var s = ("<table class=\"table\" style=\"background-color: rgba(0,0,0,0.3); color: whitesmoke; text-align: center;\">" +
                        "<tr style=\"color: black; background-color: white\">" +
                            "<td>Rank</td>" +
                            "<td>Name</td>" +
                            "<td>Score</td>" +
                        "</tr>");

                    var counter = 0;

                    jQuery.each(data.leaderboard, function (index, item) {
                        counter++;

                        if(counter != data.leaderboard.length) {
                            s += ("<tr>" + "<td>" + counter + "</td>" +
                                "<td>" + data.leaderboard[index].user__f_name + " " + data.leaderboard[index].user__l_name + "</td>" +
                                "<td>" + data.leaderboard[index].questions_solved + " " +
                                "</tr>");
                        }
                        else{
                            s += ("<tr style=\"color: black; background-color: white\">" + "<td>" + data.my_rank + "</td>" +
                                "<td>" + data.leaderboard[index].user__f_name + " " + data.leaderboard[index].user__l_name + "</td>" +
                                "<td>" + data.leaderboard[index].questions_solved + " " +
                                "</tr>");
                        }
                    });

                    s += ("</table>");
                    row.html(s);

                })

            }
            get_leaderboard();
            setInterval(get_leaderboard, 10000);
    {#    setInterval(function(){ alert("Hello"); }, 3000);#}
        })
    </script>

{% endblock %}
