.heading-sponsors{
    font-size: 30px;
    font-family: "Roboto", "Adobe Blank";
    font-weight: 100;
    font-style: normal;
    text-align: center;
    color: black;
    margin-bottom: 0;
}
.paper{
    color: rgba(0, 0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    border-radius: 2px;
    height: 100%;
    width: 100%;
    margin: 20px 0px 20px 0px;
    text-align: center;
    display: block;
    padding-top: 10px;
}

.sponsor-container{
    background: url("../../../static/axis/images/whirlpool.png");
    width: 100%;
    height: initial;
}

.img-responsive{
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.sponsor-line{
    border-top: 1px solid #aaaaaa;
    width: 80%
}


.title-s{
    height: 350px;
}

@media screen and (max-width: 700px) {


  .proshow_spons{
    height: 250px;
  }

  .audio_spons{
    width: 50%;
  }

  .title-s{
      height: 200px;;
  }
}

nav {
    background-color: rgba(0, 0, 0, 1);
}
.cl-effect-20{
    font-size: 11px !important;
}
@media screen and (max-width: 42em){
    .link--kukuri {
         font-size: 2em !important;
    }
}
@media screen and (min-width: 968px){
	nav a{
		font-size: 11px !important;
	}
}
.modal-content{
    color: #696969;
}